<!DOCTYPE html>
<html lang="en">
<head>        
    <title>Vise</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    
    <link href="/static/css2/stylesheets.css" rel="stylesheet" type="text/css" />        
    
    <script type='text/javascript' src='/static/js/plugins/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='/static/js/plugins/jquery/jquery-ui.min.js'></script>   
    <script type='text/javascript' src='/static/js/plugins/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/static/js/plugins/jquery/globalize.js'></script>    
    <script type='text/javascript' src='/static/js/plugins/bootstrap/bootstrap.min.js'></script>
    
    <script type='text/javascript' src='/static/js/plugins/uniform/jquery.uniform.min.js'></script>
    
    <script type='text/javascript' src='/static/js/plugins.js'></script>    
    <script type='text/javascript' src='/static/js/actions.js'></script>    
    <script type='text/javascript' src='/static/js/settings.js'></script>
</head>
<body class="bg-img-num1"> 
    
    <div class="container">        

        <div class="login-block">
            <div class="block block-transparent">
                <div class="content controls npt">
                    <div class="single-pane">
                        <h3 style="text-align:center;color:#ADEAEA;font-size:100px;font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";"><span style="letter-spacing:10px;""><i>V</i></span>ise</h3>
                    </div>
                    {% if errors %}
                        <div class="form-errors">
                            {% for error in errors %}
                                <div class="alert alert-danger">
                                    {{error}}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
        <form class="m-t" role="form" method="POST" action="/login">
            {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="" name="username" >
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="" name="password" >
        </div>
        <div class="col-md-6">
        <button type="submit" class="btn btn-default btn-block btn-clean">Login</button>
        </div>
        <div class="col-md-6">
         <a href="/register" class="btn btn-default btn-block btn-clean">Register</a>  
        </div>
        </form> </br></br>
                    <div class="row-form">          
                        <div class="col-md-12">
                           <p class="text-muted text-center" style="font-size:12px;font-weight:bold;">Forgot your password?</p>
                        </div>
                   </div>  
                       <div class="row-form">          
                        <div class="col-md-12">
                           <a href="/recover_password" class="btn btn-default btn-block btn-clean">Forgot</a>
                        </div>
                   </div>                                
                </div>
            </div>
        </div>
    </div>

</body>
</html>