{% extends "public/base.html" %}

{% block body %}
<div>
    <div>
        <h3 style="text-align:center;text-weight:100;text-shadow: 3px 3px 3px rgba(0,0,0,0.4);color:#ADEAEA;font-size:100px;font-family:" helveticaneue-light",="" "helvetica="" neue="" light",="" neue";"=""><span style="letter-spacing:10px;" "=""><i>V</i></span>ise</h3>
    </div>

    {% if errors %}
        <div class="form-errors">
            {% for error in errors %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="single-pane">
      <h3>Recover Password</h3>
      <p>Enter your new password below to confirm the password change.</p>
    </div>
    <form class="m-t" role="form" action="/new_password/{{token}}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input name="password" type="password" class="form-control" placeholder="New Password" required="">
        </div>
        <div class="form-group">
            <input name="passwordConfirm" type="password" class="form-control" placeholder="Confirm New Password" required="">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Recover</button>

        <a href="/login">Login</a>
    </form>
</div>

{% endblock %}
