{% extends "public/base.html" %}

{% block body %}
<div>
    <div>
        <h3 style="text-align:center;color:#ADEAEA;font-size:100px;font-family:" helveticaneue-light",="" "helvetica="" neue="" light",="" neue";"=""><span style="letter-spacing:10px;" "=""><i>V</i></span>ise</h3>
    </div>

    {% if errors %}
        <div class="form-errors">
            {% for error in errors %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="single-pane">
        <h3>Recover Password</h3>
        <p>Enter your email to recover your password</p>
    </div>
    <form class="m-t" role="form" action="/recover_password" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input name="email" type="email" class="form-control" placeholder="Email" required="">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Recover</button>

        <a href="/login">Login</a>
    </form>
</div>

{% endblock %}