{% extends "public/base.html" %}

{% block body %}
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4">
    <div>
        <h3 style="text-align:center;font-weight:100;text-shadow: 3px 3px 3px rgba(0,0,0,0.4);color:#ADEAEA;font-size:100px;font-family:'Raleway',thin;" id="splash">
            <span style="letter-spacing:10px;"><i>V</i></span>ise
        </h3>
    </div>

    {% if errors %}
        <div class="form-errors">
            {% for error in errors %}
                <div class="alert alert-danger">
                    {{error}}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="single-pane">
        <h3 style="text-align:center;font-weight:100;font-family:" helveticaneue-light",="" "helvetica="" neue="" light",="" neue";"="">Recover Password</h3>
        <p style="text-align:center;font-weight:100;font-family:" helveticaneue-light",="" "helvetica="" neue="" light",="" neue";"="">Enter your email to recover your password</p>
    </div>
    <form class="m-t" role="form" action="/recover_password" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input name="email" type="email" class="form-control" placeholder="Email" required="">
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Recover</button>

        <a href="/login">Login</a>
    </form>
<div class="col-md-4">
</div>
</div>
</div>

{% endblock %}