Dear [USER_NAME_REPLACE],
<br>
<br>
We received a request for a password change for the account associated with this email address.
Please click the link below to reset your password:
<br>
<br>
<a href="http://127.0.0.1:8000/new_password/[TOKEN_REPLACE]/">Reset Password</a>
<br>
<br>
<!-- If you have any questions, please contact us at [MM_Employee_Data name='email']. -->
If you do not wish to reset your password, ignore this message. It will
expire in 4 hours.
<br>
<br>
Regards,
<br>
The FSAI Team
