{% extends "base.html" %}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type='text/javascript' src='/static/js/plugins.js'></script>    
    <script type='text/javascript' src='/static/js/actions.js'></script>    
    <script type='text/javascript' src='/static/js/charts.js'></script>
    <script type='text/javascript' src='/static/js/settings.js'></script> 
    <script src="//js.pusher.com/2.2/pusher.min.js"></script>
{% block content %}
    <div class="col-md-5">
        <div class="block block-drop-shadow">
            <div class="head bg-dot20">   
                <h2>My Portfolios</h2>
                     <div class="side pull-right"> 
                             <div class="btn-group btn-group-xs"><a class="btn btn-default btn-block btn-clean" href="/user/portfolio_settings">New</a></div>
                     </div>
                              <div class="col-lg-12">   
                                    <table class="table table-hover margin bottom">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th class="text-center">Stocks</th>
                                            <th class="text-center">Current Value</th>
                                            <!--<th class="text-center">Actions</th> -->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>US Markets Portfolio</td>
                                            <td class="text-center"><b>14</b> Tickers in <b>4</b> Markets</td>
                                            <td class="text-center small">1604$ <span style="color:#00ff00">(+2.81%)</span></td>
                                              <!--
                                              <td class="text-center">
                                                <a class="btn btn-default" href="/user/portfolio_settings"><i class="icon-cogs"></i></a>
                                                <a class="btn btn-default btn-block btn-clean" href="/user/portfolio_optimize">Select</a>
                                            -->
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>High Risk European Portfolio</td>
                                            <td class="text-center"><b>38</b> Tickers in <b>5</b> Markets</td>
                                            <td class="text-center small">38627$ <span style="color:#ff4d4d">(-1.3%)</span></td>
                                              <!--
                                              <td class="text-center">
                                                <a class="btn btn-default" href="/user/portfolio_settings"><i class="icon-cogs"></i></a>
                                                <a class="btn btn-default btn-block btn-clean" href="/user/portfolio_optimize">Select</a>
                                              -->
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>Low Risk Long Term Portfolio</td>
                                            <td class="text-center"><b>2</b> Tickers in <b>1</b> Markets</td>
                                            <td class="text-center small">9745$ <span style="color:#00ff00">(+15.4%)</span></td>
                                              <!--
                                              <td class="text-center">
                                                <a class="btn btn-default" href="/user/portfolio_settings"><i class="icon-cogs"></i></a>
                                                <a class="btn btn-default btn-block btn-clean" href="/user/portfolio_optimize">Select</a>
                                             -->
                                            </td>
                                        </tr>                                  
                                        </tbody>
                                    </table>
                                </div>
             </div>
       </div>
       <div class="block block-drop-shadow">
          <div class="head bg-dot30">
                        <h2>Market Charts</h2>
                        <div class="side pull-right">
                            <ul class="buttons">                                
                                <li><a href="#"><span class="icon-refresh"></span></a></li>
                                <li><a href="#"><span class="icon-cogs"></span></a></li>
                            </ul>
                        </div>                        
                        <div class="ibox-content" style="display: block;background-color: rgba(0,0,0,0);border:0px">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="morris-line-chart" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);height:200px;"></div>
                                </div>
                            </div>
                        </div> 
                        <div class="head-panel nm">
                            <div class="hp-info hp-simple pull-left hp-inline">
                                <span class="hp-main"><span class="icon-circle"></span> Series A</span>                                
                            </div>                 
                            <div class="hp-info hp-simple pull-left hp-inline">                                
                                <span class="hp-main"><span class="icon-circle text-info"></span> Series B</span>
                            </div>                                                                          
                       </div>                       
         </div>   
        </div>
    </div>   
               <!--end of left side elements-->
               <!--beginning of right side elements-->
    <div class="col-md-5" style="padding-right:50px">  
        <div class="block block-drop-shadow">     
                <div class="head bg-dot30">
                    <h2>Portfolio Returns</h2>
                        <div class="side pull-right">                            
                            <ul class="buttons">                                
                                <li><a href="#"><span class="icon-refresh"></span></a></li>
                                <li><a href="#"><span class="icon-cogs"></span></a></li>
                            </ul>
                        </div>                        
                        <div class="head-panel nm tac">
                                <div class="sparkline">                            
                                    <span sparkType="pie" sparkWidth="100" sparkHeight="100">5079,3768,7537</span>
                                </div>                                                         
                        </div> 
                        <div class="head-panel nm">
                                <div class="hp-info hp-simple pull-left hp-inline">
                                    <span class="hp-main"><span class="icon-circle"></span> US Portfolio Markets 5079  [ 31% ]</span>                                
                                </div>                 
                                <div class="hp-info hp-simple pull-left hp-inline">                                
                                    <span class="hp-main"><span class="icon-circle text-info"></span> High Rish European Portfolio 3768  [ 23% ]</span>
                                </div>                            
                                <div class="hp-info hp-simple pull-left hp-inline">                                
                                    <span class="hp-main"><span class="icon-circle text-primary"></span> Low Rish Long Term Portfolio 7537  [ 46% ]</span>
                                </div>                                                
                        </div>                      
                </div>                                                                                                             
        </div>
        <div class="block block-drop-shadow">  
                        <div class="header">
                            <h2>Messaging</h2>
                            <div class="side pull-right">                            
                                <ul class="buttons">                                
                                    <li><a href="#"><span class="icon-user"></span></a></li>
                                    <li><a href="#"><span class="icon-cogs"></span></a></li>
                                </ul>
                            </div>                                                
                        </div>
                        <div class="content messages npr npb">                         
                            <div class="scroll oh" style="height: 250px;">
                                <div class="messages-item">
                                    <img src="/static/img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail"/>
                                    <div class="messages-item-text">Dmitry has joined this session!</div>
                                    <div class="messages-item-date">14:32 30.08.2013</div>
                                </div>                                                                                                            
                                <div class="messages-item">
                                    <img src="/static/img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail"/>
                                    <div class="messages-item-text">Connected with Dmitry. Your reference number for this chat session is 2508333.</div>
                                    <div class="messages-item-date">14:20 30.08.2013</div>
                                </div>                        
                                <div class="messages-item inbox">
                                    <img src="/static/img/example/user/olga_s.jpg" class="img-circle img-thumbnail"/>
                                    <div class="messages-item-text">Hello Dmitry</div>
                                    <div class="messages-item-date">14:19 30.08.2013</div>
                                </div>
                                  
                            </div>
                        </div>
                        <div class="footer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-comment"></i></span>
                                <input type="text" class="form-control" placeholder="message..">
                                <span class="input-group-btn">
                                    <button class="btn"><span class="icon-chevron-up"></span></button>
                                </span>
                            </div>                        
                        </div>
        </div>  
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>    
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

<script>
$(function() {
    Morris.Line({
        element: 'morris-line-chart',
        data: [{ y: '2006', a: 100, b: 90 },
            { y: '2007', a: 75, b: 65 },
            { y: '2008', a: 50, b: 40 },
            { y: '2009', a: 75, b: 65 },
            { y: '2010', a: 50, b: 40 },
            { y: '2011', a: 75, b: 65 },
            { y: '2012', a: 100, b: 90 } ],
        xkey: 'y',
        ykeys: ['a', 'b'],
        resize: false,
        lineColors: ['#FFFFFF','#157DEC'],
    });
});
</script>
  <script>

    Pusher.logToConsole = true;
    var pusher = new Pusher('494655f2d7fa16cf1fd7');
    var notificationsChannel = pusher.subscribe('live_notification');
    notificationsChannel.bind('new_notification', function(notification) {
        var message = notification.message;
        toastr.success(message)
    })
    console.log(notificationsChannel)
  </script>
      <script>
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(){
                if (xhr.readyState==4 && xhr.status==200)
                {
                    var data = JSON.parse(xhr.responseText).items;
                    console.log(data)
                }
            };
        xhr.open('GET','http://rss2json.com/api.json?rss_url=http://finance.yahoo.com/rss/headline?s=yhoo,msft,tivo',true);
        xhr.send();   
    </script>                    
{% block body %}

{% endblock %}

        </div>
        <div class="footer" style="background-color:rgba(255,255,255,0);border:0px">
            <a href="#" class="pull-right">Contact Us&nbsp;</a>
            <div>
                <strong>Copyright</strong> FSAI &copy; 2015
            </div>
        </div>

    </div>
</div>
{% endblock %}
