{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
    {% block content %}

<style>
svg {
  font: 10px sans-serif;
  max-height: 265px !important;
}
</style>
  
  <link href="/static/assets/js/plugins/nvd3/nv.d3.min.css" rel="stylesheet">
  <!-- // <script src="/static/assets/js/plugins/nvd3/nv.d3.min.js"></script> -->
  <!-- // <script src="/static/assets/js/plugins/nvd3/build/nv.d3.css"></script> -->
  <script src="/static/assets/js/plugins/nvd3/build/nv.d3.js"></script>
  <script src="/static/assets/js/plugins/nvd3/lib/stream_layers.js"></script>
 
<div class="col-lg-2 col-md-2 col-sm-2" style="padding:0px">
              <div id="new_input" style="display:none">
                    &nbsp &nbsp
                    Stock: <input type="text" name="stock" id="stock" value="YHOO" 
                    style="width: 70px;">
                    &nbsp &nbsp
                    Start: <input type="text" name="start" id="start" value="2014-08-10"
                    style="width: 80px;">
                    &nbsp &nbsp
                    End: <input type="text" name="end" id="end" value="2015-03-10" 
                    style="width: 80px;">   
                    &nbsp &nbsp
                    <input name="updateButton" 
                    type="button" 
                    value="Update" 
                    onclick="updateData()" />
                </div>
</div>
<div class="sceneElement" data-viewport="0">
<div class="col-lg-12 col-md-12 col-sm-8 col-xs-12" style="margin:0px;height:auto;padding-left:0px;padding-right:0px;;position:relative;bottom:0px;padding-bottom:100px;margin-bottom:-50px;padding-top:10px" id="ha">
  <div class="col-md-8" style="padding-left:15px;padding-top:10px;padding-right:15px">
      <div class="row" >
      <div class="col-md-6" style="margin-top:-10px">
        <div class="block" style="width:95%;left:4%;margin-bottom:0px;background:rgba(0,0,0,0.2)">
                    <div class="header">
                        <div class="side pull-left">
                            <button type="button" class="btn btn-default btn-clean" style="border: 0px" onClick="i_openNav()">
                            <!-- YOUR PROFILE -->
                            <a href="#" ><span class="icon-pencil"></span></a>Edit Your Profile</button>
                        </div>
                          
                    </div>
        </div> 
        <div class="block block-transparent" style="width:95%;left:4%;">
                    <div class="content" style="height:150px;background:rgba(0,0,0,0.2)">
                        <div class="row" style="height:100%;overflow:hidden">
                            <div class="col-lg-4" style="text-align:center;padding-right:0px;margin-left:25px;height:100%">
                               <img src="/static/img/profile.svg"  style="width: 100px;height: 100px;position: relative;top: 15px;border-radius:99px">
                           <!--  {% if picture_url %}
                                   <img src="{{picture_url}}/"  style="width: 100px;height: 100px;position: relative;top: 15px;">
                                   {{picture_url}}
                            {% else %} -->
                             
                            <!-- {% endif %} -->

                            </div>
                            <div class="col-lg-7" style="padding-left:0px">
                                <div style="position:relative;top:20px;text-align:center;width:100%;font-size:26px;font-weight:100;-webkit-font-smoothing: antialiased;font-family:'Helvetica Neue';margin-top:5%">Hello, {{username}} </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer" style="background:transparent">

                    </div>
        </div>
      </div>
<link href="/static/css2/d3.pie.css" rel="stylesheet">
     <div class="col-md-6" style="margin-top:-10px">
        <div class="block" style="width:95%;right:-1%;background:rgba(0,0,0,0.2);margin-bottom:0px">
                    <div class="header">
                        <h2>Sector Breakdown</h2>
                          
                    </div>   
        </div> 
        <div class="block block-transparent" style="width:95%;right:-1%;background:rgba(0,0,0,0.2)">              
                    <div class="content" style="height:150px" id="sectorContent">
<script>
var idx = 0
var right_idx = function() {
    if (idx == 0) {
        idx = 1
        for (var i=0;i<=6;i++) {
            $("tr#secondSeven")[i].style.display = "table-row"
            $("tr#firstSeven")[i].style.display = "none"
        }
    } else if (idx == 1) {
        idx = 0
        for (var i=0;i<6;i++) {
            $("tr#secondSeven")[i].style.display = "none"
            $("tr#firstSeven")[i].style.display = "table-row"
        }
    }
    // if (idx == 1) {
    //     for (var i=0;i<6;i++) {
    //         $("tr#thirdSeven")[i].style.display = "table-row"
    //     }
    //     idx = -1
    // }

}
</script>
                        <div class="row">
                            <div class="col-md-6" id="sector_size">
                               <div id="pieChart" style="position:relative;top:-45px;right:0px"></div>
                               <button  onClick="right_idx()" style="display: inline-block;position:relative;bottom:150px;left:10px;font-size:24px;background: transparent;border: 0px;width: 50px;">
                               <span class="icon-angle-left" ></span>
                               </button>
                               <button  onClick="right_idx()" style="display: inline-block;position:relative;bottom:150px;right:20px;font-size:24px;background: transparent;border: 0px;width: 50px;float:right;width:50px">
                               <span class="icon-angle-right" ></span>
                               </button>
                            </div>
                           <div class="col-md-6" id="sector_size" style="overflow:hidden">
                          <table class="table table-hover" style="position:relative;top:-5px;width:90%">
                                  <thead>
                                        <th style="text-align:right;padding:0px;padding-right:5px">Sector</td>
                                        <th style="text-align:right;padding:0px;width:20px">Color</td>
                                        <th style="text-align:right;padding:0px;">Size</td>
                                   </thead>
                                <tbody style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:9px;text-align:center;color:white" id="sector-check">

{% for key, value in sectors.items %}
    {% if forloop.counter < 7 %}

                                     <tr id="firstSeven">
                                        <td style="text-align:right;padding:0px;white-space: nowrap;">{{value.sector|slice:"0:15"}}...</td>
                                        <td style="text-align:right;padding:0px;width:20px" id="{{value.sector|slice:"0:4"}}"></td>
                                        <td style="text-align:right;padding:0px;">{{value.value}}</td>
                                   </tr>

    <script>
    var colors = ["#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C","#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C"]
    $("#{{value.sector|slice:"0:4"}}").css('background',colors[{{forloop.counter}}])
    console.log($("#{{value.sector|slice:"0:3"}}"))
    console.log(colors[{{forloop.counter}}])
    </script>
    {% endif %}
    {% if forloop.counter >= 7 and forloop.counter <= 12   %}

                                     <tr id="secondSeven" style="display:none">
                                        <td style="text-align:right;padding:0px;white-space: nowrap;">{{value.sector|slice:"0:15"}}...</td>
                                        <td style="text-align:right;padding:0px;width:20px" id="{{value.sector|slice:"0:4"}}"></td>
                                        <td style="text-align:right;padding:0px;">{{value.value}}</td>
                                   </tr>
        <script>
         var colors = ["#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C","#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C"]
        $("#{{value.sector|slice:"0:4"}}").css('background',colors[{{forloop.counter}}])
        console.log($("#{{value.sector|slice:"0:3"}}"))
        console.log(colors[{{forloop.counter}}])
        </script>

    {% endif %}

 
{% endfor %}
                                    
                                  </tbody>
                                </table>
                            </div>
                        </div>


         <script>
         var colors = ["#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C","#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C"]
var dimension = $("#sector_size").width()

var pie = new d3pie("pieChart", {
    "header": {
        "title": {
            "color": "#ffffff",
            "fontSize": 22,
            "font": "verdana"
        },
        "subtitle": {
            "color": "#ffffff",
            "fontSize": 10,
            "font": "verdana"
        },
        "location": "pie-center",
        "titleSubtitlePadding": 12
    },
    "footer": {
        "color": "#999999",
        "fontSize": 11,
        "font": "open sans",
        "location": "bottom-center"
    },
    "size": {
        "canvasHeight": 225,
        "canvasWidth": dimension*.95,
        "pieInnerRadius": "65%%",
        "pieOuterRadius": "68%"
    },
    "data": {
        "sortOrder": "value-desc",
        "content": [
{% for key, value in sectors.items %}
{% if forloop.counter < 13 %}
            {
                "value": {{value.value}},
                "color": colors[{{forloop.counter}}]
            },
{% endif %}
{% endfor %}

        ]
    },
    "labels": {
        "outer": {
            "pieDistance": 10
        },
        "inner": {
            "format": "none"
        },
        "percentage": {
            "color": "#e1e1e1",
            "font": "verdana",
            "decimalPlaces": 0
        },
        "value": {
            "color": "#e1e1e1",
            "font": "verdana"
        },
        "lines": {
            "enabled": true,
            "color": "black"
        },
        "truncation": {
            "enabled": true
        }
    },
    "effects": {
        "pullOutSegmentOnClick": {
            "effect": "linear",
            "speed": 400,
            "size": 8
        }
    }
});
</script>
 
                    </div>

                </div>       
      </div>          
    </div>
    <div class="row">
      <div class="col-md-6" style="margin-top:-10px">
        <div class="block" style="width:95%;left:4%;background:rgba(0,0,0,0.2);margin-bottom:0px">
                    <div class="header">
                        <h2>Total Portfolio Value</h2>
                          
                    </div>           
        </div>
        <div class="block" style="width:95%;left:4%;">
                    <div class="content" id="totalPortfolioValue" style="height:150px;text-align:center;background:rgba(0,0,0,0.2)">
                        <img src="/static/img/loader.gif" style="margin-top:50px">
                    </div>
                    <div class="footer" style="background:transparent">
                                      
                    </div>
        </div>
      </div>
     <div class="col-md-6" style="margin-top:-10px">
        <div class="block" style="width:95%;right:-1%;margin-bottom:0px;background:rgba(0,0,0,0.2)">
                    <div class="header">
                        <h2>Unrealized Gains</h2>
                          
                    </div>                  
        </div>
        <div class="block" style="width:95%;right:-1%;margin-bottom:0px;">
                    <div class="content" id="changeVal" style="height:150px;background:rgba(0,0,0,0.2)">

                    </div>
                    <div class="footer" style="background:transparent">
                                      
                    </div>
                </div>       
      </div>          
    </div>

    <div class="row">

      <div class="block" style="margin-left:25px;margin-right:25px;width:94%;background:rgba(0,0,0,0.2);margin-bottom:0px">

            <div class="header">
                <h2>Benchmark Charts </h2>
                <style>

path { 
    stroke: white;
    stroke-width: 1;
    stroke-opacity: 1;
    /*fill: n
    one;*/
    fill-opacity:1;
}
</style>
                <div class="side pull-right">                            
                    <ul class="buttons">
                        <li class="btn-group">                                    
                        <li><button type="button" class="btn btn-default btn-clean" onClick="changeTime('1y')">1y</button></li>
                        <li><button type="button" class="btn btn-default btn-clean" onClick="changeTime('90d')">90d</button></li>
                        <li><button type="button" class="btn btn-default btn-clean" onClick="changeTime('30d')">30d</button></li>

                    </ul>
                </div>                        
            </div>    
        </div> 

      <div class="block block-transparent" style="margin-left:25px;margin-right:25px;width:94%">
                                   
            <div class="content" style="height:330px;background:rgba(0,0,0,0.2)">
                         
<div id="test1">
    <svg></svg>
</div>
<script>

    //var test_data = stream_layers(3,128,.1).map(function(data, i) {
    var test_data = stream_layers(3,128,.1).map(function(data, i) {
        console.log(data)
        return {
            key: (i == 1) ? 'Non-stackable Stream' + i: 'Stream' + i,
            nonStackable: (i == 1),
            values: data
        };
    });
    nv.addGraph({
        generate: function() {
            var width = $("#test1").width(),
                height = $("#test1").height()*2

            var chart = nv.models.multiBarChart()
                .width(width)
                .height(height)
                .stacked(true)
                ;

            chart.dispatch.on('renderEnd', function(){
                console.log('Render Complete');
            });

            var svg = d3.select('#test1 svg').datum(test_data);
            console.log('calling chart');
            svg.transition().duration(0).call(chart).style({ 'width': width, 'height': height });

            return chart;
        },
        callback: function(graph) {
            nv.utils.windowResize(function() {
                var width = $("#test1").width(),
                  height = $("#test1").height()
                graph.width(width).height(height);

                d3.select('#test1 svg')
                    .attr('width', width)
                    .attr('height', height)
                    .transition().duration(0)
                    .call(graph);

            });
        }
    });

</script>
                  <div class="head-panel nm" style="position:absolute;top:300px;left:25px">
                      <div class="btn-toolbar">
                           <div class="btn-group btn-group-xs">
                              <button type="button"  name="stock A" id="stock" value="^GSPC" class="btn btn-default btn-clean" onClick="updateData('^GSPC')">S&P500</button>
                             <button type="button"  name="stock" id="stock" value="^IXIC" class="btn btn-default btn-clean" onClick="updateData('^IXIC')">Nasdaq</button>
                             <button type="button"  name="stock" id="stock" value="^DJI" class="btn btn-default btn-clean" onClick="updateData('^DJI')">Dow Jones</button>

                              <!-- <button type="button" class="btn btn-default btn-clean">Nasdaq</button> -->
                              <!-- <button type="button" class="btn btn-default btn-clean">Dow Jones</button>                                     -->
                          </div>
                      </div>
                 </div>                   
             </div>   
        </div>
     <div class="block" style="margin-left:25px;height:auto;width:94%;background:rgba(0,0,0,0.2);margin-bottom:0px">
          <div class="header">
                <h2>Your Top 3 Portfolios </h2>
            </div>
        </div>
     <div class="block block-transparent" style="margin-left:25px;height:auto;width:94%">
            <div class="content bg-dot30" style="height:auto;background:rgba(0,0,0,0.2)">
                          <table class="table table-hover" style="table-layout: fixed">
                            <thead>
                                <tr>
                                    <th style="width:75px">#</th>
                                    <th style="padding:0px;"><h2 style="padding:0px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px">Portfolio</h2> </th>
                                    <th style="padding:0px;"><h2 style="padding:0px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px">Value</h2> </th>
                                    <th style="padding:0px;"><h2 style="padding:0px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px">Unrealized Changes</h2> </th>
                                </tr>
                            </thead>
                            <tbody>
{% for portfolio in portfolios|slice:":3"  %}
                                <tr>
                                    <td >
                                       <a href="/user/individual_portfolio/{{portfolio.id}}">
                                        <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px">{{forloop.counter}}</h2> 
                                        </a>
                                    </td>
                                    <td >
                                           <a href="/user/individual_portfolio/{{portfolio.id}}">
                                        <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px">{{portfolio.name}}</h2> </td></a>
                                    <td >   <a href="/user/individual_portfolio/{{portfolio.id}}"><h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px">{{portfolio.value}}$</h2> </a></td>
                                    <td >   <a href="/user/individual_portfolio/{{portfolio.id}}"><h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px;text-align:left" id="uc_{{forloop.counter}}">{{portfolio.gain}}%</h2> </td>
                                </tr>
{% endfor %}                    
                            </tbody>
                        </table> 
            </div>
    </div>
<div class="block" style="margin-left:25px;height:auto;width:94%;margin-bottom:0px;background:rgba(0,0,0,0.2)">
          <div class="header">
              <h2>Your Bottom 3 Portfolios</h2>
            </div>
</div>
<div class="block" style="margin-left:25px;height:auto;width:94%;margin-bottom:0px;background:rgba(0,0,0,0.2)">
            <div class="content bg-dot30" style="height:auto;background:transparent">
                          <table class="table table-hover" style="table-layout: fixed">
                            <thead>
                                <tr>
                                    <th style="width:75px">#</th>
                                    <th style="padding:0px;"><h2 style="padding:0px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px;width:">Portfolio</h2> </th>
                                    <th style="padding:0px;"><h2 style="padding:0px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px">Value</h2> </th>
                                    <th style="padding:0px;"><h2 style="padding:0px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px">Unrealized Changes</h2> </th>
                                </tr>
                            </thead>
                            <tbody>
{% for portfolio in portfolios|slice:"7:10"  %}
                                <tr>
                                    <td >
                                       <a href="/user/individual_portfolio/{{portfolio.id}}">
                                        <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px">{{forloop.counter}}</h2> 
                                        </a>
                                    </td>
                                    <td >
                                           <a href="/user/individual_portfolio/{{portfolio.id}}">
                                        <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px">{{portfolio.name}}</h2> </td></a>
                                    <td >   <a href="/user/individual_portfolio/{{portfolio.id}}"><h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px">{{portfolio.value}}$</h2> </a></td>
                                    <td >   <a href="/user/individual_portfolio/{{portfolio.id}}"><h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px;text-align:left" id="dc_{{forloop.counter}}">{{portfolio.change}}%</h2> </td>
                                </tr>
{% endfor %}                    
                            </tbody>
                        </table> 
            </div>
    </div>


 <!-- {% for portfolio in portfolios %}

        <div class="block" style="margin-right:25px;margin-left:25px;width:94%">
                    <div class="header">
                        <h2>{{portfolio.name}} </h2>
                        <div class="side pull-right">                            
                            <ul class="buttons">
                                <li class="btn-group">                                    
                                    <a href="#" class="dropdown-toggle tip" title="" data-toggle="dropdown" data-original-title="More"><span class="icon-align-justify"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Portfolio Details</a></li>
                                        <li><a href="#">Export portfolio as .CSV</a></li>
                                        <li><a href="#">Export performance as .CSV</a></li>  
                                    </ul>                                                                            
                                </li>
                                <li><a href="#" class="block-toggle tip" title="" data-original-title="Show"><span class="icon-chevron-down"></span></a></li>
                                <li><a href="#" class="block-remove tip" title="" data-original-title="Remove"><span class="icon-remove"></span></a></li>
                            </ul>
                        </div>                        
                    </div>                  
                    <div class="content" id="content{{portfolio.id}}" style="height:384px;display:none;overflow:hidden">
                  <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:18px">Value : ${{portfolio.value}}</h2>                        
                      <div class="loader{{portfolio.id}}" style="height:100%;text-align:center;top:35%;position:relative">
                        <img src="/static/img/loader.gif"><br><br>
                        <h2 style="font-weight:100;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:18px">We are loading your portfolio data! This may take a minute..</h2>
                      </div>
<script>

(function() {
  var div = $("#content{{portfolio.id}}")
  console.log(div.width())
  var margin = {top: 30, right: 20, bottom: 100, left: 50},
    margin2  = {top: 210, right: 20, bottom: 20, left: 50},
    width    = div.width() - 75;
    height   = 283 - margin.top - margin.bottom,
    height2  = 283 - margin2.top - margin2.bottom;

  var parseDate = d3.time.format('%Y-%m-%d').parse,
    bisectDate = d3.bisector(function(d) { return d.date; }).left,
    legendFormat = d3.time.format('%Y %d, %d');

  var x = d3.time.scale().range([0, width]),
    x2  = d3.time.scale().range([0, width]),
    y   = d3.scale.linear().range([height, 0]),
    y1  = d3.scale.linear().range([height, 0]),
    y2  = d3.scale.linear().range([height2, 0]),
    y3  = d3.scale.linear().range([60, 0]);

  var xAxis = d3.svg.axis().scale(x).orient('bottom'),
    xAxis2  = d3.svg.axis().scale(x2).orient('bottom'),
    yAxis   = d3.svg.axis().scale(y).orient('left');

  var priceLine = d3.svg.line()
    .interpolate('monotone')
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.price); });

  var avgLine = d3.svg.line()
    .interpolate('monotone')
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.average); });

  var area2 = d3.svg.area()
    .interpolate('monotone')
    .x(function(d) { return x2(d.date); })
    .y0(height2)
    .y1(function(d) { return y2(d.price); });
  var svg = d3.select('#content{{portfolio.id}}')
    .append("div")
     .classed("svg-container", true) //container class to make it responsive
     .append("svg")
     .classed("svg-content-responsive", true)
     // .attr('class', 'chart')
     //responsive SVG needs these 2 attributes and no width and height attr
     .attr("preserveAspectRatio", "none")
     .attr("viewBox", "0 0 1000 325")
      .style("max-height", "265") 
      .style("min-height", "265") 
      .append("g")
      // .attr("transform", "translate(" 
      //     + margin.left 
      //     + "," + margin.top + ")");    
     //class to make it responsive
      // .attr('width', width + margin.left + margin.right)
      // .attr('height', height + margin.top + margin.bottom + 60)

  svg.append('defs').append('clipPath')
    .attr('id', 'clip')
  .append('rect')
    .attr('width', width)
    .attr('height', height);

  var make_y_axis = function () {
    return d3.svg.axis()
      .scale(y)
      .orient('left')
      .ticks(3);
  };

  var focus = svg.append('g')
    .attr('class', 'focus')
    .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

  var barsGroup = svg.append('g')
    .attr('class', 'volume')
    .attr('clip-path', 'url(#clip)')
    .attr('transform', 'translate(' + margin.left + ',' + (margin.top + 60 + 20) + ')');

  var context = svg.append('g')
    .attr('class', 'context')
    .attr('transform', 'translate(' + margin2.left + ',' + (margin2.top + 60) + ')');

  var legend = svg.append('g')
    .attr('class', 'chart__legend')
    .attr('width', width)
    .attr('height', 30)
    .attr('transform', 'translate(' + margin2.left + ', 10)');

  legend.append('text')
    .attr('class', 'chart__symbol')
    .text('{{portfolio.name}}')
    .style('fill','white')

  var rangeSelection =  legend
    .append('g')
    .attr('class', 'chart__range-selection')
    .attr('transform', 'translate(110, 0)');
  d3.csv('/user/portfolio_chart/3', type, function(err, data) {
    var brush = d3.svg.brush()
      .x(x2)
      .on('brush', brushed);

    var xRange = d3.extent(data.map(function(d) { return d.date; }));

    x.domain(xRange);
    y.domain(d3.extent(data.map(function(d) { return d.price; })));
    y3.domain(d3.extent(data.map(function(d) { return d.price; })));
    x2.domain(x.domain());
    y2.domain(y.domain());

    var min = d3.min(data.map(function(d) { return d.price; }));
    var max = d3.max(data.map(function(d) { return d.price; }));

    var range = legend.append('text')
      .text(legendFormat(new Date(xRange[0])) + ' - ' + legendFormat(new Date(xRange[1])))
      .style('text-anchor', 'end')
      .style('fill','white')
      .attr('transform', 'translate(' + width + ', 0)');

    focus.append('g')
        .attr('class', 'y chart__grid')
        .call(make_y_axis()
        .tickSize(-width, 0, 0)
        .tickFormat(''));

    var averageChart = focus.append('path')
        .datum(data)
        .attr('class', 'chart__line chart__average--focus line')
        .attr('d', avgLine);

    var priceChart = focus.append('path')
        .datum(data)
        .attr('class', 'chart__line chart__price--focus line')
        .attr('d', priceLine);

    focus.append('g')
        .attr('class', 'x axis')
        .attr('transform', 'translate(0 ,' + height + ')')
        .style('fill','white')
        .call(xAxis);

    focus.append('g')
        .attr('class', 'y axis')
        .attr('transform', 'translate(12, 0)')
        .call(yAxis);

    var focusGraph = barsGroup.selectAll('rect')
        .data(data)
      .enter().append('rect')
        .attr('class', 'chart__bars')
        .attr('x', function(d, i) { return x(d.date); })
        .style('fill','white')
        .attr('y', function(d) { return 155 - y3(d.price); })
        .attr('width', 1)
        .attr('height', function(d) { return y3(d.price); });

    var helper = focus.append('g')
      .attr('class', 'chart__helper')
      .style('text-anchor', 'end')
      .style('fill','white')
      .attr('transform', 'translate(' + width + ', 0)');

    var helperText = helper.append('text')
        .style('fill','white')
    var priceTooltip = focus.append('g')
      .attr('class', 'chart__tooltip--price')
      .append('circle')
      .style('display', 'none')
      .attr('r', 2.5);

    var averageTooltip = focus.append('g')
      .attr('class', 'chart__tooltip--average')
      .append('circle')
      .style('display', 'none')
      .attr('r', 2.5);

    var mouseArea = svg.append('g')
      .attr('class', 'chart__mouse')
      .append('rect')
      .attr('class', 'chart__overlay')
      .attr('width', width)
      .attr('height', height)
      .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')
      .on('mouseover', function() {
        helper.style('display', null);
        priceTooltip.style('display', null);
        averageTooltip.style('display', null);
      })
      .on('mouseout', function() {
        helper.style('display', 'none');
        priceTooltip.style('display', 'none');
        averageTooltip.style('display', 'none');
      })
      .on('mousemove', mousemove);

    context.append('path')
        .datum(data)
        .attr('class', 'chart__area area')
        .attr('d', area2);

    context.append('g')
        .attr('class', 'x axis chart__axis--context')
        .attr('y', 0)
        .attr('transform', 'translate(0,' + (height2 - 22) + ')')
        .call(xAxis2);

    $(".loader{{portfolio.id}}").css('display','none')
    context.append('g')
        .attr('class', 'x brush')
        .call(brush)
      .selectAll('rect')
        .attr('y', -6)
        .attr('height', height2 + 7);
    function mousemove() {
      var x0 = x.invert(d3.mouse(this)[0]);
      var i = bisectDate(data, x0, 1);
      var d0 = data[i - 1];
      var d1 = data[i];
      var d = x0 - d0.date > d1.date - x0 ? d1 : d0;
      helperText.text(legendFormat(new Date(d.date)) + ' - Price: ' + d.price + ' Avg: ' + d.average);
      priceTooltip.attr('transform', 'translate(' + x(d.date) + ',' + y(d.price) + ')');
      averageTooltip.attr('transform', 'translate(' + x(d.date) + ',' + y(d.average) + ')');
    }

    function brushed() {
      var ext = brush.extent();
      if (!brush.empty()) {
        x.domain(brush.empty() ? x2.domain() : brush.extent());
        y.domain([
          d3.min(data.map(function(d) { return (d.date >= ext[0] && d.date <= ext[1]) ? d.price : max; })),
          d3.max(data.map(function(d) { return (d.date >= ext[0] && d.date <= ext[1]) ? d.price : min; }))
        ]);
        range.text(legendFormat(new Date(ext[0])) + ' - ' + legendFormat(new Date(ext[1])))
        focusGraph.attr('x', function(d, i) { return x(d.date); });

        var days = Math.ceil((ext[1] - ext[0]) / (24 * 3600 * 1000))
        focusGraph.attr('width', (40 > days) ? (40 - days) * 5 / 6 : 5)
      }

      priceChart.attr('d', priceLine);
      averageChart.attr('d', avgLine);
      focus.select('.x.axis').call(xAxis);
      focus.select('.y.axis').call(yAxis);
    }

    var dateRange = ['1w', '1m', '3m', '6m', '1y']
    for (var i = 0, l = dateRange.length; i < l; i ++) {
      var v = dateRange[i];
      rangeSelection
        .append('text')
        .attr('class', 'chart__range-selection')
        .text(v)
        .style('fill','white')
        .attr('transform', 'translate(' + (18 * i) + ', 0)')
        .on('click', function(d) { focusOnRange(this.textContent); });
    }

    function focusOnRange(range) {
        console.log(range)
      var today = new Date(data[data.length - 1].date)
      var ext = new Date(data[data.length - 1].date)

      if (range === '1m')
        ext.setMonth(ext.getMonth() - 1)

      if (range === '1w')
        ext.setDate(ext.getDate() - 7)

      if (range === '3m')
        ext.setMonth(ext.getMonth() - 3)

      if (range === '6m')
        ext.setMonth(ext.getMonth() - 6)

      if (range === '1y')
        ext.setFullYear(ext.getFullYear() - 1)

      brush.extent([ext, today])
      brushed()
      context.select('g.x.brush').call(brush.extent([ext, today]))
    }

  })// end Data

  function type(d) {
    return {
      date    : parseDate(d.Date),
      price   : +d.Close,
      average : +d.Average,
      volume : +d.Volume,
    }


  }

}());
</script>
              
                    </div>
                    <div class="footer" style="width:95%;display:none;margin-right:25px;margin-left:25px">
<h2 style="font-size:18px;text-align:center;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue'">{{portfolio.risk}}% Expected Risk on a {{portfolio.investment}}$ investment into {{portfolio.no_of_tickers}} shares.</h2>
                    </div>
                </div>                
{% endfor %} -->
      </div>      
     
    </div>

<div class="col-md-4" style="padding-left:0px;padding-right:0px;background:rgba(0,0,0,0.2);height:100%;width:30%;position:relative;margin-left:15px">
                             
  <div class="block" id="toppicks" style="margin-top: 0px; display: initial;">
    <div class="header">
      <h2 style="letter-spacing:2px">Market News</h2>
    </div>
    <div class="content list list-default">
      </div>
  </div>
<div class="block block-transparent nm" >
       
    <div class="scroll-nail email-list mCustomScrollbar _mCS_1" style="height:30vh;overflow:hidden">
      <div id="pin">

      </div>
               
                        
    </div>

</div> 
 <div class="block" id="toppicks" style="margin-top:10px !important; display: initial;">
    <div class="header">
      <h2 style="letter-spacing:2px">Sentiment Updates</h2>
    </div>
    <div class="content list list-default">
   
  
      </div>
  </div> 
<div class="block block-transparent nm">
       
    <div class="scroll-tail email-list" style="height:25vh;">
        <div id="sentiment_pin"></div>
  
<script type="text/javascript">
  $(".scroll-tail").height('25vh').mCustomScrollbar();
</script>          
    </div>
    
</div>
  <div class="block" id="toppicks" style="margin-top:15px !important; display: initial;">
    <div class="header">
      <h2 style="letter-spacing:2px">Top Picks</h2>
    </div>
    <div class="content list list-default">
   
  
      </div>
  </div> 
<div class="block block-transparent nm">
       
   
<script type="text/javascript">
  $(".scroll-sail").height('25vh').mCustomScrollbar();
</script>     
    <div class="scroll-sail email-list" style="height:25vh;">
    <div id="pick_pin"></div> 
     
    </div>
    
</div> 
  <div class="block" style="margin-top:15px !important; display: initial;">
    <div class="header">
      <h2 style="letter-spacing:2px">Performance Graph</h2>
    </div>
    <div class="content list list-default">
   
  
      </div>
    </div> 
    <div class="block block-transparent nm" id="performance_check">
       <div class="row">
            <div class="col-md-3" style="margin-top:8px;padding-left:5px;text-align:right">Dow Jones </div>
            <div class="col-md-3" style="margin-top:8px;padding-left:5px;text-align:center">Nasdaq </div>
            <div class="col-md-3" style="margin-top:8px;padding-left:5px;text-align:center">S&P 500 </div>
            <div class="col-md-3" style="margin-top:8px;padding-left:5px;text-align:center"> Your Portfolios </div>
       </div>
       <div class="row" style="padding:25px;padding-top:5px">
        <hr style="margin:10px;margin-top:0px">
        <div class="col-md-2" style="margin-top:8px;padding-left:5px;text-align:right">30 Day: </div>
        <svg id="p-chart" class="col-md-10"></svg>
        </div>

       <div class="row" style="padding:25px;padding-top:5px">
        <div class="col-md-2" style="margin-top:8px;padding-left:5px;text-align:right">60 Day: </div>
        <svg id="d-chart" class="col-md-10"></svg>
        </div>
       <div class="row" style="padding:25px;padding-top:5px">
        <div class="col-md-2" style="margin-top:8px;padding-left:5px;text-align:right">90 Day: </div>
        <svg id="dd-chart" class="col-md-10"></svg>
        </div>

    </div>
</div>  

            </div>
 
  <div class="row" style="margin:0px;display:none">
    <div class="col-lg-0 col-md-2" style="height:600px;padding-left:0px;padding-right:0px;margin-right:10px" id="ha">
        <div class="block" style="height:599px;margin:0px" id="ha">
            <div class="header">P
                <h2 style="font-size:12px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue'">Your Portfolios</h2>
            </div>
            <div class="content list-group ui-sortable" id="sortable_example_1" style="height:559px;background:rgba(0,0,0,0.5);overflow:scroll;letter-spacing:1px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'Helvetica Neue'">
                {% for portfolio in portfolios %}
                <a href="#" class="list-group-item" style="text-align:center;height:150px">{{portfolio.name}}
                  <br>
                  <span style="font-size:18px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'Helvetica Neue';top:7px;left:7px;position:relative" id="currVal">
                    {{portfolio.value}}
                  </span>
                  <div style="display:none" id="initVal">{{portfolio.investment}}</div>
                  <div style="display:none" id="riskVal">{{portfolio.risk}}</div>
                  <br><br>
                 <span id="percent" style="font-size:14px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'Helvetica Neue';position:relative;bottom:7px;color:#00ff00">
                      +33%
                  </span><br>
                 <span style="font-size:14px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'Helvetica Neue'">
                    {{portfolio.no_of_tickers}} Tickers
                  </span>                
                </a>
                {% endfor %}
            </div>
        </div> 
      </div>
    <div class="col-lg-7 col-md-5" style="width:61%;margin-left:1vw;margin-right:1vw;padding:0px;height:605px;overflow:hidden;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'Helvetica Neue';letter-spacing:2px;" id="dashmed">
        <div class="block" style="margin-left:-5px;margin-bottom:10px;height:240px;">
            <div class="header">
                <h2 style="font-size:12px;letter-spacing:2px;padding-left:2px;font-weight:300;-webkit-font-smoothing: antialiased;"> Performance Summary </h2>
                  <div class="btn-group pull-right">
    <!--                 <button type="button" class="btn btn-default btn-clean dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="letter-spacing:2px">
                    Select Analytic <span class="caret"></span>
                    </button>
 --><!--                     <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Portfolio Summary</a></li>
                        <li><a href="#">Compare to S&P 500</a></li>
                        <li><a href="#">Compare to NDX</a></li>
                        <li><a href="#">Compare to DJI</a></li>
                        <li><a href="#">Back-Test</a></li>
                      <li class="divider"></li>                        
                        <li><a href="#">Your Stocks</a></li> -->
<!-- 
                {% for portfolio in portstocks %}  
                        <li><a href="#">
                          {{portfolio.name}}</a></li>
                {% endfor %} -->
                    <!-- </ul> -->
                 </div>
            </div>
            <div class="block content" id="performance" style="background:rgba(0,0,0,0.6);height:200px;margin-bottom:0px">
              <div class="historical" style="display:none">
              {% for stock in stockDict %}
              {{stock}}
              {% endfor %}
            </div>
                {% for port in all_portfolios %}
                {{port}}              
                {% endfor %}
                  <div class="hp-info pull-left" style="line-height:50px;text-align:center;width:50%;">
                    <!-- <span class="icon-thumbs-up-alt" style="position:absolute;font-size:175px;top:90px;left:75px;color:rgba(255,255,255,0.1)"></span> -->
                      <div class="hp-icon" style="font-size:24px" >
                          <span class="hp-sm">Total Investments</span> <br>   
                          <span class="icon-usd" style="font-weight:300;-webkit-font-smoothing: antialiased;position:relative;top:25px"></span>
                          <span class="hp-main" id="gains" style="font-size:42px;position:relative;top:25px"></span>                                
                      </div>                                                 
                  </div>
                 <div class="hp-info pull-left" style="line-height:50px;text-align:center;width:50%;">
                      <div class="hp-icon" style="font-size:24px">
                          <span class="hp-sm">Total Risk</span> <br>      
                        <div class="knob">
                            <div style="display: block; width: 100px; height: 100px;"><canvas width="100" height="100" style="position:absolute;bottom:150px"></canvas>
                              <input id="risks" type="text" data-fgcolor="red" data-min="0" data-max="100" data-width="100" data-height="100" value="44" data-readonly="true" readonly="readonly" style="width: 50px; height: 33px; position: absolute; vertical-align: middle; top: 50%; left: 50%; margin-top: -16px; margin-left: -25px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 16px; line-height: normal; font-family: Arial; text-align: center; color: rgb(63, 151, 254); padding: 0px; -webkit-appearance: none;">
                            </div>
                        </div>
                          <span class="hp-main" id="risks"></span>                                
                      </div>                                                 
                  </div>

            </div>
        </div>  
      <div class="block" style="margin-left:-5px;margin-bottom:20px;margin-top:8px;height:340px">
          <div class="header">
                <h2 style="font-size:12px;font-weight:300;-webkit-font-smoothing: antialiased;">Market Charts</h2> 
                <div class="side pull-right">
                   <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-default btn-clean" onClick="changeTime('1y')">1y</button>
                        <button type="button" class="btn btn-default btn-clean" onClick="changeTime('90d')">90d</button>
                        <button type="button" class="btn btn-default btn-clean" onClick="changeTime('30d')">30d</button>                                    
                    </div>  
                </div>
            </div>
            <div class="content bg-dot30" style="height:300px;background:rgba(0,0,0,0.6)">
                  <br><span id="chosenMarket" style="top:-10px;left:85px;position:relative"> 
                    S&P 500
                  </span>

                  <div class="ibox-content" id="myBar" style="height:150px;position:relative;top:-2vh;left:1vw">
                      <div class="row" style="overflow:hidden">
                      </div>
                  </div> 
                  <div class="head-panel nm" style="position:absolute;top:310px;left:25px">
                      <div class="btn-toolbar">
                          <div id="new_input">
                           <div class="btn-group btn-group-xs">
                              <button type="button"  name="stock A" id="stock" value="^GSPC" class="btn btn-default btn-clean" onClick="updateData('^GOOGL')">S&P500</button>
                             <button type="button"  name="stock" id="stock" value="^IXIC" class="btn btn-default btn-clean" onClick="updateData('^IXIC')">Nasdaq</button>
                             <button type="button"  name="stock" id="stock" value="^DJI" class="btn btn-default btn-clean" onClick="updateData('^DJI')">Dow Jones</button>

                              <!-- <button type="button" class="btn btn-default btn-clean">Nasdaq</button> -->
                              <!-- <button type="button" class="btn btn-default btn-clean">Dow Jones</button>                                     -->
                          </div>
                        
                          </div>
                      </div>
                 </div>                   
             </div>   
        </div>          
  </div>
    <div class="col-lg-2 col-md-2" style="padding-left:0px;padding-right:0px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'Helvetica Neue';letter-spacing:2px;height:600px;margin-left:2.5px" id="dashlast">
        <div class="block" style="margin:0px;height:599px">
            <div class="header">
                <h2 style="font-size:12px;letter-spacing:0.25px;font-weight:300;-webkit-font-smoothing: antialiased;">Market Headlines</h2>
            </div>
            <div class="content bg-dot30" style="height:560px;overflow:hidden;background:rgba(0,0,0,0.6)">
                <div class="head-panel nm">
                    <div class="col-lg-12" style="height:560px;overflow:scroll">   
                        <table class="table table-hover margin bottom">
                            <tbody id="newsPin">
                                <tr id="incomingNews" style="display:none">
                                    <td><a href="#" target="_blank" style="width:100%;display:inline-block;color:#428bca;text-decoration: underline;font-weight:300;-webkit-font-smoothing: antialiased;"></a></td> 
                                </tr> 
                                </tbody>
                            </table>
                        </div>
                </div>                      
        </div>    
    </div>
        </div> 
      </div>
  </div>


  </body>
</html>

<div class="col-lg-1 col-md-2 col-sm-2">

</div>
</div>      
 <div class="nav">
    <a href="/user/inbox" data-target="-1" style=";margin-right:50px;float:right">           
      <h1><span class="icon-angle-right" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:98vw;font-size:24px"></span></h1></a>
    <a href="/user/support" data-target="1" style=";margin-left:50px;float:left">
       <h1><span class="icon-angle-left" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:1vw;font-size:24px"></span></h1>
    </a>
  </div>
    {% endblock %}
{% block scripts %}

    <script>
        var user = {'id': 0, 'status': 'bot', 'user': 'Hyperchat Bot','picture_url':'/static/img/robot.jpg'}
    localStorage.setItem('user',JSON.stringify(user))
    </script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript">
  $(".scroll-sail").height('25vh').mCustomScrollbar();
</script> 
    <script src="/static/js/user/dashboard.js"></script>


{% endblock %}

 <!-- <!--  <div class="row" style="margin:0px">
    <div class="col-lg-2 col-md-2" style="height:600px;padding-left:0px;padding-right:0px;margin-right:10px">
        <div class="block" style="height:599px;margin:0px">
            <div class="header">
                <h2 style="font-size:12px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue">Your Portfolios</h2>
            </div>
            <div class="content list-group ui-sortable" id="sortable_example_1" style="height:559px;background:rgba(0,0,0,0.5);overflow:hidden">
                {% for portfolio in portfolios %}
                <a href="#" class="list-group-item" style="text-align:center;height:150px">{{portfolio.name}}
                  <br>
                  <span style="font-size:18px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'Helvetica Neue';top:7px;left:7px;position:relative">
                    ${{portfolio.value}}
                  </span><br><br>
                 <span style="font-size:14px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'Helvetica Neue';position:relative;bottom:7px;color:#00ff00">
                      +33%
                  </span><br>
                 <span style="font-size:14px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'Helvetica Neue'">
                    {{portfolio.no_of_tickers}} Tickers
                  </span>                
                </a>
                {% endfor %}
            </div>
        </div> 
      </div>
    <div class="col-lg-7 col-md-5" style="width:61%;margin-left:1vw;margin-right:1vw;padding:0px;height:605px;overflow:hidden;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'Helvetica Neue';letter-spacing:2px;">
        <div class="block" style="margin-left:-5px;margin-bottom:10px;height:240px;">
            <div class="header">
                <h2 style="font-size:12px;letter-spacing:2px;padding-left:2px"> Performance Summary </h2>
                  <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-clean dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="letter-spacing:2px">
                    Select Analytic <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Portfolio Summary</a></li>
                        <li><a href="#">Compare to S&P 500</a></li>
                        <li><a href="#">Compare to NDX</a></li>
                        <li><a href="#">Compare to DJI</a></li>
                        <li><a href="#">Back-Test</a></li>
                      <li class="divider"></li>                        
                        <li><a href="#">Your Stocks</a></li>
          <!--       {% for portfolio in portfolios %}                      
                        <li><a href="#">{{portfolio.name}}</a></li>
                {% endfor %} -->
                    </ul>
                 </div>
            </div>
            <div class="block content" style="background:rgba(0,0,0,0.6);height:200px;margin-bottom:0px">
              <label style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue'">Unrealized Gains</label>    <br>           
                  <div class="knob" style="margin:10px">
                      <div style="display: block; width: 100px; height: 100px;">
                        <canvas width="100" height="100" style="position: absolute !important; top:-100px !important"></canvas>
                        <input type="text" data-fgcolor="#FFFFFF" data-min="0" data-max="100" data-width="100" data-height="100" value="99" style="width: 50px; height: 33px; position: absolute; vertical-align: middle; top: 0px; left: 50%; margin-top: -16px; margin-left: -25px; border: 0px; background: none; font-style: normal; font-variant: normal; font-weight: bold; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none;"></div>
                  </div>

            </div>
        </div>  
      <div class="block" style="margin-left:-5px;margin-bottom:20px;margin-top:8px;height:340px">
          <div class="header">
                <h2 style="font-size:12px">Market Charts</h2> 
                <div class="side pull-right">
                   <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-default btn-clean" onClick="changeTime('1y')">1y</button>
                        <button type="button" class="btn btn-default btn-clean" onClick="changeTime('90d')">90d</button>
                        <button type="button" class="btn btn-default btn-clean" onClick="changeTime('30d')">30d</button>                                    
                    </div>  
                </div>
            </div>
            <div class="content bg-dot30" style="height:300px;background:rgba(0,0,0,0.6)">
                  <br><span id="chosenMarket" style="top:-10px;left:85px;position:relative"> 
                    S&P 500
                  </span>

                  <div class="ibox-content" id="myBar" style="height:150px;position:relative;top:-2vh;left:1vw">
                      <div class="row" style="overflow:hidden">
                      </div>
                  </div> 
                  <div class="head-panel nm" style="position:absolute;top:310px;left:25px">
                      <div class="btn-toolbar">
                          <div id="new_input">
                           <div class="btn-group btn-group-xs">
                              <button type="button"  name="stock A" id="stock" value="^GSPC" class="btn btn-default btn-clean" onClick="updateData('^GSPC')">S&P500</button>
                             <button type="button"  name="stock" id="stock" value="^IXIC" class="btn btn-default btn-clean" onClick="updateData('^IXIC')">Nasdaq</button>
                             <button type="button"  name="stock" id="stock" value="^DJI" class="btn btn-default btn-clean" onClick="updateData('^DJI')">Dow Jones</button>

                              <!-- <button type="button" class="btn btn-default btn-clean">Nasdaq</button> -->
                              <!-- <button type="button" class="btn btn-default btn-clean">Dow Jones</button>                                     -->
                          </div>
                        
                          </div>
                      </div>
                 </div>                   
             </div>   
        </div>   

  </div>
    <div class="col-lg-2 col-md-2" style="padding-left:0px;padding-right:0px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'Helvetica Neue';letter-spacing:2px;height:600px;margin-left:2.5px">
        <div class="block" style="margin:0px;height:599px">
            <div class="header">
                <h2 style="font-size:12px;letter-spacing:0.25px">Market Headlines</h2>
            </div>
            <div class="content bg-dot30" style="height:560px;overflow:hidden;background:rgba(0,0,0,0.6)">
                <div class="head-panel nm">
                    <div class="col-lg-12" style="height:560px;overflow:scroll">   
                        <table class="table table-hover margin bottom">
                            <tbody id="newsPin">
                                <tr id="incomingNews" style="display:none">
                                    <td><a href="#" target="_blank" style="width:100%;display:inline-block;color:#428bca;text-decoration: underline;"></a></td> 
                                </tr> 
                                </tbody>
                            </table>
                        </div>
                </div>                      
        </div>    
    </div>
        </div> 
      </div> 

