<!DOCTYPE html>
<html lang="en">
<head>        
    <title>Taurus</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    
    <link href="js/plugins/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css" rel="stylesheet" type="text/css" />
    <link href="css/stylesheets.css" rel="stylesheet" type="text/css" />
    <link href="css/codemirror/theme/midnight.css" rel="stylesheet" type="text/css" />
    
    <script type='text/javascript' src='js/plugins/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='js/plugins/jquery/jquery-ui.min.js'></script>   
    <script type='text/javascript' src='js/plugins/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/plugins/jquery/globalize.js'></script>    
    <script type='text/javascript' src='js/plugins/bootstrap/bootstrap.min.js'></script>
    
    <script type='text/javascript' src='js/plugins/cleditor/jquery.cleditor.min.js'></script>
    
    <script type='text/javascript' src='js/plugins/codemirror/codemirror.js'></script>
    <script type='text/javascript' src="js/plugins/codemirror/addon/edit/matchbrackets.js"></script>
    <script type='text/javascript' src="js/plugins/codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script type='text/javascript' src="js/plugins/codemirror/mode/xml/xml.js"></script>
    <script type='text/javascript' src="js/plugins/codemirror/mode/javascript/javascript.js"></script>
    <script type='text/javascript' src="js/plugins/codemirror/mode/css/css.js"></script>
    <script type='text/javascript' src="js/plugins/codemirror/mode/clike/clike.js"></script>
    <script type='text/javascript' src="js/plugins/codemirror/mode/php/php.js"></script>    
    
    <script type='text/javascript' src='js/plugins/uniform/jquery.uniform.min.js'></script>
    
    <script type='text/javascript' src='js/plugins/tinymce/tinymce.min.js'></script>
    
    <script type='text/javascript' src='js/plugins.js'></script>    
    <script type='text/javascript' src='js/actions.js'></script>
    <script type='text/javascript' src='js/settings.js'></script>
</head>
<body class="bg-img-num1"> 
    
    <div class="container">        
        <div class="row">                   
            <div class="col-md-12">
                
                 <nav class="navbar brb" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-reorder"></span>                            
                        </button>                                                
                        <a class="navbar-brand" href="index.html"><img src="img/logo.png"/></a>                                                                                     
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">                                     
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="index.html">
                                    <span class="icon-home"></span> dashboard
                                </a>
                            </li>                            
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-pencil"></span> forms</a>
                                <ul class="dropdown-menu">                                    
                                    <li><a href="form_elements.html">Form elements</a></li>
                                    <li><a href="form_editors.html">WYSIWYG</a></li>
                                    <li><a href="form_files.html">File handling</a></li>
                                    <li><a href="form_validation.html">Validation and wizard</a></li>
                                </ul>                                
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-cogs"></span> components</a>
                                <ul class="dropdown-menu">
                                    <li><a href="component_blocks.html">Blocks and panels</a></li>
                                    <li><a href="component_buttons.html">Buttons</a></li>
                                    <li><a href="component_modals.html">Modals and popups</a></li>                                    
                                    <li><a href="component_tabs.html">Tabs, accordion, selectable, sortable</a></li>
                                    <li><a href="component_progress.html">Progressbars</a></li>
                                    <li><a href="component_lists.html">List groups</a></li>
                                    <li><a href="component_messages.html">Messages</a></li>                                    
                                    <li>
                                        <a href="#">Tables<i class="icon-angle-right pull-right"></i></a>
                                        <ul class="dropdown-submenu">
                                            <li><a href="component_table_default.html">Default tables</a></li>
                                            <li><a href="component_table_sortable.html">Sortable tables</a></li>                                            
                                        </ul>
                                    </li>                                                                        
                                    <li>
                                        <a href="#">Layouts<i class="icon-angle-right pull-right"></i></a>
                                        <ul class="dropdown-submenu">
                                            <li><a href="component_layout_blank.html">Default layout(blank)</a></li>
                                            <li><a href="component_layout_custom.html">Custom navigation</a></li>
                                            <li><a href="component_layout_scroll.html">Content scroll</a></li>
                                            <li><a href="component_layout_fixed.html">Fixed content</a></li>
                                            <li><a href="component_layout_white.html">White layout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="component_charts.html">Charts</a></li>
                                    <li><a href="component_maps.html">Maps</a></li>
                                    <li><a href="component_typography.html">Typography</a></li>
                                    <li><a href="component_gallery.html">Gallery</a></li>
                                    <li><a href="component_calendar.html">Calendar</a></li>
                                    <li><a href="component_icons.html">Icons</a></li>    
                                    <li><a href="component_portlet.html">Portlet</a></li>
                                </ul>
                            </li>                          
                            <li><a href="widgets.html"><span class="icon-globe"></span> widgets</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-file-alt"></span> pages</a>
                                <ul class="dropdown-menu">
                                    <li><a href="sample_login.html">Login</a></li>
                                    <li><a href="sample_registration.html">Registration</a></li>
                                    <li><a href="sample_profile.html">User profile</a></li>
                                    <li><a href="sample_profile_social.html">Social profile</a></li>
                                    <li><a href="sample_edit_profile.html">Edit profile</a></li>
                                    <li><a href="sample_mail.html">Mail</a></li>
                                    <li><a href="sample_search.html">Search</a></li>
                                    <li><a href="sample_invoice.html">Invoice</a></li>
                                    <li><a href="sample_contacts.html">Contacts</a></li>
                                    <li><a href="sample_tasks.html">Tasks</a></li>
                                    <li><a href="sample_timeline.html">Timeline</a></li>
                                    <li>
                                        <a href="#">Email templates<i class="icon-angle-right pull-right"></i></a>
                                        <ul class="dropdown-submenu">
                                            <li><a href="email_sample_1.html">Sample 1</a></li>
                                            <li><a href="email_sample_2.html">Sample 2</a></li>
                                            <li><a href="email_sample_3.html">Sample 3</a></li>
                                            <li><a href="email_sample_4.html">Sample 4</a></li>
                                        </ul>
                                    </li>                                     
                                    <li>
                                        <a href="#">Error pages<i class="icon-angle-right pull-right"></i></a>
                                        <ul class="dropdown-submenu">
                                            <li><a href="sample_error_403.html">403 Forbidden</a></li>
                                            <li><a href="sample_error_404.html">404 Not Found</a></li>
                                            <li><a href="sample_error_500.html">500 Internal Server Error</a></li>
                                            <li><a href="sample_error_503.html">503 Service Unavailable</a></li>
                                            <li><a href="sample_error_504.html">504 Gateway Timeout</a></li>                                                                                       
                                        </ul>
                                    </li>                                    
                                </ul>
                            </li>                            
                        </ul>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="search..."/>
                            </div>                            
                        </form>                                            
                    </div>
                </nav>               

            </div>            
        </div>

        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>                    
                    <li><a href="#">Components</a></li>                    
                    <li class="active">WYSIWYG editors</li>
                </ol>
            </div>
        </div>        
        
        <div class="row">
            <div class="col-md-6">
                <div class="block block-transparent">
                    <div class="header">
                        <h2>Tinymce</h2>
                    </div>
                    <div class="content np">
                        <textarea class="tmce">

                            <h2>It's a predefined text</h2>
                            <img src="img/example/example_150x115.jpg" align="right" class="img-thumbnail"/>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <ul class="blue">
                                <li>But also the leap into electronic typesetting</li>
                                <li>It was popularised in the 1960s</li>
                                <li>Galley of type and scrambled it to make</li>
                                <li>Lorem Ipsum passages, and more</li>
                            </ul>
                            <p>Lorem <strong>Ipsum has been</strong> the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <table align="right" cellpadding="0" cellspacing="0">                            
                                <thead>
                                    <tr>
                                        <th scope="col">Lorem Ipsum passages</th>
                                        <th scope="col">It has survived not</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Galley of type</td>
                                        <td>Scrambled it to make</td>
                                    </tr>
                                    <tr>
                                        <td>It was popularised in the</td>
                                        <td>remaining essentially unchanged</td>
                                    </tr>
                                </tbody>
                            </table>                                
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>                            
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                            <p>All the Lorem Ipsum generators on the <strong>Internet tend to repeat</strong> predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. <i>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</i></p>

                        </textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block block-transparent">
                    <div class="header">
                        <h2>Tinymce simple</h2>
                    </div>
                    <div class="content np">
                        <textarea class="stmce">
                            <center><p>Lorem Ipsum is simply dummy text of the <i>printing and typesetting</i> industry.</p></center>
                            <p>Lorem <strong>Ipsum has been</strong> the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. <strong>It was popularised in the</strong> 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>                            
                            <p>All the Lorem Ipsum generators on the <strong>Internet tend to repeat</strong> predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. <i>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</i></p>
                        </textarea>
                    </div>
                </div>
            </div>            
        </div>
        
        <div class="row">
            <div class="col-md-6">
                
                <div class="block block-fill-white">
                    <div class="header">
                        <h2>Default CLEditor</h2>
                    </div>                    
                    <div class="content np">
                        <textarea class="cle">
                        <h2>Lorem ipsum dolor sit amet</h2>
                        <p><strong>Consectetur adipiscing</strong> elit. Sed dictum dolor sem, quis pharetra dui ultricies vel. Cras non pulvinar tellus, vel bibendum magna. Morbi tellus nulla, cursus non nisi sed, porttitor dignissim erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis commodo lectus. Vivamus vel tincidunt enim, non vulputate ipsum. Ut pellentesque consectetur arcu sit amet scelerisque. Fusce commodo leo eros, ut eleifend massa congue at.</p>
                        <p>Nam a nisi et nisi tristique lacinia non sit amet orci. <strong>Duis blandit leo</strong> odio, eu varius nulla fringilla adipiscing. Praesent posuere blandit diam, sit amet suscipit justo consequat sed. Duis cursus volutpat ante at convallis. Integer posuere a enim eget imperdiet. Nulla consequat dui quis purus molestie fermentum. Donec faucibus sapien eu nisl placerat auctor. Pellentesque quis justo lobortis, tempor sapien vitae, dictum orci.</p>
                        </textarea>
                    </div>
                    <div class="footer">
                        <div class="pull-right">
                            <button class="btn btn-success">Submit</button>
                        </div>
                    </div>                    
                </div>
                    
            </div>
            <div class="col-md-6">
                
                <div class="block block-fill-white">
                    <div class="header">
                        <h2>Simple CLEditor</h2>
                    </div>
                    <div class="content np">
                        <textarea class="scle">                        
                        <strong>Lorem ipsum dolor sit amet</strong>
                        <p><strong>Consectetur adipiscing</strong> elit. Sed dictum dolor sem, quis pharetra dui ultricies vel. Cras non pulvinar tellus, vel bibendum magna. Morbi tellus nulla, cursus non nisi sed, porttitor dignissim erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis commodo lectus. Vivamus vel tincidunt enim, non vulputate ipsum. Ut pellentesque consectetur arcu sit amet scelerisque. Fusce commodo leo eros, ut eleifend massa congue at.</p>
                        <p>Nam a nisi et nisi tristique lacinia non sit amet orci. <strong>Duis blandit leo</strong> odio, eu varius nulla fringilla adipiscing. Praesent posuere blandit diam, sit amet suscipit justo consequat sed. Duis cursus volutpat ante at convallis. Integer posuere a enim eget imperdiet. Nulla consequat dui quis purus molestie fermentum. Donec faucibus sapien eu nisl placerat auctor. Pellentesque quis justo lobortis, tempor sapien vitae, dictum orci.</p>
                        </textarea>
                    </div>
                    <div class="footer">
                        <div class="pull-right">
                            <button class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>                
                
            </div>            
        </div>        
        
        <div class="row">
            <div class="col-md-6">
                
                <div class="block block-fill-white">
                    <div class="header">
                        <h2>Codemirror PHP/JS/XML/CSS</h2>
                    </div>                    
                    <div class="content np">

<textarea id="codeEditor">
<?php
    class SomeClassName extends AnotherClassName{

        var $someVar,$anotherVar;
        var $someArray = array();

        private function __construct($id,$param1,$param2){
            $this->someVar    = $param1;
            $this->anotherVar = $param2;

            $this->someArray = $this->load_data($id);
        }

        public function build(){
            return (($this->someVar / $this->anotherVar) * $this->buffer) > 0 ? true : false ;
        }

        public function load_data($id){
            $data = array();

            $query = mysql_query("SELECT * FROM `base` WHERE `id`='".$this->int($id)."'");

            if(mysql_num_rows($query) > 0){
                while($row = mysql_fetch_array($query))
                    $data[] = $row['somecol'];                                
                return $data;    
            }else
                return false;
        }

        private function __destruct(){
            $this->someVar    = false;
            $this->anotherVar = false;
        }
    }
?>
</textarea>                        
                        <script>
                            var editor = CodeMirror.fromTextArea(document.getElementById("codeEditor"), {
                                lineNumbers: true,
                                matchBrackets: true,
                                mode: "application/x-httpd-php",
                                indentUnit: 4,
                                indentWithTabs: true,
                                enterMode: "keep",
                                tabMode: "shift"                                                
                            });
                            editor.setSize('100%','420px');

                        </script>                         
                    </div>
                    <div class="footer">
                        <div class="pull-right">
                            <button class="btn btn-success">Submit</button>
                        </div>
                    </div>                    
                </div>
                    
            </div>
            <div class="col-md-6">
                
                <div class="block block-white">
                    <div class="header">
                        <h2>Codemirror custom theme</h2>
                    </div>                    
                    <div class="content np">

<textarea id="codeEditor2">
<?php
    class SomeClassName extends AnotherClassName{

        var $someVar,$anotherVar;
        var $someArray = array();

        private function __construct($id,$param1,$param2){
            $this->someVar    = $param1;
            $this->anotherVar = $param2;

            $this->someArray = $this->load_data($id);
        }

        public function build(){
            return (($this->someVar / $this->anotherVar) * $this->buffer) > 0 ? true : false ;
        }

        public function load_data($id){
            $data = array();

            $query = mysql_query("SELECT * FROM `base` WHERE `id`='".$this->int($id)."'");

            if(mysql_num_rows($query) > 0){
                while($row = mysql_fetch_array($query))
                    $data[] = $row['somecol'];                                
                return $data;    
            }else
                return false;
        }

        private function __destruct(){
            $this->someVar    = false;
            $this->anotherVar = false;
        }
    }
?>
</textarea>                        
                        <script>
                            var editor2 = CodeMirror.fromTextArea(document.getElementById("codeEditor2"), {
                                lineNumbers: true,
                                matchBrackets: true,
                                mode: "application/x-httpd-php",
                                indentUnit: 4,
                                indentWithTabs: true,
                                enterMode: "keep",
                                tabMode: "shift"                                                
                            });
                            editor2.setSize('100%','420px');
                            editor2.setOption("theme", 'midnight');

                        </script>                         
                    </div>
                    <div class="footer">
                        <div class="pull-right">
                            <button class="btn btn-default btn-clean">Submit</button>
                        </div>
                    </div>                    
                </div>                
                
            </div>            
        </div>                         
        
    </div>
    
</body>
</html>