{% extends "base.html" %}
{% block content %}
  <div class="nav">
    <a href="/user/news_portal" data-target="-1" style=";margin-right:50px;float:right">           
      <h1><span class="icon-angle-right" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:98vw;font-size:24px"></span></h1></a>
    <a href="/user/my_portfolios" data-target="1" style=";margin-left:50px;float:left">
       <h1><span class="icon-angle-left" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:1vw;font-size:24px"></span></h1>
    </a>
  </div>
<div class="sceneElement" data-viewport="0">
<div class="col-lg-12 col-md-12 col-sm-12" id="picker" style="padding-top:2vh;background:rgba(0,0,0,0.6)">
  <div class="row" style="text-align:center">
    <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px;font-size:24px"> Guru Advisor Portfolios </h2>
<div class="row" style="padding-left:25px;padding-right:25px">
  <div class="col-md-4">
                <div class="block">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-rightPE25px;margin-top:8px;margin-left:8px">
                      <img src='http://static.gurufocus.com/images/gurupics/1/bill-gates-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;">
                    </div>
                        <h2>Bill gates</h2><br>
                        <h2>Bill & Melinda Gates Trust</h2>    
                    </div>
                    <div class="content" style="height:250px">

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$16.821 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>06-30-16</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>08-15-16</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
                    <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(84)">Select This Portfolio</button>
                    </div>                    
                </div>  
                <div class="block"  style="background:rgba(0,0,0,0.2);">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-right:25px;margin-top:8px;margin-left:8px">
                      <img src='http://static.gurufocus.com/images/gurupics/1/ronald-muhlenkamp-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;">
                    </div>
                        <h2>Ronald MuhlenKamp</h2><br>
                        <h2>MuhlenKamp & Co Inc</h2>    
                    </div>
                    <div class="content" style="height:250px">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>54</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$256 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>06-30-16</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>08-11-16</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
           
            
                    </script>
                    <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(10)">Select This Portfolio</button>
                    </div>                    
                </div>                               
                <div class="block"  style="background:rgba(0,0,0,0.2);">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-right:25px;margin-top:8px;margin-left:8px">
                      <img src='http://static.gurufocus.com/images/gurupics/1/donald-yacktman-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;">
                    </div>
                        <h2>Donald Yacktman</h2><br>
                        <h2>Yacktman Asset Management</h2>    
                    </div>
                    <div class="content" style="height:250px">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>45</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$12,080 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>06-30-16</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>08-10-16</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
                    <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(91)">Select This Portfolio</button>
                    </div>            
                </div>
                <div class="block"  style="background:rgba(0,0,0,0.2);">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-right:25px;margin-top:8px;margin-left:8px">
                      <img src='http://static.gurufocus.com/images/gurupics/1/bill-gates-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;">
                    </div>
                        <h2>FPA Capital</h2><br>
                        <h2>FPA Capital</h2>    
                    </div>
                    <div class="content" style="height:250px">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>54</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$256 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>06-30-16</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>08-11-16</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
                     <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(6)">Select This Portfolio</button>
                    </div>                 
                </div>
                <div class="block"  style="background:rgba(0,0,0,0.2);">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-right:25px;margin-top:8px;margin-left:8px">
                      <img src='http://static.gurufocus.com/images/gurupics/1/meridian-funds-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;">
                    </div>
                        <h2>Meridian Funds</h2><br>
                        <h2>Meridian Fund</h2>    
                    </div>
                    <div class="content" style="height:250px">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>149</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>15</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$2,681 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>06-30-13</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>08-31-16</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
                     <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(17)">Select This Portfolio</button>
                    </div>                 
                </div> 
</div>
<div class="col-md-4">                
                <div class="block"  style="background:rgba(0,0,0,0.2);">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-right:25px;margin-top:8px;margin-left:8px">
                      <img src='http://static.gurufocus.com/images/gurupics/1/seth-klarman-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;">
                    </div>
                        <h2>Seth Klarman</h2><br>
                        <h2>The Baupost Group</h2>    
                    </div>
                    <div class="content" style="height:250px">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>9</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$7,328 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>06-30-16</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>10-07-16</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
                     <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(28)">Select This Portfolio</button>
                    </div>                 
                </div> 
  <div class="block"  style="background:rgba(0,0,0,0.2);">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-right:25px;margin-top:8px;margin-left:8px">
                      <!-- <img src='http://static.gurufocus.com/images/gurupics/1/seth-klarman-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;"> -->
                    </div>
                        <h2>Donald Smith</h2><br>
                        <h2>Donald Smith & Co</h2>    
                    </div>
                    <div class="content" style="height:250px">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>75</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$3,703 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>06-30-16</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>09-30-16</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
                     <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(139)">Select This Portfolio</button>
                    </div>                 
                </div>                 
     <div class="block"  style="background:rgba(0,0,0,0.2);">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-right:25px;margin-top:8px;margin-left:8px">
                      <img src='http://static.gurufocus.com/images/gurupics/1/david-winters-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;">
                    </div>
                        <h2>David Winters</h2><br>
                        <h2>Wintergreen Advisors</h2>    
                    </div>
                    <div class="content" style="height:250px">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>8</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$268 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>06-30-16</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>08-12-16</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
                     <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(56)">Select This Portfolio</button>
                    </div>                 
                </div>   
     <div class="block"  style="background:rgba(0,0,0,0.2);">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-right:25px;margin-top:8px;margin-left:8px">
                      <img src='http://static.gurufocus.com/images/gurupics/1/bruce-berkowitz-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;">
                    </div>
                        <h2>Bruce Berkowitz</h2><br>
                        <h2>Fairholme Capital Management</h2>    
                    </div>
                    <div class="content" style="height:250px">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$1,451 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>06-30-16</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>10-11-16</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
                     <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(22)">Select This Portfolio</button>
                    </div>                 
                </div>   
       <div class="block"  style="background:rgba(0,0,0,0.2);">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-right:25px;margin-top:8px;margin-left:8px">
                      <img src='http://static.gurufocus.com/images/gurupics/1/mason-hawkins-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;">
                    </div>
                        <h2>Mason Hawkins</h2><br>
                        <h2>Southeastern Asset</h2>    
                    </div>
                    <div class="content" style="height:250px">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>28</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$9,681 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>06-30-16</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>10-11-16</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
                     <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(2)">Select This Portfolio</button>
                    </div>                 
                </div>     
 
</div>
<div class="col-md-4">
 <div class="block"  style="background:rgba(0,0,0,0.2);">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-right:25px;margin-top:8px;margin-left:8px">
                      <img src='http://static.gurufocus.com/images/gurupics/1/chuck-akre-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;">
                    </div>
                        <h2>Chuck Akre</h2><br>
                        <h2>Akre Capital Management LLC</h2>    
                    </div>
                    <div class="content" style="height:250px">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>34</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$5,204 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>06-30-16</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>08-12-16</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
                     <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(64)">Select This Portfolio</button>
                    </div>                 
                </div>   
 <div class="block"  style="background:rgba(0,0,0,0.2);">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-right:25px;margin-top:8px;margin-left:8px">
                      <img src='http://static.gurufocus.com/images/gurupics/1/bruce-funds-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;">
                    </div>
                        <h2>Robert Bruce</h2><br>
                        <h2>Bruce & Co</h2>    
                    </div>
                    <div class="content" style="height:250px">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>37</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$352 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>06-30-16</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>08-15-16</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
                     <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(62)">Select This Portfolio</button>
                    </div>                 
                </div> 
    <div class="block"  style="background:rgba(0,0,0,0.2);">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-right:25px;margin-top:8px;margin-left:8px">
                      <!-- <img src='http://static.gurufocus.com/images/gurupics/1/bruce-funds-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;"> -->
                    </div>
                        <h2>Edward Lampert</h2><br>
                        <h2>RBS Partners, L.P.</h2>    
                    </div>
                    <div class="content" style="height:250px">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$1,018 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>06-30-16</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>08-15-16</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
                     <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(15)">Select This Portfolio</button>
                    </div>                 
                </div> 
      <div class="block"  style="background:rgba(0,0,0,0.2);">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-right:25px;margin-top:8px;margin-left:8px">
                      <!-- <img src='http://static.gurufocus.com/images/gurupics/1/bruce-funds-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;"> -->
                    </div>
                        <h2>Lou Simpson</h2><br>
                        <h2>SQ Advisors, LLC</h2>    
                    </div>
                    <div class="content" style="height:250px">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>14</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$2,363 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>06-30-16</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>08-15-16</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
                     <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(156)">Select This Portfolio</button>
                    </div>                 
                </div> 
    <div class="block"  style="background:rgba(0,0,0,0.2);">
                    <div class="header" style="height:65px">
                    <div class="pull-left" style="border-radius: 50%;overflow: hidden;width: 150px;height: 50px;width:50px;margin-right:25px;margin-top:8px;margin-left:8px">
                      <img src='http://static.gurufocus.com/images/gurupics/1/whitney-tilson-small.jpg' style="display: block;height: 100%;width:100%;min-width: 100%;min-height: 100%;">
                    </div>
                        <h2>Whitney Tilson</h2><br>
                        <h2>Kase Capital Management</h2>    
                    </div>
                    <div class="content" style="height:250px">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Number of Stocks</td>
                                    <td>16</td>
                                </tr>
                                <tr>
                                    <td>New Stocks</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Total Value</td>
                                    <td>$50 Mil</td>
                                </tr>                   
                                <tr>
                                    <td>Portfolio Date</td>
                                    <td>09-30-15</td>
                                </tr>                                             
                                   <tr>
                                    <td>Latest Update </td>
                                    <td>11-03-15</td>
                                </tr>
                            </tbody>
                        </table>                                       
                    </div>
                     <div class="footer">
                        <button type="button" href="#modal_default_1" data-toggle="modal" class="btn btn-primary btn-clean" style="letter-spacing:3px;font-size:16px" onClick="get_guru(55)">Select This Portfolio</button>
                    </div>                 
                </div>              

                
            </div>
          
        </div>

</div>
 </div<


<div class="col-lg-2"></div>




<div class="modal" id="modal_default_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="width:80vw">
            <div class="modal-content" style="margin-top:15vh">

                <div class="block" style="margin-bottom:0px">
                    <div class="header" style="height:20vh;min-height:200px">
                        <h2>Stock Filters</h2>

                        <div class="form-row">
                            <div class="col-md-12">                   
<script>
function scrape(){
    if ($("#DIVY").attr('checked')) {
        $("#key-divy")[0].value = $("#DIVYx")[0].value
    }
    if ($("#MKT").attr('checked')) {
        $("#key-mkt")[0].value = $("#MKTx")[0].value
    }    
    if ($("#nm").attr('checked')) {
        $("#key-nm")[0].value = $("#nmx")[0].value
    }    
    if ($("#pe").attr('checked')) {
        $("#key-pe")[0].value = $("#pex")[0].value
    }    
    if ($("#pb").attr('checked')) {
        $("#key-pb")[0].value = $("#pbx")[0].value
    }        
    if ($("#epusd").attr('checked')) {
        $("#key-epusd")[0].value = $("#epusdx")[0].value
    }
   $("#guru_portfolio").submit()

}
</script>                                
                                <div class="btn-group btn-group-justified">
                                    <a href="#" class="btn btn-default btn-clean">
                                       <label class="switch">
                                        <input id="DIVY" type="checkbox" class="skip" value="0">
                                        <span></span>
                                        </label><br>
                                        Dividend Yield<br>
                                        <div class="btn-group btn-group-xs" style="margin-top:5px;margin-bottom:5px">
                                          <div class="radiobox-inline">
                                            <label><div class="radio checked" ><span class=""><input type="radio" name="radio_ex1" checked></span></div><br> ></label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex1"></span></div><br> >=</label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex1"></span></div><br> <=</label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex1"></span></div><br> <</label>
                                            </div>
                                        </div> 
                                       <input type="number" id="DIVYx" name="tags"style="font-size:10px;font-family:'Helvetica Neue';letter-spacing:2px;font-weight:100;color: white;border:1px solid white;padding:0px;font-family:'helvetica neue';font-weight: 100;line-height: 18px;outline: medium none;letter-spacing:3px;height:50px;padding-left:13px;width:75px;margin-left:calc(50% - 34px);text-align:center" value="0.0" autocomplete="off">
                                    </a>                                                                      
                                    <a href="#" class="btn btn-default btn-clean">
                                       <label class="switch">
                                        <input id="MKT" type="checkbox" class="skip" value="0">
                                        <span></span>
                                        </label><br>
                                        Market Cap<br>
                                        <div class="btn-group btn-group-xs" style="margin-top:5px;margin-bottom:5px">
                                          <div class="radiobox-inline">
                                            <label><div class="radio" ><span class=""><input type="radio" name="radio_ex2" checked></span></div><br> ></label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex2"></span></div><br> >=</label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex2"></span></div><br> <=</label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex2"></span></div><br> <</label>
                                            </div>
                                        </div> 
                                       <input type="number" id="MKTx" name="tags"style="font-size:10px;font-family:'Helvetica Neue';letter-spacing:2px;font-weight:100;color: white;border:1px solid white;padding:0px;font-family:'helvetica neue';font-weight: 100;line-height: 18px;outline: medium none;letter-spacing:3px;height:50px;padding-left:13px;width:75px;margin-left:calc(50% - 34px);text-align:center" value="0.0" autocomplete="off">
                                    </a> 
                                    <a href="#" class="btn btn-default btn-clean">
                                       <label class="switch">
                                        <input id="nm" type="checkbox" class="skip" value="0">
                                        <span></span>
                                        </label><br>
                                        Net Margin<br>
                                        <div class="btn-group btn-group-xs" style="margin-top:5px;margin-bottom:5px">
                                          <div class="radiobox-inline">
                                            <label><div class="radio" ><span class=""><input type="radio" name="radio_ex3" checked></span></div><br> ></label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex3"></span></div><br> >=</label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex3"></span></div><br> <=</label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex3"></span></div><br> <</label>
                                            </div>
                                        </div> 
                                       <input type="number" id="nmx" name="tags"style="font-size:10px;font-family:'Helvetica Neue';letter-spacing:2px;font-weight:100;color: white;border:1px solid white;padding:0px;font-family:'helvetica neue';font-weight: 100;line-height: 18px;outline: medium none;letter-spacing:3px;height:50px;padding-left:13px;width:75px;margin-left:calc(50% - 34px);text-align:center" value="0.0" autocomplete="off">
                                    </a> 
                                    <a href="#" class="btn btn-default btn-clean">
                                       <label class="switch">
                                        <input id="pe"  type="checkbox" class="skip" value="0">
                                        <span></span>
                                        </label><br>
                                        P\E Ratio<br>
                                        <div class="btn-group btn-group-xs" style="margin-top:5px;margin-bottom:5px">
                                          <div class="radiobox-inline">
                                            <label><div class="radio" ><span class=""><input type="radio" name="radio_ex4" checked></span></div><br> ></label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex4"></span></div><br> >=</label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex4"></span></div><br> <=</label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex4"></span></div><br> <</label>
                                            </div>
                                        </div> 
                                       <input type="number" id="pex" name="tags"style="font-size:10px;font-family:'Helvetica Neue';letter-spacing:2px;font-weight:100;color: white;border:1px solid white;padding:0px;font-family:'helvetica neue';font-weight: 100;line-height: 18px;outline: medium none;letter-spacing:3px;height:50px;padding-left:13px;width:75px;margin-left:calc(50% - 34px);text-align:center" value="0.0" autocomplete="off">
                                    </a> 
                                    <a href="#" class="btn btn-default btn-clean">
                                       <label class="switch">
                                        <input id="pb" type="checkbox" class="skip" value="0">
                                        <span></span>
                                        </label><br>
                                        P\B Ratio<br>
                                        <div class="btn-group btn-group-xs" style="margin-top:5px;margin-bottom:5px">
                                          <div class="radiobox-inline">
                                            <label><div class="radio" ><span class=""><input type="radio" name="radio_ex5" checked></span></div><br> ></label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex5"></span></div><br> >=</label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex5"></span></div><br> <=</label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex5"></span></div><br> <</label>
                                            </div>
                                        </div> 
                                       <input type="number" id="pbx" name="tags"style="font-size:10px;font-family:'Helvetica Neue';letter-spacing:2px;font-weight:100;color: white;border:1px solid white;padding:0px;font-family:'helvetica neue';font-weight: 100;line-height: 18px;outline: medium none;letter-spacing:3px;height:50px;padding-left:13px;width:75px;margin-left:calc(50% - 34px);text-align:center" value="0.0" autocomplete="off">
                                    </a> 
                                    <a href="#" class="btn btn-default btn-clean">
                                       <label class="switch">
                                        <input id="epusd" type="checkbox" class="skip" value="0">
                                        <span></span>
                                        </label><br>
                                        EPSUSD<br>
                                        <div class="btn-group btn-group-xs" style="margin-top:5px;margin-bottom:5px">
                                          <div class="radiobox-inline">
                                            <label><div class="radio" ><span class=""><input type="radio" name="radio_ex6" checked></span></div><br> ></label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex6"></span></div><br> >=</label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex6"></span></div><br> <=</label>
                                            <label><div class="radio"><span class=""><input type="radio" name="radio_ex6"></span></div><br> <</label>
                                            </div>
                                        </div> 
                                       <input type="number" id="epusdx" name="tags"style="font-size:10px;font-family:'Helvetica Neue';letter-spacing:2px;font-weight:100;color: white;border:1px solid white;padding:0px;font-family:'helvetica neue';font-weight: 100;line-height: 18px;outline: medium none;letter-spacing:3px;height:50px;padding-left:13px;width:75px;margin-left:calc(50% - 34px);text-align:center" value="0.0" autocomplete="off">
                                    </a> 
                                </div>                                                                  
                            </div>
                        </div>                            
                    </div>
                    <div class="content" style="height:50vh">
                 <form action="/user/guru_optimize" class="form-horizontal"  method="post" id="guru_portfolio" >
                     {% csrf_token %}
                     <input style="display:none" class="form-control" name="chosenGuru" id="chosenGuru">
                 <input id="key-divy" style="display:none"  class="form-control" name="key-divy" value="0"> 
                    <input id="key-mkt" style="display:none"  class="form-control" name="key-mkt" value="0"> 
                    <input id="key-nm" style="display:none"  class="form-control" name="key-nm" value="0"> 
                    <input id="key-pe" style="display:none"  class="form-control" name="key-pe" value="0"> 
                    <input id="key-pb" style="display:none"  class="form-control" name="key-pb" value="0"> 
                    <input id="key-epusd" style="display:none"  class="form-control" name="key-epusd" value="0"> 
                    <div class="row">
                        <div class="col-md-6" style="text-align:center">
                            <h2 style="font-size:16px;font-family:'Helvetica Neue';letter-spacing:2px;font-weight:100;color: white;margin-bottom:5px">Initial Capital</2>
                             <input type="number" id="capital" class="form-control" name="capital" style="font-size:10px;font-family:'Helvetica Neue';letter-spacing:2px;font-weight:100;color: white;border:1px solid white;padding:0px;font-family:'helvetica neue';font-weight: 100;line-height: 18px;outline: medium none;letter-spacing:3px;margin-left:calc(50% - 150px);height:50px;padding-left:13px;width:300px;text-align:center" value="100000.0" autocomplete="off">
                        </div>
                        <div class="col-md-6" style="text-align:center">
                             <h2 style="font-size:16px;font-family:'Helvetica Neue';letter-spacing:2px;font-weight:100;color: white;margin-bottom:5px">Filter Frequency</2>
                            <div class="radiobox-inline" style="font-size:16px;font-family:'Helvetica Neue';letter-spacing:2px;font-weight:100;color: white;margin-bottom:5px">
                                <label style="margin-left:10px;margin-right:10px"><div class="radio" ><span class=""><input type="radio" name="radio_ex6" checked></span></div><br>Annually</label>
                                <label style="margin-left:10px;margin-right:10px;color:rgba(0,0,0,0.2)"><div class="radio disabled"><span class=""><input type="radio disabled" name="radio_ex6"></span></div><br>Monthly</label>
                                <label style="margin-left:10px;margin-right:10px;color:rgba(0,0,0,0.2)"><div class="radio disabled"><span class=""><input type="radio disabled" name="radio_ex6"></span></div><br>Weekly</label>
                            </div>
                        </div>
                    </div>


                </form> 
                            <divgi style="height:auto">
                        <table class="table table-hover" style="font-size:10px">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Stock Ticker</th>
                                    <th>Company Name</th>
                                    <th>Value</th>
                                    <th>Change</th>
                                    <th>Exchange</th>
                                    <th>Buy Date</th>
                                    <th>Impact</th>
                                    <th>Share</th>
                                    <th>Expected Yield</th>
                                    <th>Industry</th>
                                    <th>Sector</th>
                                    <th>Position</th>
                                    <th>PCT</th>
                                    <th>Market Cap</th>
                                </tr>
                                <hr>
                            </thead>
                            <tbody id="pickPin">
                            {% for pick in picks %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{pick.symbol}}</td>
                                    <td>{{pick.company}}</td>
                                    <td>${{pick.value}}</td>
                                    <td>%{{pick.change}}</td>
                                    <td>{{pick.exchange}}</td>
                                    <td>{{pick.13f_date}}</td>
                                    <td>{{pick.impact}}</td>
                                    <td>{{pick.share}}</td>
                                    <td>{{pick.yield}}</td>
                                    <td>{{pick.industry}}</td>
                                    <td>{{pick.sector}}</td>
                                    <td>{{pick.position}}</td>
                                    <td>{{pick.pct}}</td>
                                    <td>{{pick.mktcap}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>                       
                    </div>
                </div>                            
                                                                 
                    <button type="button" class="btn btn-default btn-clean pull-right" data-dismiss="modal">Cancel</button>              
                    <button type="button" class="btn btn-default btn-clean pull-left" data-dismiss="modal" onClick="scrape()">Filter & Optimize</button>              
                    </div>

        
                <div class="modal-footer" style="margin-top:5px;padding:0px">
                </div>
            </div>
        </div>
</div>


        </div>


    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/user/guru_settings.js"></script>
{% endblock %}
