{% extends "base.html" %}
{% load render_bundle from webpack_loader %}
{% block content %}
<script>
localStorage.setItem('user',JSON.stringify({'id':0,'status':'none'}))
</script>
<div class="row" style="height:auto">
<div class="col-lg-2 col-md-2 col-sm-1"></div>
 <div class="col-lg-2 col-md-2 col-sm-10" style="padding:0px;height:100%;color:black;overflow:hidden;height:650px">
    <div class="block block-drop-shadow" style="height:100%;background-color:rgba(0,0,0,0.4)">
        <div class="header">
            <h2>Inbox</h2>
            <div class="input-group" style="margin-left:50px;margin-bottom:10px">                        
            <input type="text" class="form-control" placeholder="Search...">
            <div class="input-group-addon"><span class="icon-search"></span></div>
            </div>            
        </div>
            <div style="height:100%;display:inline-block;overflow:scroll;padding-bottom:50px;width:100%">
                <a href="/user/sent" class="list-group-item" style="margin:20px;background-color:rgba(0,0,0,0.4);color:white;border:0px"><span class="icon-upload-alt" style="padding:5px"></span>Sent<i class="icon-angle-right pull-right"></i></a>    
                <a href="#" class="list-group-item" style="margin:20px;background-color:rgba(0,0,0,0.4);color:white;border:0px"><span class="icon-star" style="padding:5px"></span>Starred<i class="icon-angle-right pull-right"></i></a>
                <a href="#" class="list-group-item" style="margin:20px;background-color:rgba(0,0,0,0.4);color:white;border:0px"><span class="icon-trash" style="padding:5px"></span>Deleted<i class="icon-angle-right pull-right"></i></a>                    
                <a href="#" class="list-group-item" style="margin:20px;background-color:rgba(0,0,0,0.4);color:white;border:0px"><span class="icon-gears" style="padding:5px"></span>Hyperchat Bot<i class="icon-angle-right pull-right"></i></a>
                <div id="acontainer">
                {% render_bundle 'main' %}
                </div>
                <a href="#statusbar_8" class="list-group-item stbar" style="margin:20px;background-color:rgba(0,0,0,0.4);color:white;border:0px"><span class="icon-plus" style="padding:5px"></span>Add New Friend<i class="icon-angle-right pull-right"></i></a>
            </div>
<!-- 
        <div class="content list-group list-group-icons" style="height:100%;display:inline-block;overflow:scroll;padding-bottom:50px">
            {% for friend in friends %}

            <a href="#" id="a{{friend.id}}" onClick="select({{friend.id}},'{{friend.status}}')" class="list-group-item" style="margin:20px">

            <span class="icon-trash"></span></span>{{friend.username}}

            <i class="icon-angle-right pull-right"></i
            >

            <i id="emptystar" style="margin-right:5px" class="icon-star-empty pull-right"></i></a>

            {% endfor %}
        </div>     -->            
    </div>    
</div>

<div class="col-lg-6 col-md-6 col-sm-10" style="height:650px">
    <div class="block block-drop-shadow" style="height:650px;background-color:rgba(0,0,0,0.4)">
        <div class="header">
            <h2>Messaging</h2>
            <div class="input-group" style="margin-left:100px">                        
                <input type="text" class="form-control" placeholder="Search...">
                <div class="input-group-addon"><span class="icon-search"></span></div>
            </div>
        </div>
        <div class="content messages npr npt" style="height:562px;overflow:scroll"> 
            <div style="position: relative; top: -7px;height:90%;overflow:scroll" >
                <div id="mcontainer">
                {% render_bundle 'main' %}
                </div>
<!--                 <div class="messages-item">
                    <img src="/static/img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                    <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                    <div class="messages-item-date">14:33 30.08.2013</div>
                </div>
                <div class="messages-item inbox">
                    <img src="/static/img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                    <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                    <div class="messages-item-date">14:32 30.08.2013</div>
                </div>                                                                                                            
                <div class="messages-item">
                    <img src="/static/img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                    <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                    <div class="messages-item-date">14:20 30.08.2013</div>
                </div>                        
                <div class="messages-item inbox">
                    <img src="/static/img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                    <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                    <div class="messages-item-date">14:19 30.08.2013</div>
                </div>
              -->
            </div>
        </div>
        <div class="footer">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-comment"></i></span>
                <!-- <input type="text" class="form-control" placeholder="message.."> -->
                <input id="messageBody" type="text" name="message" class="form-control" placeholder="message..">
                <span class="input-group-btn">
                    <!-- <button id="submitBtn" class="btn" style="width:auto">Submit </button> -->
                    <button class="btn" id="submitBtn"><span class="icon-chevron-right"></span></button>
                </span>
            </div>                        
        </div>        
    </div>
</div>
<div class="col-lg-2 col-md-2 col-sm-2"></div>
</div>

<div class="statusbar center" id="statusbar_8" style="width:45%;height:100px;position:absolute;left:26%;top:45%;background-color:black">
        <div class="statusbar-body" style="width:100%">
                <div class="form-group">                    
                    <div class="form-group" style="margin-left:10px;margin-right:10px">                    
                        <label>Search for User</label>
                        <div class="statusbar-close icon-remove pull-right" style="position:relative;padding:10px;right:-8px"></div>
                        </div>                   
                    </div>
                    <div class="stepone" style="display:none;padding-left:25px;margin-bottom:10px"></div>
                    <div class="input-group" id="addfriend" style="padding-left:25px;margin-top:10px">
                        <input type="text"  class="form-control" id="query" name="query" placeholder="Search by Username or Email ..." style="width:40vw">
                            <input class="form-control" name="sendId" id="selected" style="display:none"></input>
                            <input class="form-control" name="sendId" id="selectedId" style="display:none" value="0"></input>
                        <span class="input-group-btn">
                            <button class="btn" onClick="addfriend()"><span class="icon-chevron-right"></span></button>
                        </span>
                    <!-- <button style="margin-left:10px;width:100%;margin-top:10px" class="btn btn-default btn-block btn-clean" onClick="addfriend()">Submit</a> -->
                    </div>
            </form>             
        </div>
    </div>
{% endblock %}
{% block scripts %}
 <script>
 $("i#emptystar").click(function() {
    if ($(this).attr('class') == 'icon-star-empty pull-right') {
        $(this).attr('class','icon-star pull-right')    
    } else {
        $(this).attr('class','icon-star-empty pull-right')    
    }
})
let addfriend = function() {
    var username = $("#query")[0].value
    console.log(username)
    $.ajax({
        type: 'POST',
        url: '/user/addconnection',
        data: {'query':username}
    }).done(function(result){
        if (result.data == 0){
            $(".stepone").css('display','none')
            $("#statusbar_8").css('height','150px')
            $(".stepone")[0].innerText = "We could not find a user by that name or email. Try Again!"
            $(".stepone").css('display','initial')
        } else{
            $("#addfriend").css('display','none')
            $("#statusbar_8").css('height','150px')
            $(".stepone")[0].outerHTML = "<img src='/static/img/loader.gif' style='display:block;margin:auto;padding-top:20px'></div>"
            setTimeout(function(){ 
                window.location = "/user/inbox";
            }, 200);
            
        }
    })
}
$("#submitBtn").click(function(x) {
    msg = $("#messageBody")[0].value
    if ($("#selected")[0].value) {
        to = $("#selected")[0].value
    } else {
        to = "-"
    }
    $.ajax({
        method: "POST",
        url: "/user/sendmsg",
        data: {'message': msg, 'to' : to } ,
    }).done(function() {
        console.log("done")
    })
    // console.log($("#messageBody")[0].value)
})
</script>

{% endblock %}