{% extends "base.html" %}
{% block content %}
 <script src="/static/js/user/inbox.js"></script>
 <div class="col-lg-2" style="padding:0px;height:80vh;background-color:white;color:black;overflow:scroll">
<div class="content list">                                                    
    <div class="list-item">
        <div class="list-info">
            <img src="/static/img/example/user/olga.jpg" class="img-circle img-thumbnail">
        </div>
        <div class="list-text">
            <a href="#" class="list-text-name">Title</a>
            <p>Lorem ipsum, tellus ut fermentum accumsan, est justo pretium enim, eget.</p>
                <div class="date">27.08</div>
                <div class="time">21:59 pm</div>
        </div>                                                        
    </div>                 
    <div class="list-item">
        <div class="list-info">
            <img src="/static/img/example/user/helen.jpg" class="img-circle img-thumbnail">
        </div>
        <div class="list-text">
            <a href="#" class="list-text-name">Title</a>
            <p>Lorem ipsum, tellus ut fermentum accumsan, est justo pretium enim, eget.</p>
                <div class="date">27.08</div>
                <div class="time">21:59 pm</div>
        </div>                                                        
    </div>
    <div class="list-item">
        <div class="list-info">
            <img src="/static/img/example/user/alexey.jpg" class="img-circle img-thumbnail">
        </div>
        <div class="list-text">
            <a href="#" class="list-text-name">Title</a>
            <p>Lorem ipsum, tellus ut fermentum accumsan, est justo pretium enim, eget.</p>
                <div class="date">27.08</div>
                <div class="time">21:59 pm</div>
        </div>                                                        
    </div>   
    <div class="list-item">
        <div class="list-info">
            <img src="/static/img/example/user/dmitry.jpg" class="img-circle img-thumbnail">
        </div>
        <div class="list-text">
            <a href="#" class="list-text-name">Title</a>
            <p>Lorem ipsum, tellus ut fermentum accumsan, est justo pretium enim, eget.</p>
                <div class="date">27.08</div>
                <div class="time">21:59 pm</div>
        </div>                                                        
    </div>   
    <div class="list-item">
        <div class="list-info">
            <img src="/static/img/example/user/olga.jpg" class="img-circle img-thumbnail">
        </div>
        <div class="list-text">
            <a href="#" class="list-text-name">Title</a>
            <p>Lorem ipsum, tellus ut fermentum accumsan, est justo pretium enim, eget.</p>
                <div class="date">27.08</div>
                <div class="time">21:59 pm</div>
        </div>                                                        
    </div> 
     <div class="list-item">
        <div class="list-info">
            <img src="/static/img/example/user/olga.jpg" class="img-circle img-thumbnail">
        </div>
        <div class="list-text">
            <a href="#" class="list-text-name">Title</a>
            <p>Lorem ipsum, tellus ut fermentum accumsan, est justo pretium enim, eget.</p>
                <div class="date">27.08</div>
                <div class="time">21:59 pm</div>
        </div>                                                        
    </div>                 
    <div class="list-item">
        <div class="list-info">
            <img src="/static/img/example/user/helen.jpg" class="img-circle img-thumbnail">
        </div>
        <div class="list-text">
            <a href="#" class="list-text-name">Title</a>
            <p>Lorem ipsum, tellus ut fermentum accumsan, est justo pretium enim, eget.</p>
                <div class="date">27.08</div>
                <div class="time">21:59 pm</div>
        </div>                                                        
    </div>
    <div class="list-item">
        <div class="list-info">
            <img src="/static/img/example/user/alexey.jpg" class="img-circle img-thumbnail">
        </div>
        <div class="list-text">
            <a href="#" class="list-text-name">Title</a>
            <p>Lorem ipsum, tellus ut fermentum accumsan, est justo pretium enim, eget.</p>
                <div class="date">27.08</div>
                <div class="time">21:59 pm</div>
        </div>                                                        
    </div>   
    <div class="list-item">
        <div class="list-info">
            <img src="/static/img/example/user/dmitry.jpg" class="img-circle img-thumbnail">
        </div>
        <div class="list-text">
            <a href="#" class="list-text-name">Title</a>
            <p>Lorem ipsum, tellus ut fermentum accumsan, est justo pretium enim, eget.</p>
                <div class="date">27.08</div>
                <div class="time">21:59 pm</div>
        </div>                                                        
    </div>   
    <div class="list-item">
        <div class="list-info">
            <img src="/static/img/example/user/olga.jpg" class="img-circle img-thumbnail">
        </div>
        <div class="list-text">
            <a href="#" class="list-text-name">Title</a>
            <p>Lorem ipsum, tellus ut fermentum accumsan, est justo pretium enim, eget.</p>
                <div class="date">27.08</div>
                <div class="time">21:59 pm</div>
        </div>                                                        
    </div>                                                                                                   
</div>
</div>
<div class="col-lg-6" style="height:80vh">
                <div class="block block-drop-shadow" style="height:100%">
                    <div class="header">
                        <h2>Messaging</h2>
                    </div>
                    <div class="content messages npr npt" style="height:75vh;overflow:scroll"> 
                        <!-- <div class="scroll mCustomScrollbar _mCS_1" style="height: 100%;"> -->
                        <!-- <div class="mCustomScrollBox mCS-light" id="mCSB_1" style="position:relative; min-height:90%; overflow:hidden; max-width:100%;"> -->
                        <div class="mCSB_container" style="position: relative; top: -7px;height:90%">
                            <div class="messages-item">
                                <img src="img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:33 30.08.2013</div>
                            </div>
                            <div class="messages-item inbox">
                                <img src="img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:32 30.08.2013</div>
                            </div>                                                                                                            
                            <div class="messages-item">
                                <img src="img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:20 30.08.2013</div>
                            </div>                        
                            <div class="messages-item inbox">
                                <img src="img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:19 30.08.2013</div>
                            </div>
                            <div class="messages-item">
                                <img src="img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:33 30.08.2013</div>
                            </div>
                            <div class="messages-item inbox">
                                <img src="img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:32 30.08.2013</div>
                            </div>                                                                                                            
                            <div class="messages-item">
                                <img src="img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:20 30.08.2013</div>
                            </div>                        
                            <div class="messages-item inbox">
                                <img src="img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:19 30.08.2013</div>
                            </div>
                                                        <div class="messages-item">
                                <img src="img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:33 30.08.2013</div>
                            </div>
                            <div class="messages-item inbox">
                                <img src="img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:32 30.08.2013</div>
                            </div>                                                                                                            
                            <div class="messages-item">
                                <img src="img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:20 30.08.2013</div>
                            </div>                        
                            <div class="messages-item inbox">
                                <img src="img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:19 30.08.2013</div>
                            </div>
                            
                                                                              <div class="messages-item">
                                <img src="img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:33 30.08.2013</div>
                            </div>
                            <div class="messages-item inbox">
                                <img src="img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:32 30.08.2013</div>
                            </div>                                                                                                            
                            <div class="messages-item">
                                <img src="img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:20 30.08.2013</div>
                            </div>                        
                            <div class="messages-item inbox">
                                <img src="img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:19 30.08.2013</div>
                            </div>
                            
                        </div>
              <!--           <div class="mCSB_scrollTools" style="position: absolute; display: block;">
                        <div class="mCSB_draggerContainer">
                        <div class="mCSB_dragger" style="position: absolute; height: 118px; top: 4px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position: relative; line-height: 118px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div> -->
                    </div>
                    <div class="footer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-comment"></i></span>
                            <input type="text" class="form-control" placeholder="message..">
                        </div>                        
                    </div>
                </div>
</div>

{% endblock %}
