{% extends "base.html" %}

{% block content %}
     <div class="col-md-8" style="padding-left:50px;padding-left:50px">
        <h2 style="text-align:center;"> Apple Incorporate </h2>
        <div class="col-md-6 col-sm-6">
            <div class="block block-drop-shadow">
                 <div class="head bg-dot20">   
                     <h2>Work Culture</h2>
                 </div>
                 <div class="ibox-content" style="display: block;padding:50px">
                    <span><h5>CEO Tim Cook<br></h5> 83% Approval Rating</span><br><br>
                    <span><h5>Work Happiness Rating </h5> 45% </span> <br><br>
                    <span><h5>Pros</h5>Working at Apple means that the things you work on get into the hands of hundreds of millions of people, literally. It's a lot of pressure to get things right and drives one to do the best work of their lives. 2+ years later I'm still blown away by the talent and creativity of people I work with. </span><br><br><br>
                    <span><h5>Cons</h5>It's a lot of work, teams are usually strapped for resources and under pressure to deliver on strict timelines leading to high stress and long hours at certain times during the year. </span> <br><br>
                 </div>                 
            </div>            
        </div> 
        <!--right side-->
        <div class="col-md-6 col-sm-6">
<!--             <div class="block block-drop-shadow">
                 <div class="head bg-dot20">   
                     <h2>Forecast Graph</h2>
                 </div>                        
                  <div style="align:left" class="head-panel nm tac">
                        <div class="chart" id="dash_chart_1" style="height: 150px;"></div>
                 </div>
            </div> -->
            <div class="block block-drop-shadow">
                 <div class="head bg-dot20">   
                     <h2>Overview of Company</h2>
                 </div>
                 <div class="ibox-content" style="display: block;padding:50px">
                     Apple, Inc. engages in the design, manufacture, and marketing of mobile communication, media devices, personal computers, and portable digital music players. The firm offers products and services under the iPhone, iPad, Mac, iPod, Apple Watch, and Apple TV brands; consumer and professional software applications under the iOS, OS, X, and watchOS brands; and operating systems under the iCloud and Apple Pay brands. It operates through the following segments: Americas, Europe, Greater China, Japan, and Rest of Asia Pacific. The company was founded by Steven Paul Jobs, Ronald Gerald Wayne, and Stephen G. Wozniak on April 1, 1976 and is headquartered in Cupertino, CA.
                 </div>
            </div>

            <div class="block block-drop-shadow">
                <div class="block block-drop-shadow">
                     <div class="head bg-dot20">   
                         <h2>Future of Stock</h2>
                     </div>
                     <div class="ibox-content" style="display: block;padding:50px">
                        The analysts offering 12-month price forecasts for Apple have a median target of 120.00, with a high estimate of 185.00 and a low estimate of 65.00. The median estimate represents a +23.70% increase from the last price of 97.01.
                     </div>
                </div>
                 <div class="head bg-dot20">   
                     <h2>Market Sentiment</h2>
                 </div>
                 <div class="ibox-content" style="display: block;padding:50px">
                    The analysts offering 12-month price forecasts for Apple have a median target of 120.00, with a high estimate of 185.00 and a low estimate of 65.00. The median estimate represents a +23.70% increase from the last price of 97.01.
                 </div>
            </div>         
        </div>
        </div>               
       </div>
    </div>
<!-- End -->
</div>
</body>
{% endblock %}

{% block scripts %}

            <script type="text/javascript">
            $(".page-navigation li a").click(function(e){  
            console.log("asdf")  
                if (e.currentTarget.id == 'myPortfolios') {
                    var ul = $(this).parent('li').children('ul');
                        if(ul.is(':visible')) {
                            setTimeout(function(){ 
                                ul.slideUp('fast');                
                            }, 100);
                        } else {
                            setTimeout(function(){ 
                                ul.slideDown('fast');                
                            }, 100);

                        }
                }
                if (e.currentTarget.id !== 'myPortfolios') {
                    $(".statusbar").show()
                    setTimeout(function(){ 
                        var url = e.currentTarget.id
                            console.log(url)
                            if (url) {
                            location.assign(url)
                        }
                    }, 1000);
                };
            })
            </script>
{% endblock %}
