{% extends "base.html" %}
{% block content %}
<script>
var url = String(window.location.href).slice(-2)
if (url[0] == '/') {
  url = url.slice(-1)
}
$("li#a" + url).attr('class','active')
</script>
  <div class="nav">
    <a href="/user/portfolio_settings" data-target="-1" style=";margin-right:50px;float:right">           
      <h1><span class="icon-angle-right" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:88vw;"></span></h1></a>
    <a href="/user/inbox" data-target="1" style=";margin-left:50px;float:left">
       <h1><span class="icon-angle-left" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:12vw;"></span></h1>
    </a>
  </div>
<div class="sceneElement" data-viewport="0">

                <div class="block" style="position:relative;top:50px">
                    <ul class="nav nav-tabs" style="position:absolute;top:-40px;left:-5px;width:auto">
                        <li class=""><a href="/user/my_portfolios" data-toggle="tab" aria-expanded="true">
                            Portfolio Summary<br>
                           
                        </a></li>
            {% for portfolio in portfolios %}                          

                        <li class=""  id="a{{portfolio.id}}"><a href="/user/individual_portfolio/{{portfolio.id}}" data-toggle="tab" aria-expanded="false">{{ portfolio.name }}
        
                        </a></li>
            {% endfor %}
 
                    </ul>
                    <div class="content tab-content">
                        <div class="tab-pane active" id="tab8">
                            <p>

<form id="myForm" class="form-horizontal" action="/user/individual_stock" method="post" style="display:none">
    {% csrf_token %}
    <input type="text" class="form-control" id="company_name" value="" name="company_name">    
</form>


    <!--first portfolio -->
    <div class="block">
    <div class="header">
        <h2 style="text-align:center;">{{ portfolio.name }}</h2>
    </div>
        <!-- <div class="head bg-dot30"> -->
        <div class="content" style="background-color:rgba(0,0,0,0.6)">
                    <div id="pieChart" style="text-align:center;position:absolute;left:25px;display:inline;top:50x"></div>
                <script>
                var colors = ["white","#87CEEB","rgb(79, 155, 43)","color: rgb(255, 152, 6)"," color: rgb(166, 45, 45);"]
                var pie = new d3pie("pieChart", {
                    "header": {
                        "title": {
                            "text": "Stock Distribution",
                            "color": "#ffffff",
                            "fontSize": 24,
                            "": "helvetica"
                        },
                        "subtitle": {
                            "color": "#999999",
                            "fontSize": 12,
                            "font": "open sans"
                        },
                        "titleSubtitlePadding": 9
                    },
                    "footer": {
                        "color": "#999999",
                        "fontSize": 10,
                        "font": "open sans",
                        "location": "bottom-left"
                    },
                    "size": {
                        "canvasWidth": 500,
                        "pieOuterRadius": "90%"
                    },
                    "data": {
                        "sortOrder": "value-desc",
                        "content": [
                        {% for stock in stocks %}
                            {
                                "label": "{{stock.ticker}}",
                                "value": 2,
                                "color": colors[{{ forloop.counter }}]
                            },
                        {% endfor %}

                        ]
                    },
                    "labels": {
                        "outer": {
                            "pieDistance": 32
                        },
                        "inner": {
                            "hideWhenLessThanPercentage": 3
                        },
                        "mainLabel": {
                            "color": "#ffffff",
                            "fontSize": 11
                        },
                        "percentage": {
                            "color": "#ffffff",
                            "decimalPlaces": 0
                        },
                        "value": {
                            "color": "#adadad",
                            "fontSize": 11
                        },
                        "lines": {
                            "enabled": true
                        },
                        "truncation": {
                            "enabled": true
                        }
                    },
                    "effects": {
                        "pullOutSegmentOnClick": {
                            "effect": "linear",
                            "speed": 400,
                            "size": 8
                        }
                    },
                    "misc": {
                        "gradient": {
                            "enabled": false,
                            "percentage": 100
                        }
                    }
                });
                </script>

                               <div id="pieChart2" style="text-align:center;position:absolute;right:25px;display:inline;top:50px"></div>
                <script>
                var colors = ["white","#87CEEB","rgb(79, 155, 43)","color: rgb(255, 152, 6)"," color: rgb(166, 45, 45);"]
                var pie = new d3pie("pieChart2", {
                    "header": {
                        "title": {
                            "text": "Sector Breakdown",
                            "color": "#ffffff",
                            "fontSize": 24,
                            "": "helvetica"
                        },
                        "subtitle": {
                            "color": "#999999",
                            "fontSize": 12,
                            "font": "open sans"
                        },
                        "titleSubtitlePadding": 9
                    },
                    "footer": {
                        "color": "#999999",
                        "fontSize": 10,
                        "font": "open sans",
                        "location": "bottom-left"
                    },
                    "size": {
                        "canvasWidth": 500,
                        "pieOuterRadius": "90%"
                    },
                    "data": {
                        "sortOrder": "value-desc",
                        "content": [
                            {
                                "label": "Technology",
                                "value": 232,
                                "color": colors[1]
                            },
                           {
                                "label": "Health",
                                "value": 432,
                                "color": colors[2]
                            },

                           {
                                "label": "Agriculture",
                                "value": 374,
                                "color": colors[3]
                            },


                        ]
                    },
                    "labels": {
                        "outer": {
                            "pieDistance": 32
                        },
                        "inner": {
                            "hideWhenLessThanPercentage": 3
                        },
                        "mainLabel": {
                            "color": "#ffffff",
                            "fontSize": 11
                        },
                        "percentage": {
                            "color": "#ffffff",
                            "decimalPlaces": 0
                        },
                        "value": {
                            "color": "#adadad",
                            "fontSize": 11
                        },
                        "lines": {
                            "enabled": true
                        },
                        "truncation": {
                            "enabled": true
                        }
                    },
                    "effects": {
                        "pullOutSegmentOnClick": {
                            "effect": "linear",
                            "speed": 400,
                            "size": 8
                        }
                    },
                    "misc": {
                        "gradient": {
                            "enabled": false,
                            "percentage": 100
                        }
                    }
                });
                </script>  

                <div class="blsock" style="width:100%;margin-top:500px">
                    <div class="input-group" style="width:100%;text-align:center">
                        <div class="btn-group btn-group-lg" style="text-align:center">
                            <button type="button" class="btn btn-default btn-clean">Table View</button>
                            <button type="button" class="btn btn-default btn-clean">Card View</button>
                            <button type="button" class="btn btn-default btn-clean">Back Test</button>    
                        </div>              
                    </div>  
                </div>  

                    <table class="table table-hover margin bottom">
                    <thead>
                    <tr>
                        <th>Market Ticker</th>
                        <th class="text-center">Company Name</th>
                        <th class="text-center">Buy Date</th>
                        <th class="text-center">Recommended Sell Date</th>
                        <th class="text-center">Market Sentiment</th>
                        <th class="text-center">Stock Price</th>
                        <th class="text-center">Percent gains</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for stock in stocks %}
                        <td><a href="#" onClick=goStock(this) id="stockLink">{{stock.ticker}}</a></td>
                        <td class="text-center small">{{stock.ticker}}</td>
                        <td class="text-center">{{stock.buy_date}}</td>
                        <td class="text-center">{{stock.sell_date}}</td>
                        <td class="text-center">{{market_sentiment | random }}</td>
                        <td class="text-center">{{stock.current_price}}</td>
{% if stock.gain >= 0%}
                         <td class="text-center" style="color:rgba(0,255,0,1)"><span style="font-size:20px;">&uarr;</span>&nbsp;{{ stock.gain }}%</td>
 {% else %}
                         <td class="text-center" style="color:rgba(255,0,0,1);"><span style="font-size:20px;">&darr;</span>&nbsp;{{ stock.gain }}%</td>
 {% endif %}

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>


   </div>
</div>
</div>

                    <tr>


</body>

{% endblock %}
{% block scripts %}

 <script src="/static/js/user/individual_portfolio.js"></script>


{% endblock %}
