{% extends "base.html" %}
{% block content %}
<script>
var url = String(window.location.href).slice(-2)
if (url[0] == '/') {
  url = url.slice(-1)
}
// $("li#a" + url).attr('class','active')
</script>
<div class="sceneElement" data-viewport="0">
 <div class="nav">
    <a href="/user/portfolio_settings" data-target="-1" style=";margin-right:50px;float:right">           
      <h1><span class="icon-angle-right" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:98vw;font-size:24px"></span></h1></a>
    <a href="/user/inbox" data-target="1" style=";margin-left:50px;float:left">
       <h1><span class="icon-angle-left" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:1vw;font-size:24px"></span></h1>
    </a>
  </div>
<div class="col-lg-12 col-lg-12 col-sm-12" style="height:100%;">

<div class="row" style="background:rgba(0,0,0,0.2);padding-bottom:0px">
  <div style="background:rgba(0,0,0,0.2);position:relative;top:-50px">
  <h2 style="font-weight:300;padding-top:50px;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:36px;text-align:center;color:white;height:50px;padding-left:50px;margin-top:50px" id="companyName"><span style="font-size:36px;margin-right:15px" class="icon-magic"></span>{{portfolio.name}}</h2> 
  <h2 style="font-weight:300;padding-top:50px;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:18px;text-align:center;color:white;height:25px;padding-left:50px;" id="companyName">Vised Picked Portfolio for {{portfolio.client_name}}</h2> 
  <h2 style="font-weight:300;padding-top:30px;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:18px;text-align:center;color:white;height:150px;padding-left:50px;" id="companyName">Created {{portfolio.created_date}}</h2> 
  </div>

  <div class="col-lg-8"  style="padding-left:25px">

                    <div class="header">
                        <h2>Portfolio Graph </h2>
                    </div>                  
               <div class="content" id="content1" style="height:325px;overflow:hidden">  
                <div id="container" style="height: 400px; min-width: 310px;position:relative;right:25px"></div>    
<script>
$(function () {
    $.getJSON('/user/portfolio_chart/{{portfolio.id}}/', function (data) {
        data = data.data
	console.log(data)
        // Create the chart
        Highcharts.stockChart('container', {


            rangeSelector: {
                selected: 1
            },

            title: {
                text: '{{portfolio.name}} Stock Price'
            },

            series: [{
                name: '{{portfolio.name}} Stock Price',
                data: data,
                type: 'area',
                threshold: null,
                tooltip: {
                    valueDecimals: 2
                },
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                }
            }]
        });
    });
});

</script>     


                  </div>
                </div>
                <div class="col-md-4" style="height:350px">
                  <div class="header">
                    <h2>Portfolio Breakdown </h2>
                  </div>
                      <div class="row" style="height:100%">

{% block scripts %}
  <script src="/static/js/user/individual_portfolio.js"></script>
 <link href="/static/css2/d3.pie.css" rel="stylesheet">
 <script src="/static/assets/js/highstock.js"></script>
  <script src="/static/assets/js/exporting.js"></script>

{% endblock %}
 <div style="margin-top:50px">

                    <ul class="nav nav-tabs nav-justified" style="position:relative;top:0px;position: relative;top: -47px;z-index: 0;height: 50px;">
                        <li class="active"><a href="#tab5" data-toggle="tab" style="width:100%"><h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px">Sector Distribution</h2>
                                                 </a></li>

                        <li><a href="#tab6" data-toggle="tab" style="width:100%">     <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px">Stock Distribution</h2>   </a></li>
                        <li><a href="#tab7" data-toggle="tab" style="width:100%">     <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px">Portfolio Information</h2>   </a></li>

                    </ul>

                    <div class="content content-transparent tab-content center" style="position:relative;bottom:50px">

                        <div class="tab-pane active" id="tab5">
      <div class="row">
                            <div class="col-md-6" id="sector_size">
                               <div id="pieChart3" style="position:relative;right:25px"></div>
                               <button  onClick="right_idx()" style="display: inline-block;position:relative;bottom:75px;left:-20px;font-size:24px;background: transparent;border: 0px;width: 50px;">
                               <span class="icon-angle-left" ></span>
                               </button>
                               <button  onClick="right_idx()" style="display: inline-block;position:relative;bottom:75px;right:-20px;font-size:24px;background: transparent;border: 0px;width: 50px;float:right;width:50px">
                               <span class="icon-angle-right" ></span>
                               </button>
                            </div>
                           <div class="col-md-6" id="sector_size" style="overflow:hidden;height:250px">
                          <table class="table table-hover" style="position:relative;top:-5px;width:90%;height:100%">
                                  <thead>
                                        <th style="text-align:right;padding:0px;padding-right:5px">Sector</td>
                                        <th style="text-align:right;padding:0px;width:20px">Color</td>
                                        <th style="text-align:right;padding:0px;">Size</td>
                                   </thead>
                                <tbody style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:9px;text-align:center;color:white">

{% for key, value in sectors.items %}
    {% if forloop.counter < 7 %}

                                     <tr id="firstSeven">
                                        <td style="text-align:right;padding:0px;white-space: nowrap;">{{value.sector|slice:"0:15"}}...</td>
                                        <td style="text-align:right;padding:0px;width:20px" id="{{value.sector|slice:"0:4"}}"></td>
                                        <td style="text-align:right;padding:0px;">{{value.value}}</td>
                                   </tr>

    <script>
    var colors = ["#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C","#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C"]
    $("#{{value.sector|slice:"0:4"}}").css('background',colors[{{forloop.counter}}])
    console.log($("#{{value.sector|slice:"0:3"}}"))
    console.log(colors[{{forloop.counter}}])
    </script>
    {% endif %}
    {% if forloop.counter >= 7 and forloop.counter <= 12   %}

                                     <tr id="secondSeven" style="display:none">
                                        <td style="text-align:right;padding:0px;white-space: nowrap;">{{value.sector|slice:"0:15"}}...</td>
                                        <td style="text-align:right;padding:0px;width:20px" id="{{value.sector|slice:"0:4"}}"></td>
                                        <td style="text-align:right;padding:0px;">{{value.value}}</td>
                                   </tr>
        <script>
         var colors = ["#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C","#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C"]
        $("#{{value.sector|slice:"0:4"}}").css('background',colors[{{forloop.counter}}])
        console.log($("#{{value.sector|slice:"0:3"}}"))
        console.log(colors[{{forloop.counter}}])
        </script>

    {% endif %}

 
{% endfor %}
                                    
                                  </tbody>
                                </table>
                            </div>
                        </div>

<link href="/static/css2/d3.pie.css" rel="stylesheet">
         <script>
         var colors = ["#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C","#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C"]
var dimension = $("#sector_size").width()

var pie = new d3pie("pieChart3", {
    "header": {
        "title": {
            "color": "#ffffff",
            "fontSize": 22,
            "font": "verdana"
        },
        "subtitle": {
            "color": "#ffffff",
            "fontSize": 10,
            "font": "verdana"
        },
        "location": "pie-center",
        "titleSubtitlePadding": 12
    },
    "footer": {
        "color": "#999999",
        "fontSize": 11,
        "font": "open sans",
        "location": "bottom-center"
    },
    "size": {
        "canvasHeight": 225,
        "canvasWidth": dimension*1.25,
        "pieInnerRadius": "85%",
        "pieOuterRadius": "90%"
    },
    "data": {
        "sortOrder": "value-desc",
        "content": [
{% for key, value in sectors.items %}
{% if forloop.counter < 13 %}
            {
                "value": {{value.value}},
                "color": colors[{{forloop.counter}}]
            },
{% endif %}
{% endfor %}

        ]
    },
    "labels": {
        "outer": {
            "pieDistance": 10
        },
        "inner": {
            "format": "none"
        },
        "percentage": {
            "color": "#e1e1e1",
            "font": "verdana",
            "decimalPlaces": 0
        },
        "value": {
            "color": "#e1e1e1",
            "font": "verdana"
        },
        "lines": {
            "enabled": true,
            "color": "black"
        },
        "truncation": {
            "enabled": true
        }
    },
    "effects": {
        "pullOutSegmentOnClick": {
            "effect": "linear",
            "speed": 400,
            "size": 8
        }
    }
});
</script>
 

                        </div>

                        <div class="tab-pane" id="tab7">


                    <table class="table table-hover margin bottom">
                    <tbody>
                      <tr>
                        <td class="text-center small">Last Updated</td>
                        <td class="text-center small">{{port.update_date}}</td>
                      </tr>
                      <tr>
                        <td class="text-center small">Client Name</td>
                        <td class="text-center small">{{port.client_name}}</td>
                      </tr>                      
                      <tr>
                        <td class="text-center small">Investing Amount</td>
                        <td class="text-center small">{{port.investing_amount}}</td>
                      </tr>
                      <tr>
                        <td class="text-center small">Description</td>
                        <td class="text-center small">{{port.description}}</td>
                      </tr>
                      <tr>
                        <td class="text-center small">Brokerage Account Value</td>
                        <td class="text-center small">{{port.brokerage_account}}</td>
                      </tr>
                      <tr>
                        <td class="text-center small">Household Income</td>
                        <td class="text-center small">{{port.household_income}}</td>
                      </tr>                      
                      <tr>
                        <td class="text-center small">Social Security Income</td>
                        <td class="text-center small">{{port.ss_income}}</td>
                      </tr>
                      <tr>
                        <td class="text-center small">Retirement Account Value</td>
                        <td class="text-center small">{{port.retirement_account}}</td>
                      </tr>
                    </tbody>
                </table>


                        </div>
                        <div class="tab-pane" id="tab6">


<div style="width:95%;right:-1%;">              
                    <div class="content" style="height:250px;background:transparent" id="sectorContent">
<script>
var idx = 0
var right_idx = function() {
    if (idx == 0) {
        idx = 1
        for (var i=0;i<=6;i++) {
            $("tr#secondSeven")[i].style.display = "table-row"
            $("tr#firstSeven")[i].style.display = "none"
        }
    } else if (idx == 1) {
        idx = 0
        for (var i=0;i<6;i++) {
            $("tr#secondSeven")[i].style.display = "none"
            $("tr#firstSeven")[i].style.display = "table-row"
        }
    }
}
var left_idx = function() {
    if (idx == 0) {
        idx = 1
        for (var i=0;i<=6;i++) {
            $("tr#secondSeven-2")[i].style.display = "table-row"
            $("tr#firstSeven-2")[i].style.display = "none"
        }
    } else if (idx == 1) {
        idx = 0
        for (var i=0;i<6;i++) {
            $("tr#secondSeven-2")[i].style.display = "none"
            $("tr#firstSeven-2")[i].style.display = "table-row"
        }
    }
}
</script>
                        <div class="row" style="height:100%">
                            <div class="col-md-6" id="sector_size">
                               <div id="pieChart4" style="position:relative;top:0px;right:28px"></div>
                               <button  onClick="left_idx()" style="display: inline-block;position:relative;bottom:75px;left:-20px;font-size:24px;background: transparent;border: 0px;width: 50px;">
                               <span class="icon-angle-left" ></span>
                               </button>
                               <button  onClick="left_idx()" style="display: inline-block;position:relative;bottom:75px;right:-20px;font-size:24px;background: transparent;border: 0px;width: 50px;float:right;width:50px">
                               <span class="icon-angle-right" ></span>
                               </button>
                            </div>
                           <div class="col-md-6" id="sector_size" style="overflow:hidden;height:100%">
                          <table class="table table-hover" style="position:relative;top:-5px;width:90%;height:90%">
                                  <thead>
                                        <th style="text-align:right;padding:0px;width:45%;padding-right:25px">Stock</td>
                                        <th style="text-align:right;padding:0px;width:20px">Color</td>
                                        <th style="text-align:right;padding:0px;">Allocation</td>
                                   </thead>
                                <tbody style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:9px;text-align:center;color:white">

{% for stock in stocks %}
    {% if forloop.counter < 7 %}

                                     <tr id="firstSeven-2">
                                        <td style="text-align:right;padding:0px;white-space: nowrap;width:45%;padding-right:25px">{{stock.ticker}}</td>
                                        <td style="text-align:right;padding:0px;width:20px" id="{{stock.ticker}}"></td>
                                        <td style="text-align:right;padding:0px;">{{stock.allocation|floatformat}}%</td>
                                   </tr>

    <script>
    var colors = ["#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C","#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C"]
    $("#{{stock.ticker}}").css('background',colors[{{forloop.counter}}])
    console.log($("#{{value.sector|slice:"0:3"}}"))
    console.log(colors[{{forloop.counter}}])
    </script>
    {% endif %}
    {% if forloop.counter >= 7 %}

                                     <tr id="secondSeven-2" style="display:none">
                                        <td style="text-align:right;padding:0px;white-space: nowrap;width:45%;padding-right:25px">{{stock.ticker}}</td>
                                        <td style="text-align:right;padding:0px;width:20px" id="{{stock.ticker}}"></td>
                                        <td style="text-align:right;padding:0px;">{{stock.allocation|floatformat}}%</td>
                                   </tr>

    <script>
    var colors = ["#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C","#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C"]
    $("#{{stock.ticker}}").css('background',colors[{{forloop.counter}}])
    console.log($("#{{value.sector|slice:"0:3"}}"))
    console.log(colors[{{forloop.counter}}])
    </script>
    {% endif %}    


 
{% endfor %}
                                    
                                  </tbody>
                                </table>
                            </div>
                        </div>

<link href="/static/css2/d3.pie.css" rel="stylesheet">
         <script>
         var colors = ["#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C","#E578FC","#F46EE7","#EC65BC","#E45C90","#DC5365","#D45D4B","#CC7944","#C4943C","#BCAF35","#9DB42F","#73AC28","#4BA423","#249B1D","#189432","#138C4B","#0F8463","#0B7C7A","#085973","#05386C","#021963","#02005C"]
var dimension = $("#sector_size").width()

var pie = new d3pie("pieChart4", {
    "header": {
        "title": {
            "color": "#ffffff",
            "fontSize": 22,
            "font": "verdana"
        },
        "subtitle": {
            "color": "#ffffff",
            "fontSize": 10,
            "font": "verdana"
        },
        "location": "pie-center",
        "titleSubtitlePadding": 12
    },
    "footer": {
        "color": "#999999",
        "fontSize": 11,
        "font": "open sans",
        "location": "bottom-center"
    },
    "size": {
        "canvasHeight": 225,
        "canvasWidth": dimension*1.25,
        "pieInnerRadius": "85%",
        "pieOuterRadius": "90%"
    },
    "data": {
        "sortOrder": "value-desc",
        "content": [


                        {% for stock in stocks %}
                            {

                                "value": {{stock.number_of_shares}},

                                "color":  colors[{{forloop.counter}}]
                            },
                        {% endfor %}

        ]
    },
    "labels": {
        "outer": {
            "pieDistance": 10
        },
        "inner": {
            "format": "none"
        },
        "percentage": {
            "color": "#e1e1e1",
            "font": "verdana",
            "decimalPlaces": 0
        },
        "value": {
            "color": "#e1e1e1",
            "font": "verdana"
        },
        "lines": {
            "enabled": true,
            "color": "black"
        },
        "truncation": {
            "enabled": true
        }
    },
    "effects": {
        "pullOutSegmentOnClick": {
            "effect": "linear",
            "speed": 400,
            "size": 8
        }
    }
});
</script>
 
                    </div>


                        </div>                        
                    </div>
</div>                



                        
                        </div>


                </div>
              </div>

                <div class="col-md-12">
  
                           
<div class="col-md-12">
                                <div class="btn-group btn-group-justified" style="width:25%">
                                    <a href="/user/backtest/{{portfolio.id}}"  class="btn btn-default btn-clean"  target="_blank">Back-Test Portfolio</a>
                                    <a href="#" class="btn btn-default btn-clean" onClick="downloadCsv()">Export as CSV</a>
                                </div>

                <script>
                function backtest(id) {
                    $.ajax({
                        url:'/user/backtest/' + id,
                        dataType: 'json',
                        type: 'GET'
                    }).done(function(x) {
                        console.log(x)
                    })
                }
                </script>
                <hr>
                    <table class="table table-hover margin bottom">
                    <thead>
                    <tr>
                        <th>Market Ticker</th>
                        <th class="text-center">Company Name</th>
                        <th class="text-center">Sector</th>
                        <th class="text-center">Buy Date</th>
                        <th class="text-center">Recommended Sell Date</th>
                        <th class="text-center">Market Sentiment</th>
                        <th class="text-center">Allocation</th>
                        <th class="text-center">Stock Price</th>
                        <th class="text-center">Percent gains</th>
                    </tr>
                    </thead>
                    <tbody id="optimizedPortfolio">
                    {% for stock in stocks %}
                        <td><a href="/user/individual_stock/{{stock.ticker}}/" id="stockLink">{{stock.ticker}}</a></td>
                        <td class="text-center small">{{stock.company_name}}</td>
                        <td class="text-center small">{{stock.sector}}</td>
                        <td class="text-center">{{stock.buy_date}}</td>
                        <td class="text-center">{{stock.sell_date}}</td>
                      <td> <h2 style="font-weight:300;-webkit-webkit-font-s: b;
                      -moz-webkit-font-s: b;
                      -ms-webkit-font-s: b;
                      -o-webkit-font-s: b;
                      webkit-font-s: b;moothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px;padding-left:50px" id="d_sentiment">{{stock.sentiment|floatformat}}</h2>  </td>
                      <td> <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:12px;padding-left:50px">{{stock.allocation|floatformat}}%</h2>  </td>
                        <td class="text-center">{{stock.current_price}}</td>
{% if stock.gain >= 0%}
                         <td class="text-center" style="color:rgba(0,255,0,1)"><span style="font-size:20px;">&uarr;</span>&nbsp;{{ stock.gain }}%</td>
 {% else %}
                         <td class="text-center" style="color:rgba(255,0,0,1);"><span style="font-size:20px;">&darr;</span>&nbsp;{{ stock.gain }}%</td>
 {% endif %}

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>                


<form id="myForm" class="form-horizontal" action="/user/individual_stock" method="post" style="display:none">
    {% csrf_token %}
    <input type="text" class="form-control" id="company_name" value="" name="company_name">    
</form>

</div>    

</body>

{% endblock %}

