{% extends "base.html" %}

{% block content %}

   
<div class="sceneElement" data-viewport="0">
  <div class="col-lg-12 col-md-12 col-sm-12" style="background:rgba(0,0,0,0.6);padding-top:25px;padding-left:10vw;padding-right:10vw;height:100%;position:relative">
<!--    

</div>
</body>

<div class="sceneElement" data-viewport="0" style="position:relative;top:-10vh">
 -->
<div class="ui-widget">
    <input id="tags" class="search" type="text" id="market-cap" placeholder="Search for any stock or portfolio" name="investing_amount" class="form-control" style="margin-top:75px;margin-bottom:100px;width:50vw;left:15vw;position:relative;border:1px solid white;border-radius:12px;padding:25px;font-weight:300;">
</div>
</div>

<script>
   $('#tags').on('keypress', function (e) {
         if(e.which === 13){
            var inputval = $("#tags")[0].value
            splitval = inputval.split('\[')
            if (splitval.length === 2) {
               window.location.assign($("h5:contains("+splitval[0].slice(0,-1)+")")[0].parentNode.parentNode.children[2].children[0].href)
            } else {
                goStock(splitval[0])
            }
                        //Disable textbox to prevent multiple submit
            // $(this).attr("disabled", "disabled");

            //Do Stuff, submit, etc..
         }
   });

</script>
</div>
  <!-- 
<div class="row">
<div class="col-md-3" style="margin:0px"></div>


  <div class="nav">
    <a href="/user/portfolio_settings" data-target="-1" style=";margin-right:50px;float:right;margin-left: 50px;float: left;top: 3vh;position: relative;height: 50px;">           
      <h1><span class="icon-angle-right" style="display: inline-block;line-height: 81.25vh;position: fixed;top:95px;left:98vw;font-size:24px"></span></h1></a>
    <a href="/user/inbox" data-target="1" style=";margin-left:50px;float:left">
       <h1><span class="icon-angle-left" style="display: inline-block;line-height: 81.25vh;position: fixed;top:95px;left:1vw;font-size:24px"></span></h1>
    </a>
  </div>
<div class="col-md-12"> -->
                <div>

                    <ul class="nav nav-tabs nav-justified" style="position:relative;top:0px;position: relative;top: -47px;z-index: 0;height: 100px;">
                        <li class="active"><a href="#tab5" data-toggle="tab" style="width:100%"><h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:14px">Your Stocks</h2>
<!-- body .ui-autocomplete {
  font-weight:300;
  -webkit-font-smoothing: 
  antialiased;
  font-family:'helvetica neue';
  letter-spacing:2px;font-size:12px
}

body .ui-autocomplete .ui-menu-item .ui-corner-all {
    background:blue
} -->
<!-- 
body .ui-autocomplete .ui-menu-item .ui-state-focus {
   /* selected <a> */ -->
<!-- }        -->
                                                 </a></li>

                        <li><a href="#tab6" data-toggle="tab" style="width:100%">     <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:14px">Your Portfolios</h2>   </a></li>

                    </ul>

                    <div class="content content-transparent tab-content center" style="padding-top:50px">

                        <div class="tab-pane active" id="tab5">
  {% for portfolio in all_portfolios %}
    {% if portfolio.stocks %} 
    {% for stock in portfolio.stocks %}                           
            <div class="col-md-3" style="margin-top:10px">
                                            <div class="block">
                                                <div class="header">
                                                   <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:14px">{{stock.ticker}}</h2>       
                                                </div>                    
                                                <div class="content" style="height:275px">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td>Current Price</td>
                                                            <td> <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:14px">${{stock.current_price}}</h2>  </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Initial Price</td>
                                                            <td> <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:14px">${{stock.initial_price}}</h2>  </td>
                                                        </tr>                                                        
                                                        <tr>
                                                            <td>Portfolio</td>
                                                            <td> <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:14px">{{portfolio.name}}</h2>  </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Buy Date</td>
                                                            <td> <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:14px">{{stock.buy_date}}</h2>  </td>
                                                        </tr>
                                                        <td>Sell Date</td>
                                                            <td> <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:14px">{{stock.sell_date}}</h2>  </td>
                                                        </tr>   

                                                    </tbody>
                                                </table>
                                                </div>                    
                                                <div class="footer" style="text-align:center">
   
                                                     <a type="button" class="btn btn-default btn-clean center" href="/user/individual_stock/{{stock.ticker}}/">See in Detail</a>             
                                                </div>
                                            </div>
                                        </div>
    {% endfor %}
    {% endif %}
{% endfor %}

                   
                        </div>
<div class="nav"> 
    <a href="/user/portfolio_settings" data-target="-1" style=";margin-right:50px;float:right">           
      <h1><span class="icon-angle-right" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:98vw;font-size:24px"></span></h1></a>
    <a href="/user/inbox" data-target="1" style=";margin-left:50px;float:left">
       <h1><span class="icon-angle-left" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:1vw;font-size:24px"></span></h1>
    </a>
  </div>

                        <div class="tab-pane" id="tab6">

{% for portfolio in all_portfolios %}
                                <div class="col-md-3" style="margin-top:10px">
                                            <div class="block">
                                                <div class="header">
                                                   <h5 id="pn" style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:14px">{{portfolio.name}}</h5>
                                                                                <a type="button" style="position:relative;bottom:25px;float:right" href="/user/backtest/{{portfolio.id}}"
                                                 target="_blank" class="btn btn-default btn-clean center">Back Test</a>   
                                                </div>                    
                                                <div class="content" style="height:250px">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td>Value</td>
                                                            <td> <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:14px">${{portfolio.investment}}</h2>  </td>
                                                        </tr>
     <tr>
                                                            <td>Update Date</td>
                                                            <td> <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:14px">
                                                              {{portfolio.update_date}}
                                                            </h2>  </td>
                                                        </tr>                                                        
     <tr>
                                                            <td>Client Name</td>
                                                            <td> <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:14px">{{portfolio.client_name}}</h2>  </td>
                                                        </tr>
                                                        <tr>
                                                          <td>Description</td>
                                                            <td> <h2 style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:14px">{{portfolio.description}}</h2>  </td>
                                                        </tr> 
                                                    </tbody>
                                                </table>

                                                </div>                    
                                                <div class="footer" style="text-align:center">

                                                    <a href="/user/individual_portfolio/{{portfolio.id}}/" data-toggle="tab" aria-expanded="false" id="a{{portfolio.id}}" type="button" class="btn btn-default btn-clean center">See in Detail
                                                    </a>         
                                                </div>
                                            </div>
                                        </div>
{% endfor %}
                        </div>                        
                    </div>
                </div>                
            </div>

</div>  


<form id="myForm" class="form-horizontal" action="/user/individual_stock" method="post" style="display:none">
    {% csrf_token %}
    <input type="text" class="form-control" id="company_name" value="company_name" name="company_name">    
</form> 

{% endblock %}

{% block scripts %}
 <script src="/static/js/user/my_portfolios.js"></script>
<script>
 $( function() {
    var availableTags = [
"ACT",
"A",
"AA",
"AA",
"AA",
"AA",
"AAC",
"AADR",
"AAMC",
"AAN",
"AAP",
"AAT",
"AAU",
"AAV",
"AB",
"ABB",
"ABBV",
"ABC",
"ABE",
"ABEV",
"ABG",
"ABM",
"ABR",
"ABR",
"ABR",
"ABR",
"ABRN",
"ABT",
"ABX",
"AC",
"ACC",
"ACCO",
"ACH",
"ACIM",
"ACM",
"ACN",
"ACP",
"ACRE",
"ACU",
"ACV",
"ACW",
"ACWF",
"ACWV",
"ACY",
"ADC",
"ADGE",
"ADK",
"ADK",
"ADM",
"ADNT",
"ADPT",
"ADS",
"ADSW",
"ADX",
"ADZ",
"AE",
"AAPL",
"AEB",
"AED",
"AEE",
"AEG",
"AEH",
"AEK",
"AEL",
"AEM",
"AEO",
"AEP",
"AER",
"AES",
"AES",
"AET",
"AEUA",
"AF",
"AF",
"AFA",
"AFB",
"AFC",
"AFCO",
"AFG",
"AFGE",
"AFGH",
"AFI",
"AFK",
"AFL",
"AFSD",
"AFSI",
"AFSI",
"AFSI",
"AFSI",
"D",
"AFSI",
"E",
"AFSI",
"AFSS",
"AFST",
"AFT",
"AFTY",
"AFW",
"AG",
"AGA",
"AGC",
"AGCO",
"AGD",
"AGF",
"AGG",
"AGGE",
"AGGP",
"AGGY",
"AGI",
"AGM",
"AGM",
"AGM",
"AGM",
"AGM",
"AGN",
"AGN",
"AGO",
"AGO",
"AGO",
"AGO",
"AGQ",
"AGR",
"AGRO",
"AGU",
"AGX",
"AGZ",
"AHC",
"AHH",
"AHL",
"AHL",
"AHL",
"AHL",
"AHL",
"AHP",
"AHP",
"AHS",
"AHT",
"AHT",
"AHT",
"AHT",
"AHT",
"AI",
"AIB",
"AIC",
"AIF",
"AIG",
"AIG",
"AIII",
"AIN",
"AINC",
"AIR",
"AIRI",
"AIT",
"AIV",
"AIV",
"AIW",
"AIY",
"AIZ",
"AJG",
"AJRD",
"AJX",
"AKG",
"AKO",
"AKO",
"AKP",
"AKR",
"AKS",
"AL",
"ALB",
"ALD",
"ALDW",
"ALE",
"ALEX",
"ALFA",
"ALFI",
"ALG",
"ALJ",
"ALK",
"ALL",
"ALL",
"ALL",
"ALL",
"ALL",
"ALL",
"ALL",
"ALLE",
"ALLY",
"ALLY",
"ALN",
"ALP",
"ALR",
"ALR",
"ALSN",
"ALTS",
"ALV",
"ALX",
"AM",
"AMBR",
"AMC",
"AME",
"AMFW",
"AMG",
"AMH",
"AMH",
"AMH",
"AMH",
"AMH",
"AMH",
"AMID",
"AMJ",
"AMJL",
"AMLP",
"AMP",
"AMPE",
"AMRC",
"AMS",
"AMT",
"AMT",
"AMT",
"AMU",
"AMUB",
"AMX",
"AMZA",
"AN",
"AND",
"ANET",
"ANF",
"ANFI",
"ANGL",
"ANH",
"ANH",
"ANH",
"ANH",
"ANTM",
"ANTX",
"ANW",
"AOA",
"AOD",
"AOI",
"AOK",
"AOM",
"AON",
"AOR",
"AOS",
"AP",
"APA",
"APAM",
"APB",
"APC",
"APD",
"APF",
"APFH",
"APH",
"APHB",
"APLE",
"APO",
"APT",
"APTS",
"APU",
"AR",
"ARA",
"ARC",
"ARCH",
"ARCO",
"ARCX",
"ARDC",
"ARE",
"ARE",
"ARE",
"ARES",
"ARES",
"ARGT",
"ARH",
"ARI",
"ARI",
"ARI",
"ARKG",
"ARKK",
"ARKQ",
"ARKW",
"ARL",
"ARMK",
"ARNC",
"AROC",
"ARR",
"ARR",
"ARR",
"ARU",
"ARW",
"ASA",
"ASB",
"ASB",
"ASB",
"ASB",
"ASC",
"ASEA",
"ASG",
"ASGN",
"ASH",
"ASHR",
"ASHS",
"ASHX",
"ASIX",
"ASM",
"ASPN",
"ASR",
"AST",
"AST",
"ASX",
"AT",
"ATEN",
"ATEST",
"ATEST",
"ATEST",
"ATEST",
"ATHM",
"ATI",
"ATKR",
"ATMP",
"ATNM",
"ATO",
"ATR",
"ATTO",
"ATU",
"ATV",
"ATW",
"AU",
"AUMN",
"AUNZ",
"AUO",
"AUSE",
"AUY",
"AV",
"AVA",
"AVAL",
"AVB",
"AVD",
"AVG",
"AVH",
"AVK",
"AVP",
"AVT",
"AVV",
"AVX",
"AVY",
"AWF",
"AWH",
"AWI",
"AWK",
"AWP",
"AWR",
"AWX",
"AXE",
"AXJL",
"AXJV",
"AXL",
"AXN",
"AXON",
"AXP",
"AXR",
"AXS",
"AXS",
"AXS",
"AXTA",
"AXU",
"AYI",
"AYR",
"AYT",
"AZN",
"AZO",
"AZRE",
"AZZ",
"B",
"BA",
"BAA",
"BAB",
"BABA",
"BAC",
"BAC",
"BAC",
"BAC",
"BAC",
"BAC",
"BAC",
"BAC",
"BAC",
"BAC",
"BAC",
"BAF",
"BAH",
"BAK",
"BAL",
"BAM",
"BANC",
"BANC",
"BANC",
"BANC",
"BAP",
"BAS",
"BATS",
"BAX",
"BBD",
"BBDO",
"BBF",
"BBG",
"BBK",
"BBL",
"BBN",
"BBRC",
"BBT",
"BBT",
"BBT",
"BBT",
"BBT",
"BBT",
"BBU",
"BBVA",
"BBW",
"BBX",
"BBY",
"BC",
"BCC",
"BCE",
"BCEI",
"BCH",
"BCM",
"BCO",
"BCR",
"BCRH",
"BCS",
"BCS",
"BCS",
"BCV",
"BCV",
"BCX",
"BDC",
"BDC",
"BDCL",
"BDCS",
"BDCZ",
"BDD",
"BDJ",
"BDL",
"BDN",
"BDN",
"BDR",
"BDX",
"BEL",
"BEMO",
"BEN",
"BEP",
"BERY",
"BETR",
"BF",
"BF",
"BFAM",
"BFK",
"BFO",
"BFOR",
"BFR",
"BFS",
"BFS",
"BFY",
"BFZ",
"BG",
"BGB",
"BGC",
"BGCA",
"BGE",
"BGG",
"BGH",
"BGI",
"BGR",
"BGS",
"BGSF",
"BGT",
"BGX",
"BGY",
"BH",
"BHB",
"BHE",
"BHI",
"BHK",
"BHL",
"BHLB",
"BHP",
"BHV",
"BID",
"BIF",
"BIG",
"BIGD",
"BIL",
"BIO",
"BIO",
"BIOA",
"BIOA",
"BIP",
"BIT",
"BITA",
"BIV",
"BIZD",
"BJK",
"BJZ",
"BK",
"BK",
"BKD",
"BKE",
"BKF",
"BKFS",
"BKH",
"BKHU",
"BKJ",
"BKK",
"BKLN",
"BKN",
"BKS",
"BKT",
"BKU",
"BLD",
"BLE",
"BLH",
"BLJ",
"BLK",
"BLL",
"BLNG",
"BLOX",
"BLV",
"BLW",
"BLX",
"BMA",
"BME",
"BMI",
"BML",
"BML",
"BML",
"BML",
"BML",
"BMO",
"BMS",
"BMY",
"BND",
"BNDS",
"BNED",
"BNJ",
"BNO",
"BNS",
"BNY",
"BOE",
"BOH",
"BOI",
"BOIL",
"BOM",
"BOND",
"BOOT",
"BORN",
"BOS",
"BOX",
"BOXC",
"BP",
"BPI",
"BPK",
"BPL",
"BPMX",
"BPT",
"BPY",
"BQH",
"BR",
"BRAQ",
"BRAZ",
"BRC",
"BRF",
"BRFS",
"BRG",
"BRG",
"BRG",
"BRG",
"BRK",
"BRK",
"BRN",
"BRO",
"BRS",
"BRSS",
"BRT",
"BRX",
"BRZU",
"BSAC",
"BSBR",
"BSCG",
"BSCH",
"BSCI",
"BSCJ",
"BSCK",
"BSCL",
"BSCM",
"BSCN",
"BSCO",
"BSCP",
"BSCQ",
"BSD",
"BSE",
"BSJG",
"BSJH",
"BSJI",
"BSJJ",
"BSJK",
"BSJL",
"BSJM",
"BSJN",
"BSJO",
"BSL",
"BSM",
"BSMX",
"BST",
"BSV",
"BSWN",
"BSX",
"BT",
"BTA",
"BTAL",
"BTE",
"BTG",
"BTI",
"BTN",
"BTO",
"BTT",
"BTX",
"BTX",
"BTZ",
"BUD",
"BUI",
"BURL",
"BUZ",
"BVN",
"BVX",
"BW",
"BWA",
"BWG",
"BWL",
"BWP",
"BWV",
"BWX",
"BWXT",
"BWZ",
"BX",
"BXC",
"BXE",
"BXMT",
"BXMX",
"BXP",
"BXP",
"BXS",
"BYD",
"BYLD",
"BYM",
"BZF",
"BZH",
"BZM",
"BZQ",

"CHAD",
"CHAU",
"CHCT",
"CHD",
"CHE",
"CHEP",
"CHGG",
"CHH",
"CHIE",
"CHII",
"CHIM",
"CHIQ",
"CHIX",
"CHK",
"CHK",
"CHKR",
"CHL",
"CHMI",
"CHMT",
"CHN",
"CHOC",
"CHS",
"CHSP",
"CHSP",
"CHT",
"CHU",
"CI",
"CIA",
"CIB",
"CIE",
"CIEN",
"CIF",
"CIG",
"CIG",
"CII",
"CIK",
"CIM",
"CIM",
"CINR",
"CIO",
"CIO",
"CIR",
"CIT",
"CIU",
"CIVI",
"CIX",
"CJNK",
"CKH",
"CKX",
"CL",
"CLA",
"CLAW",
"CLB",
"CLC",
"CLD",
"CLDT",
"CLF",
"CLGX",
"CLH",
"CLI",
"CLM",
"CLNY",
"CLNY",
"CLNY",
"CLNY",
"CLR",
"CLS",
"CLW",
"CLX",
"CLY",
"CLYH",
"CM",
"CMA",
"CMA",
"CMBS",
"CMC",
"CMCM",
"CMDT",
"CMF",
"CMG",
"CMI",
"CMN",
"CMO",
"CMO",
"CMP",
"CMRE",
"CMRE",
"CMRE",
"CMRE",
"CMS",
"CMS",
"CMT",
"CMU",
"CN",
"CNA",
"CNC",
"CNCO",
"CNDA",
"CNDF",
"CNHI",
"CNHX",
"CNI",
"CNK",
"CNNX",
"CNO",
"CNP",
"CNQ",
"CNS",
"CNSF",
"CNTR",
"CNX",
"CNXC",
"CNXT",
"CNY",
"CNYA",
"CO",
"COBO",
"CODI",
"COE",
"COF",
"COF",
"COF",
"COF",
"COF",
"COF",
"COF",
"COG",
"COH",
"COL",
"COO",
"COP",
"COPX",
"COR",
"COR",
"CORN",
"CORP",
"CORR",
"CORR",
"COT",
"COTV",
"COTY",
"COW",
"CP",
"CPA",
"CPAC",
"CPB",
"CPE",
"CPE",
"CPER",
"CPF",
"CPG",
"CPHI",
"CPI",
"CPK",
"CPL",
"CPN",
"CPPL",
"CPS",
"CPT",
"CQH",
"CQP",
"CQQQ",
"CR",
"CRAK",
"CRBN",
"CRC",
"CRCM",
"CRD",
"CRD",
"CRED",
"CRF",
"CRH",
"CRHM",
"CRI",
"CRK",
"CRL",
"CRM",
"CRMD",
"CROC",
"CROP",
"CRR",
"CRS",
"CRT",
"CRVP",
"CRY",
"CS",
"CSC",
"CSCR",
"CSD",
"CSI",
"CSJ",
"CSL",
"CSLS",
"CSLT",
"CSM",
"CSRA",
"CSS",
"CST",
"CSTM",
"CSU",
"CSV",
"CTAA",
"CTB",
"CTBB",
"CTF",
"CTL",
"CTLT",
"CTNN",
"CTO",
"CTR",
"CTS",
"CTT",
"CTU",
"CTV",
"CTW",
"CTX",
"CTY",
"CTZ",
"CUB",
"CUBE",
"CUBE",
"CUBI",
"CUBI",
"CUBI",
"CUBI",
"CUBI",
"CUBS",
"CUDA",
"CUK",
"CUO",
"CUPM",
"CURE",
"CUT",
"CUZ",
"CVA",
"CVB",
"CVE",
"CVEO",
"CVG",
"CVI",
"CVM",
"CVM",
"CVO",
"CVR",
"CVRR",
"CVRS",
"CVS",
"CVT",
"CVU",
"CVX",
"CVY",
"CW",
"CWB",
"CWEI",
"CWH",
"CWI",
"CWS",
"CWT",
"CX",
"CXE",
"CXH",
"CXO",
"CXP",
"CXW",
"CYB",
"CYD",
"CYH",
"CYS",
"CYS",
"CYS",
"CZA",
"CZZ",
"D",
"DAC",
"DAG",
"DAL",
"DAN",
"DAR",
"DATA",
"DB",
"DBA",
"DBAP",
"DBAU",
"DBAW",
"DBB",
"DBBR",
"DBC",
"DBD",
"DBE",
"DBEF",
"DBEM",
"DBES",
"DBEU",
"DBEZ",
"DBGR",
"DBIF",
"DBIT",
"DBJP",
"DBKO",
"DBL",
"DBMX",
"DBO",
"DBP",
"DBRE",
"DBS",
"DBSE",
"DBSP",
"DBUK",
"DBV",
"DCA",
"DCI",
"DCM",
"DCNG",
"DCO",
"DCT",
"DCUC",
"DCUD",
"DD",
"DD",
"DD",
"DDC",
"DDD",
"DDE",
"DDEZ",
"DDF",
"DDG",
"DDJP",
"DDLS",
"DDM",
"DDP",
"DDR",
"DDR",
"DDR",
"DDS",
"DDT",
"DDWM",
"DE",
"DEA",
"DECK",
"DEE",
"DEEF",
"DEF",
"DEFA",
"DEI",
"DEL",
"DEM",
"DEMG",
"DEO",
"DES",
"DESC",
"DEUS",
"DEW",
"DEWJ",
"DEX",
"DEZU",
"DF",
"DFE",
"DFIN",
"DFJ",
"DFND",
"DFP",
"DFS",
"DFS",
"DFT",
"DFT",
"DG",
"DGAZ",
"DGI",
"DGL",
"DGP",
"DGRO",
"DGS",
"DGSE",
"DGT",
"DGX",
"DGZ",
"DHF",
"DHG",
"DHI",
"DHR",
"DHS",
"DHT",
"DHVW",
"DHX",
"DHY",
"DI",
"DIA",
"DIAX",
"DIG",
"DIM",
"DIN",
"DIRT",
"DIS",
"DIT",
"DIV",
"DIVA",
"DIVC",
"DIVI",
"DIVY",
"DJCI",
"DJD",
"DJP",
"DK",
"DKL",
"DKS",
"DKT",
"DL",
"DLA",
"DLB",
"DLN",
"DLNG",
"DLNG",
"DLPH",
"DLR",
"DLR",
"DLR",
"DLR",
"DLR",
"DLS",
"DLX",
"DM",
"DMB",
"DMD",
"DMF",
"DMO",
"DNB",
"DNI",
"DNL",
"DNN",
"DNO",
"DNOW",
"DNP",
"DNR",
"DO",
"DOC",
"DOD",
"DOG",
"DOL",
"DON",
"DOO",
"DOOR",
"DOV",
"DOW",
"DPG",
"DPK",
"DPLO",
"DPM",
"DPS",
"DPST",
"DPW",
"DPZ",
"DQ",
"DRA",
"DRD",
"DRE",
"DRH",
"DRI",
"DRIP",
"DRN",
"DRQ",
"DRR",
"DRUA",
"DRV",
"DRW",
"DSE",
"DSI",
"DSL",
"DSM",
"DSS",
"DST",
"DSU",
"DSUM",
"DSW",
"DSX",
"DSX",
"DSXN",
"DTD",
"DTE",
"DTF",
"DTH",
"DTJ",
"DTK",
"DTLA",
"DTN",
"DTO",
"DTQ",
"DTV",
"DTZ",
"DUC",
"DUG",
"DUK",
"DUKH",
"DULL",
"DUST",
"DV",
"DVA",
"DVD",
"DVEM",
"DVHL",
"DVMT",
"DVN",
"DVP",
"DVY",
"DVYA",
"DVYE",
"DVYL",
"DW",
"DWAQ",
"DWAS",
"DWM",
"DWTI",
"DWX",
"DX",
"DX",
"DX",
"DXB",
"DXD",
"DXJ",
"DXJC",
"DXJF",
"DXJH",
"DXJR",
"DXJT",
"DXR",
"DXUS",
"DY",
"DYB",
"DYLS",
"DYN",
"DYN",
"DYN",
"DYNC",
"DYY",
"DZK",
"DZZ",
"E",
"EAB",
"EAD",
"EAE",
"EAI",
"EARN",
"EAT",
"EBF",
"EBND",
"EBR",
"EBR",
"EBS",
"EC",
"ECA",
"ECC",
"ECCA",
"ECCB",
"ECCZ",
"ECF",
"ECH",
"ECL",
"ECNS",
"ECOM",
"ECON",
"ECR",
"ECT",
"ED",
"EDC",
"EDD",
"EDE",
"EDEN",
"EDF",
"EDI",
"EDIV",
"EDN",
"EDOG",
"EDR",
"EDU",
"EDV",
"EDZ",
"EE",
"EEA",
"EEB",
"EEH",
"EELV",
"EEM",
"EEMO",
"EEMS",
"EEMV",
"EEP",
"EEQ",
"EES",
"EET",
"EEV",
"EFA",
"EFAD",
"EFAV",
"EFC",
"EFF",
"EFFE",
"EFG",
"EFNL",
"EFO",
"EFR",
"EFT",
"EFU",
"EFV",
"EFX",
"EFZ",
"EGAS",
"EGF",
"EGI",
"EGIF",
"EGL",
"EGN",
"EGO",
"EGP",
"EGPT",
"EGY",
"EHI",
"EHIC",
"EHT",
"EIA",
"EIDO",
"EIG",
"EIM",
"EIO",
"EIP",
"EIRL",
"EIS",
"EIV",
"EIX",
"EL",
"ELC",
"ELD",
"ELF",
"ELJ",
"ELKU",
"ELLI",
"ELLO",
"ELMD",
"ELP",
"ELS",
"ELS",
"ELU",
"ELY",
"EMAG",
"EMAN",
"EMB",
"EMBH",
"EMCR",
"EMD",
"EMDD",
"EMDV",
"EME",
"EMES",
"EMF",
"EMFM",
"EMG",
"EMGF",
"EMHY",
"EMI",
"EMIH",
"EMJ",
"EMLB",
"EMLC",
"EMLP",
"EMN",
"EMO",
"EMP",
"EMQQ",
"EMR",
"EMSA",
"EMSD",
"EMSH",
"EMTL",
"EMXX",
"ENB",
"ENBL",
"ENFR",
"ENH",
"ENH",
"ENIA",
"ENIC",
"ENJ",
"ENLC",
"ENLK",
"ENO",
"ENOR",
"ENR",
"ENRJ",
"ENS",
"ENSV",
"ENV",
"ENVA",
"ENX",
"ENY",
"ENZ",
"EOCA",
"EOCC",
"EOD",
"EOG",
"EOI",
"EOS",
"EOT",
"EP",
"EPAM",
"EPC",
"EPD",
"EPE",
"EPHE",
"EPI",
"EPM",
"EPM",
"EPOL",
"EPP",
"EPR",
"EPR",
"EPR",
"EPR",
"EPRF",
"EPRO",
"EPS",
"EPU",
"EPV",
"EQAL",
"EQC",
"EQC",
"EQCO",
"EQGP",
"EQL",
"EQLT",
"EQM",
"EQR",
"EQS",
"EQT",
"EQWL",
"EQWM",
"EQWS",
"EQY",
"ERA",
"ERC",
"ERF",
"ERGF",
"ERH",
"ERJ",
"ERN",
"ERO",
"EROS",
"ERUS",
"ERX",
"ERY",
"ERYY",
"ES",
"ESBA",
"ESD",
"ESE",
"ESGN",
"ESGS",
"ESGW",
"ESL",
"ESNC",
"ESNT",
"ESP",
"ESRT",
"ESS",
"ESTE",
"ESV",
"ETAK",
"ETB",
"ETE",
"ETG",
"ETH",
"ETHO",
"ETJ",
"ETM",
"ETN",
"ETO",
"ETP",
"ETR",
"ETV",
"ETW",
"ETX",
"ETY",
"EUDG",
"EUDV",
"EUFL",
"EUFS",
"EUFX",
"EUM",
"EUMV",
"EUO",
"EURL",
"EURN",
"EUSA",
"EUSC",
"EV",
"EVA",
"EVBN",
"EVC",
"EVDY",
"EVER",
"EVER",
"EVF",
"EVG",
"EVGN",
"EVH",
"EVHC",
"EVI",
"EVJ",
"EVM",
"EVN",
"EVO",
"EVP",
"EVR",
"EVRI",
"EVT",
"EVTC",
"EVV",
"EVX",
"EVY",
"EW",
"EWA",
"EWC",
"EWD",
"EWEM",
"EWG",
"EWGS",
"EWH",
"EWI",
"EWJ",
"EWK",
"EWL",
"EWM",
"EWMC",
"EWN",
"EWO",
"EWP",
"EWQ",
"EWRE",
"EWS",
"EWSC",
"EWT",
"EWU",
"EWUS",
"EWV",
"EWW",
"EWX",
"EWY",
"EWZ",
"EXAR",
"EXC",
"EXCU",
"EXD",
"EXG",
"EXI",
"EXK",
"EXP",
"EXPR",
"EXR",
"EXT",
"EXTN",
"EYLD",
"EZA",
"EZJ",
"EZM",
"EZR",
"EZT",
"EZU",
"EZY",
"F",
"FAC",
"FAF",
"FAM",
"FAN",
"FAS",
"FAUS",
"FAV",
"FAX",
"FAZ",
"FAZZ",
"FBC",
"FBGX",
"FBHS",
"FBK",
"FBND",
"FBP",
"FBR",
"FBT",
"FC",
"FCAM",
"FCAU",
"FCB",
"FCE",
"FCE",
"FCF",
"FCFI",
"FCFS",
"FCG",
"FCH",
"FCH",
"FCN",
"FCO",
"FCOM",
"FCOR",
"FCPT",
"FCT",
"FCX",
"FDC",
"FDD",
"FDEU",
"FDIS",
"FDL",
"FDLO",
"FDM",
"FDMO",
"FDN",
"FDP",
"FDRR",
"FDS",
"FDVV",
"FDX",
"FE",
"FEEU",
"FEI",
"FELP",
"FEN",
"FENG",
"FENY",
"FEO",
"FET",
"FEU",
"FEZ",
"FF",
"FFA",
"FFC",
"FFG",
"FFR",
"FFTY",
"FGB",
"FGD",
"FGL",
"FGP",
"FHLC",
"FHN",
"FHN",
"FHY",
"FI",
"FIBG",
"FIBR",
"FICO",
"FIDU",
"FIEE",
"FIEG",
"FIEU",
"FIF",
"FIG",
"FIGY",
"FIHD",
"FII",
"FILL",
"FINU",
"FINZ",
"FIS",
"FISK",
"FIT",
"FIW",
"FIX",
"FL",
"FLC",
"FLCO",
"FLGE",
"FLLV",
"FLM",
"FLO",
"FLOT",
"FLOW",
"FLQD",
"FLQE",
"FLQG",
"FLQH",
"FLR",
"FLRN",
"FLRT",
"FLS",
"FLT",
"FLTB",
"FLTR",
"FLTX",
"FLY",
"FM",
"FMAT",
"FMC",
"FMF",
"FMN",
"FMO",
"FMS",
"FMSA",
"FMX",
"FMY",
"FN",
"FNB",
"FNB",
"FNCF",
"FNCL",
"FNDA",
"FNDB",
"FNDC",
"FNDE",
"FNDF",
"FNDX",
"FNF",
"FNFV",
"FNI",
"FNV",
"FOE",
"FOF",
"FOIL",
"FOR",
"FPE",
"FPF",
"FPI",
"FPL",
"FPO",
"FPP",
"FPP",
"FPT",
"FPX",
"FQAL",
"FR",
"FRA",
"FRAK",
"FRC",
"FRC",
"FRC",
"FRC",
"FRC",
"FRC",
"FRC",
"FRC",
"FRD",
"FREL",
"FRI",
"FRN",
"FRO",
"FRT",
"FSB",
"FSCE",
"FSD",
"FSI",
"FSIC",
"FSM",
"FSP",
"FSS",
"FSTA",
"FT",
"FTAI",
"FTEC",
"FTF",
"FTI",
"FTK",
"FTLS",
"FTS",
"FTSD",
"FTV",
"FTY",
"FUD",
"FUE",
"FUL",
"FUN",
"FUT",
"FUTY",
"FVAL",
"FVD",
"FVL",
"FWDB",
"FWDD",
"FWDI",
"FXA",
"FXB",
"FXC",
"FXCH",
"FXD",
"FXE",
"FXEP",
"FXEU",
"FXF",
"FXG",
"FXH",
"FXI",
"FXJP",
"FXL",
"FXN",
"FXO",
"FXP",
"FXR",
"FXS",
"FXSG",
"FXU",
"FXY",
"FXZ",
"FYLD",
"G",
"GAA",
"GAB",
"GAB",
"GAB",
"GAB",
"GAB",
"GAF",
"GAL",
"GAM",
"GAM",
"GAMR",
"GARD",
"GASL",
"GASX",
"GATX",
"GAZ",
"GBAB",
"GBB",
"GBF",
"GBIL",
"GBL",
"GBR",
"GBX",
"GCAP",
"GOOGL",
"GCC",
"GCE",
"GCH",
"GCI",
"GCO",
"GCP",
"GCV",
"GCV",
"GD",
"GDDY",
"GDJJ",
"GDL",
"GDL",
"GDO",
"GDOT",
"GDV",
"GDV",
"GDV",
"GDV",
"GDX",
"GDXJ",
"GDXS",
"GDXX",
"GE",
"GEB",
"GEF",
"GEF",
"GEH",
"GEK",
"GEL",
"GEM",
"GEN",
"GEO",
"GEQ",
"GER",
"GES",
"GEUR",
"GEX",
"GF",
"GFA",
"GFF",
"GFI",
"GFY",
"GG",
"GGB",
"GGE",
"GGG",
"GGM",
"GGN",
"GGN",
"GGO",
"GGOV",
"GGP",
"GGP",
"GGT",
"GGT",
"GGZ",
"GGZ",
"GHC",
"GHE",
"GHII",
"GHL",
"GHM",
"GHS",
"GHY",
"GHYG",
"GI",
"GIB",
"GIG",
"GII",
"GIL",
"GIM",
"GIMO",
"GIS",
"GIVE",
"GJH",
"GJO",
"GJP",
"GJR",
"GJS",
"GJT",
"GJV",
"GKOS",
"GLD",
"GLF",
"GLL",
"GLO",
"GLOB",
"GLOG",
"GLOG",
"GLOP",
"GLOW",
"GLP",
"GLQ",
"GLT",
"GLTR",
"GLU",
"GLU",
"GLV",
"GLW",
"GM",
"GM",
"GME",
"GMED",
"GMF",
"GML",
"GMM",
"GMMB",
"GMO",
"GMOM",
"GMRE",
"GMS",
"GMTA",
"GMTB",
"GMZ",
"GNC",
"GNE",
"GNE",
"GNK",
"GNL",
"GNR",
"GNRC",
"GNRT",
"GNT",
"GNW",
"GOEX",
"GOF",
"GOL",
"GORO",
"GOVT",
"GPC",
"GPE",
"GPI",
"GPK",
"GPL",
"GPM",
"GPN",
"GPRK",
"GPS",
"GPT",
"GPT",
"GPX",
"GQRE",
"GRA",
"GRAM",
"GRC",
"GREK",
"GRES",
"GRF",
"GRI",
"GRN",
"GRO",
"GRP",
"GRR",
"GRU",
"GRUB",
"GRWN",
"GRX",
"GRX",
"GRX",
"GS",
"GS",
"GS",
"GS",
"GS",
"GS",
"GS",
"GS",
"GS",
"GSAT",
"GSB",
"GSBD",
"GSC",
"GSD",
"GSEU",
"GSG",
"GSH",
"GSIE",
"GSJ",
"GSJY",
"GSK",
"GSL",
"GSL",
"GSLC",
"GSP",
"GSS",
"GST",
"GST",
"GST",
"GSV",
"GSY",
"GTAA",
"GTE",
"GTN",
"GTN",
"GTO",
"GTS",
"GTT",
"GTY",
"GUNR",
"GUR",
"GURI",
"GURU",
"GUSH",
"GUT",
"GUT",
"GUT",
"GV",
"GVA",
"GVAL",
"GVI",
"GVP",
"GWB",
"GWL",
"GWR",
"GWRE",
"GWW",
"GWX",
"GXC",
"GXF",
"GXG",
"GXP",
"GXP",
"GYB",
"GYC",
"GYEN",
"GYLD",
"GZT",
"H",
"HACK",
"HACV",
"HACW",
"HAE",
"HAHA",
"HAKD",
"HAKK",
"HAL",
"HAO",
"HAP",
"HAR",
"HASI",
"HAUD",
"HAWX",
"HBI",
"HBM",
"HBM",
"HCA",
"HCHC",
"HCI",
"HCJ",
"HCLP",
"HCN",
"HCN",
"HCN",
"HCP",
"HCP",
"HCRF",
"HD",
"HDAW",
"HDB",
"HDEE",
"HDEF",
"HDEZ",
"HDG",
"HDGE",
"HDLS",
"HDLV",
"HDMV",
"HDRW",
"HDV",
"HDWM",
"HDWX",
"HE",
"HE",
"HEB",
"HECO",
"HEDJ",
"HEEM",
"HEFA",
"HEFV",
"HEI",
"HEI",
"HEMV",
"HEP",
"HEQ",
"HES",
"HES",
"HEUS",
"HEUV",
"HEVY",
"HEWC",
"HEWG",
"HEWI",
"HEWJ",
"HEWL",
"HEWP",
"HEWU",
"HEWW",
"HEWY",
"HEZU",
"HF",
"HFC",
"HFEZ",
"HFXE",
"HFXI",
"HFXJ",
"HGEU",
"HGG",
"HGH",
"HGI",
"HGJP",
"HGSD",
"HGT",
"HH",
"HHC",
"HHS",
"HHY",
"HHYX",
"HI",
"HIE",
"HIFR",
"HIG",
"HIG",
"HII",
"HIL",
"HILO",
"HIO",
"HIPS",
"HIVE",
"HIW",
"HIX",
"HJPX",
"HJV",
"HK",
"HK",
"HL",
"HL",
"HLF",
"HLI",
"HLM",
"HLS",
"HLS",
"HLT",
"HLTH",
"HLX",
"HMC",
"HMG",
"HMLP",
"HMN",
"HMY",
"HNI",
"HNP",
"HNR",
"HNW",
"HOG",
"HOLD",
"HOME",
"HOML",
"HON",
"HOS",
"HOV",
"HP",
"HPE",
"HPF",
"HPI",
"HPP",
"HPQ",
"HPS",
"HQH",
"HQL",
"HR",
"HRB",
"HRC",
"HREX",
"HRG",
"HRI",
"HRL",
"HRS",
"HRT",
"HRTG",
"HSBC",
"HSBC",
"HSC",
"HSCZ",
"HSEA",
"HSEB",
"HSPX",
"HST",
"HSY",
"HT",
"HT",
"HT",
"HTA",
"HTD",
"HTF",
"HTGC",
"HTGX",
"HTGY",
"HTGZ",
"HTH",
"HTM",
"HTR",
"HTUS",
"HTY",
"HTZ",
"HUBB",
"HUBS",
"HUM",
"HUN",
"HUSA",
"HUSE",
"HUSV",
"HVPW",
"HVT",
"HVT",
"HW",
"HXL",
"HY",
"HYB",
"HYD",
"HYDD",
"HYEM",
"HYG",
"HYGH",
"HYH",
"HYHG",
"HYI",
"HYIH",
"HYLD",
"HYMB",
"HYS",
"HYT",
"HYXU",
"HZN",
"HZO",
"I",
"IAE",
"IAF",
"IAG",
"IAGG",
"IAI",
"IAK",
"IAT",
"IAU",
"IBA",
"IBCC",
"IBCD",
"IBCE",
"IBDB",
"IBDC",
"IBDD",
"IBDF",
"IBDH",
"IBDJ",
"IBDK",
"IBDL",
"IBDM",
"IBDN",
"IBDO",
"IBDP",
"IBDQ",
"IBDR",
"IBIO",
"IBLN",
"IBM",
"IBMF",
"IBMG",
"IBMH",
"IBMI",
"IBMJ",
"IBMK",
"IBN",
"IBND",
"IBO",
"IBP",
"ICB",
"ICD",
"ICE",
"ICF",
"ICI",
"ICL",
"ICN",
"ICOL",
"ICSH",
"ICVT",
"IDA",
"IDE",
"IDHQ",
"IDLV",
"IDMO",
"IDN",
"IDOG",
"IDT",
"IDU",
"IDV",
"IDX",
"IEC",
"IEF",
"IEFA",
"IEI",
"IEMG",
"IEO",
"IEUR",
"IEV",
"IEX",
"IEZ",
"IF",
"IFF",
"IFLY",
"IFMI",
"IFN",
"IGA",
"IGC",
"IGD",
"IGE",
"IGEM",
"IGHG",
"IGI",
"IGIH",
"IGM",
"IGN",
"IGR",
"IGRO",
"IGT",
"IGV",
"IGZ",
"IHC",
"IHD",
"IHDG",
"IHE",
"IHF",
"IHG",
"IHI",
"IHT",
"IHY",
"IID",
"IIF",
"IIM",
"IJH",
"IJJ",
"IJK",
"IJR",
"IJS",
"IJT",
"IL",
"ILB",
"ILF",
"ILTB",
"IM",
"IMAX",
"IMH",
"IMLP",
"IMN",
"IMO",
"IMOM",
"IMPV",
"IMTM",
"IMUC",
"IMUC",
"INB",
"INCO",
"INDA",
"INDF",
"INDL",
"INF",
"INFU",
"INFY",
"ING",
"INGR",
"INKM",
"INN",
"INN",
"INN",
"INN",
"INN",
"INP",
"INR",
"INS",
"INST",
"INT",
"INTF",
"INTT",
"INUV",
"INVN",
"INXN",
"INXX",
"INZ",
"IO",
"IOC",
"IOIL",
"IOO",
"IOT",
"IP",
"IPAC",
"IPAY",
"IPB",
"IPD",
"IPE",
"IPF",
"IPFF",
"IPG",
"IPHI",
"IPI",
"IPK",
"IPL",
"IPN",
"IPO",
"IPOS",
"IPS",
"IPU",
"IPW",
"IQDE",
"IQDF",
"IQDG",
"IQDY",
"IQI",
"IQLT",
"IR",
"IRET",
"IRET",
"IRL",
"IRM",
"IRR",
"IRS",
"IRT",
"IRV",
"IRY",
"ISCF",
"ISD",
"ISDR",
"ISF",
"ISG",
"ISL",
"ISP",
"ISR",
"ISRA",
"IST",
"ISTB",
"ISZE",
"IT",
"ITA",
"ITB",
"ITCB",
"ITE",
"ITG",
"ITGR",
"ITM",
"ITML",
"ITMS",
"ITOT",
"ITR",
"ITT",
"ITUB",
"ITW",
"IUSB",
"IUSG",
"IUSV",
"IVAL",
"IVC",
"IVE",
"IVH",
"IVLU",
"IVOG",
"IVOO",
"IVOP",
"IVOV",
"IVR",
"IVR",
"IVR",
"IVV",
"IVW",
"IVZ",
"IWB",
"IWC",
"IWD",
"IWF",
"IWL",
"IWM",
"IWN",
"IWO",
"IWP",
"IWR",
"IWS",
"IWV",
"IWX",
"IWY",
"IX",
"IXC",
"IXG",
"IXJ",
"IXN",
"IXP",
"IYC",
"IYE",
"IYF",
"IYG",
"IYH",
"IYJ",
"IYK",
"IYLD",
"IYM",
"IYR",
"IYT",
"IYW",
"IYY",
"IYZ",
"JAX",
"JBK",
"JBL",
"JBN",
"JBR",
"JBT",
"JCAP",
"JCE",
"JCI",
"JCI",
"JCP",
"JDD",
"JDG",
"JDST",
"JE",
"JEC",
"JEM",
"JEQ",
"JETS",
"JFC",
"JFR",
"JGH",
"JHA",
"JHB",
"JHD",
"JHDG",
"JHI",
"JHMA",
"JHMC",
"JHME",
"JHMF",
"JHMH",
"JHMI",
"JHML",
"JHMM",
"JHMS",
"JHMT",
"JHMU",
"JHS",
"JHX",
"JHY",
"JJA",
"JJC",
"JJE",
"JJG",
"JJM",
"JJN",
"JJP",
"JJS",
"JJT",
"JJU",
"JKD",
"JKE",
"JKF",
"JKG",
"JKH",
"JKJ",
"JKK",
"JKL",
"JKS",
"JLL",
"JLS",
"JMEI",
"JMF",
"JMLP",
"JMM",
"JMP",
"JMPB",
"JMPC",
"JMT",
"JNJ",
"JNK",
"JNPR",
"JNS",
"JNUG",
"JO",
"JOB",
"JOE",
"JOF",
"JONE",
"JOY",
"JP",
"JPC",
"JPEH",
"JPEM",
"JPEP",
"JPEU",
"JPGE",
"JPHF",
"JPHY",
"JPI",
"JPIH",
"JPIN",
"JPM",
"JPM",
"JPM",
"JPM",
"JPM",
"JPM",
"JPM",
"JPM",
"JPM",
"JPME",
"JPMV",
"JPN",
"JPNH",
"JPNL",
"JPS",
"JPUS",
"JPW",
"JPXN",
"JQC",
"JRI",
"JRJR",
"JRO",
"JRS",
"JSD",
"JTA",
"JTD",
"JUNE",
"JW",
"JW",
"JWN",
"JXI",
"JYN",
"K",
"KAI",
"KAMN",
"KAP",
"KAR",
"KATE",
"KB",
"KBA",
"KBE",
"KBH",
"KBR",
"KBWB",
"KBWD",
"KBWP",
"KBWR",
"KBWY",
"KCC",
"KCE",
"KCG",
"KCNY",
"KDMN",
"KED",
"KEF",
"KEM",
"KEMP",
"KEN",
"KEP",
"KEX",
"KEY",
"KEY",
"KEY",
"KEYS",
"KF",
"KFH",
"KFI",
"KFN",
"KFS",
"KFY",
"KFYP",
"KGC",
"KHI",
"KIE",
"KIM",
"KIM",
"KIM",
"KIM",
"KIO",
"KIQ",
"KKR",
"KKR",
"KKR",
"KLD",
"KLDW",
"KLDX",
"KLEM",
"KMB",
"KMF",
"KMG",
"KMI",
"KMI",
"KMI",
"KMM",
"KMPA",
"KMPR",
"KMT",
"KMX",
"KN",
"KND",
"KNL",
"KNOP",
"KNOW",
"KNX",
"KO",
"KODK",
"KODK",
"KODK",
"KOF",
"KOL",
"KOLD",
"KOP",
"KOR",
"KORS",
"KORU",
"KOS",
"KR",
"KRA",
"KRC",
"KRC",
"KRC",
"KRE",
"KRG",
"KRO",
"KROO",
"KRS",
"KRU",
"KS",
"KSA",
"KSM",
"KSS",
"KST",
"KSU",
"KSU",
"KT",
"KTF",
"KTH",
"KTN",
"KTP",
"KW",
"KWN",
"KWR",
"KWT",
"KXI",
"KYE",
"KYN",
"KYN",
"KYO",
"L",
"LABD",
"LABS",
"LABU",
"LAD",
"LADR",
"LAQ",
"LARE",
"LAZ",
"LB",
"LBDC",
"LBF",
"LBJ",
"LBY",
"LC",
"LCI",
"LCM",
"LD",
"LDF",
"LDL",
"LDOS",
"LDP",
"LDR",
"LDUR",
"LEA",
"LEAD",
"LEDD",
"LEE",
"LEG",
"LEI",
"LEJU",
"LEMB",
"LEN",
"LEN",
"LEO",
"LEU",
"LFC",
"LFL",
"LGF",
"LGI",
"LGL",
"LGLV",
"LH",
"LHO",
"LHO",
"LHO",
"LHO",
"LII",
"LIQT",
"LIT",
"LITB",
"LKSD",
"LL",
"LLL",
"LLSC",
"LLSP",
"LLY",
"LM",
"LMHA",
"LMHB",
"LMLP",
"LMT",
"LN",
"LNC",
"LNC",
"LND",
"LNG",
"LNKD",
"LNN",
"LNT",
"LOCK",
"LODE",
"LOR",
"LOV",
"LOW",
"LOWC",
"LPG",
"LPI",
"LPL",
"LPT",
"LPX",
"LQ",
"LQD",
"LQDH",
"LRET",
"LRGF",
"LRN",
"LSI",
"LSTK",
"LSVX",
"LTC",
"LTL",
"LTPZ",
"LTS",
"LTS",
"LUB",
"LUK",
"LUV",
"LUX",
"LVHB",
"LVHI",
"LVL",
"LVLT",
"LVS",
"LWC",
"LXFR",
"LXFT",
"LXK",
"LXP",
"LXP",
"LXU",
"LYB",
"LYG",
"LYV",
"LZB",
"M",
"MA",
"MAA",
"MAB",
"MAC",
"MAG",
"MAIN",
"MAN",
"MANU",
"MAS",
"MATF",
"MATH",
"MATX",
"MAV",
"MBB",
"MBG",
"MBI",
"MBLY",
"MBT",
"MC",
"MCA",
"MCC",
"MCD",
"MCF",
"MCI",
"MCK",
"MCN",
"MCO",
"MCQ",
"MCR",
"MCRN",
"MCRO",
"MCS",
"MCV",
"MCX",
"MCY",
"MCZ",
"MD",
"MDC",
"MDLX",
"MDLY",
"MDP",
"MDR",
"MDT",
"MDU",
"MDY",
"MDYG",
"MDYV",
"MEAR",
"MED",
"MEG",
"MEI",
"MELT",
"MEN",
"MEP",
"MER",
"MER",
"MET",
"MET",
"MFA",
"MFA",
"MFC",
"MFCB",
"MFD",
"MFG",
"MFL",
"MFLA",
"MFM",
"MFO",
"MFS",
"MFT",
"MFV",
"MG",
"MGA",
"MGC",
"MGF",
"MGH",
"MGK",
"MGM",
"MGP",
"MGR",
"MGU",
"MGV",
"MH",
"MH",
"MHD",
"MHE",
"MHF",
"MHG",
"MHH",
"MHI",
"MHK",
"MHLA",
"MHN",
"MHNB",
"MHNC",
"MHO",
"MHO",
"MIC",
"MIDU",
"MIDZ",
"MIE",
"MIN",
"MINC",
"MINT",
"MITT",
"MITT",
"MITT",
"MIW",
"MIXT",
"MIY",
"MJCO",
"MJN",
"MKC",
"MKC",
"MKL",
"MLI",
"MLM",
"MLN",
"MLP",
"MLPA",
"MLPB",
"MLPC",
"MLPE",
"MLPG",
"MLPI",
"MLPJ",
"MLPN",
"MLPO",
"MLPQ",
"MLPS",
"MLPX",
"MLPY",
"MLPZ",
"MLR",
"MLSS",
"MLTI",
"MMC",
"MMD",
"MMI",
"MMM",
"MMP",
"MMS",
"MMT",
"MMTM",
"MMU",
"MMV",
"MN",
"MNA",
"MNE",
"MNI",
"MNK",
"MNP",
"MNR",
"MNR",
"MNR",
"MO",
"MOAT",
"MOC",
"MOD",
"MODN",
"MOG",
"MOG",
"MOH",
"MOM",
"MON",
"MOO",
"MORE",
"MORL",
"MORT",
"MOS",
"MOTI",
"MOV",
"MP",
"MPA",
"MPC",
"MPG",
"MPLX",
"MPSX",
"MPV",
"MPW",
"MPX",
"MQT",
"MQY",
"MRC",
"MRGR",
"MRIN",
"MRK",
"MRO",
"MRRL",
"MRT",
"MS",
"MS",
"MS",
"MS",
"MS",
"MS",
"MSA",
"MSB",
"MSCA",
"MSCI",
"MSD",
"MSF",
"MSG",
"MSGN",
"MSI",
"MSL",
"MSM",
"MSN",
"MSP",
"MSTX",
"MT",
"MTB",
"MTB",
"MTB",
"MTD",
"MTDR",
"MTG",
"MTH",
"MTK",
"MTL",
"MTN",
"MTOR",
"MTR",
"MTRN",
"MTT",
"MTU",
"MTUM",
"MTW",
"MTX",
"MTZ",
"MUA",
"MUB",
"MUC",
"MUE",
"MUH",
"MUI",
"MUJ",
"MUNI",
"MUR",
"MUS",
"MUSA",
"MUX",
"MVC",
"MVCB",
"MVF",
"MVO",
"MVT",
"MVV",
"MWA",
"MWW",
"MX",
"MXC",
"MXE",
"MXF",
"MXI",
"MXL",
"MYC",
"MYCC",
"MYD",
"MYE",
"MYF",
"MYI",
"MYJ",
"MYN",
"MYY",
"MZA",
"MZF",
"MZZ",
"N",
"NAC",
"NAD",
"NADL",
"NAIL",
"NAK",
"NAN",
"NANR",
"NAO",
"NAP",
"NASH",
"NAT",
"NAV",
"NAV",
"NAVB",
"NAZ",
"NBB",
"NBD",
"NBH",
"NBHC",
"NBL",
"NBLX",
"NBO",
"NBR",
"NBW",
"NBY",
"NC",
"NCA",
"NCB",
"NCI",
"NCR",
"NCS",
"NCT",
"NCT",
"NCT",
"NCT",
"NCV",
"NCZ",
"NDP",
"NDRO",
"NE",
"NEA",
"NEAR",
"NEE",
"NEE",
"NEE",
"NEE",
"NEE",
"NEE",
"NEE",
"NEE",
"NEE",
"NEFF",
"NEM",
"NEN",
"NEP",
"NEU",
"NEV",
"NEWM",
"NEWR",
"NFG",
"NFJ",
"NFLT",
"NFO",
"NFRA",
"NFX",
"NG",
"NGD",
"NGE",
"NGG",
"NGL",
"NGLS",
"NGS",
"NGVC",
"NGVT",
"NHA",
"NHC",
"NHF",
"NHI",
"NHS",
"NI",
"NIB",
"NID",
"NIE",
"NIM",
"NINI",
"NIQ",
"NJR",
"NJV",
"NKE",
"NKG",
"NKX",
"NL",
"NLR",
"NLS",
"NLSN",
"NLY",
"NLY",
"NLY",
"NLY",
"NLY",
"NM",
"NM",
"NM",
"NMBL",
"NMFC",
"NMI",
"NMK",
"NMK",
"NML",
"NMM",
"NMR",
"NMS",
"NMT",
"NMY",
"NMZ",
"NNA",
"NNC",
"NNI",
"NNN",
"NNN",
"NNN",
"NNN",
"NNVC",
"NNY",
"NOA",
"NOAH",
"NOBL",
"NOC",
"NOG",
"NOK",
"NOM",
"NOMD",
"NORD",
"NORW",
"NOV",
"NOW",
"NP",
"NPK",
"NPN",
"NPO",
"NPTN",
"NPV",
"NQ",
"NQP",
"NR",
"NRE",
"NRF",
"NRF",
"NRF",
"NRF",
"NRF",
"NRF",
"NRG",
"NRK",
"NRO",
"NRP",
"NRT",
"NRZ",
"NS",
"NSA",
"NSAM",
"NSAT",
"NSC",
"NSH",
"NSL",
"NSM",
"NSP",
"NSPR",
"NSPR",
"NSR",
"NSS",
"NSU",
"NTB",
"NTC",
"NTEST",
"NTEST",
"NTEST",
"NTEST",
"NTG",
"NTIP",
"NTL",
"NTN",
"NTP",
"NTT",
"NTX",
"NTZ",
"NUAG",
"NUE",
"NUGT",
"NUM",
"NUO",
"NUS",
"NUV",
"NUW",
"NVG",
"NVGS",
"NVO",
"NVR",
"NVRO",
"NVS",
"NVTA",
"NVX",
"NW",
"NWE",
"NWHM",
"NWL",
"NWN",
"NWY",
"NX",
"NXC",
"NXJ",
"NXN",
"NXP",
"NXQ",
"NXR",
"NXRT",
"NYCB",
"NYCB",
"NYF",
"NYH",
"NYLD",
"NYLD",
"NYRT",
"NYT",
"NYV",
"NZF",
"NZH",
"O",
"O",
"OA",
"OAK",
"OAKS",
"OAKS",
"OAPH",
"OAS",
"OASI",
"OB",
"OC",
"OCIP",
"OCN",
"OCX",
"ODC",
"OEC",
"OEF",
"OEUH",
"OEUR",
"OEW",
"OFC",
"OFC",
"OFG",
"OFG",
"OFG",
"OFG",
"OGCP",
"OGE",
"OGEN",
"OGS",
"OHI",
"OI",
"OIA",
"OIBR",
"OIH",
"OII",
"OIIL",
"OIL",
"OILK",
"OILX",
"OIS",
"OKE",
"OKS",
"OLEM",
"OLN",
"OLO",
"OLP",
"OMAA",
"OMAM",
"OMC",
"OME",
"OMF",
"OMI",
"OMN",
"ONDK",
"ONEK",
"ONEO",
"ONEV",
"ONEY",
"ONG",
"ONP",
"OOMA",
"OPD",
"OPP",
"OPY",
"OR",
"ORA",
"ORAN",
"ORC",
"ORCL",
"ORI",
"ORM",
"ORN",
"OSB",
"OSG",
"OSK",
"OUNZ",
"OUSA",
"OUT",
"OVLC",
"OXM",
"OXY",
"OZM",
"P",
"PAA",
"PAC",
"PACD",
"PAEU",
"PAF",
"PAG",
"PAGP",
"PAH",
"PAI",
"PAK",
"PALL",
"PAM",
"PANW",
"PAR",
"PARR",
"PAY",
"PAYC",
"PB",
"PBA",
"PBB",
"PBD",
"PBE",
"PBF",
"PBFX",
"PBH",
"PBI",
"PBI",
"PBJ",
"PBP",
"PBR",
"PBR",
"PBS",
"PBT",
"PBW",
"PBYI",
"PCEF",
"PCF",
"PCG",
"PCG",
"PCG",
"PCG",
"PCG",
"PCG",
"PCI",
"PCK",
"PCM",
"PCN",
"PCQ",
"PCY",
"PDI",
"PDM",
"PDN",
"PDP",
"PDS",
"PDT",
"PE",
"PEB",
"PEB",
"PEB",
"PED",
"PEG",
"PEI",
"PEI",
"PEI",
"PEJ",
"PEK",
"PEN",
"PEO",
"PEP",
"PER",
"PERM",
"PES",
"PEX",
"PEY",
"PEZ",
"PF",
"PFD",
"PFE",
"PFF",
"PFG",
"PFGC",
"PFH",
"PFI",
"PFIG",
"PFK",
"PFL",
"PFM",
"PFN",
"PFNX",
"PFO",
"PFS",
"PFSI",
"PFV",
"PFXF",
"PG",
"PGAL",
"PGD",
"PGEM",
"PGF",
"PGH",
"PGHD",
"PGHY",
"PGJ",
"PGM",
"PGP",
"PGR",
"PGRE",
"PGX",
"PGZ",
"PH",
"PHB",
"PHD",
"PHDG",
"PHF",
"PHG",
"PHH",
"PHI",
"PHK",
"PHM",
"PHO",
"PHT",
"PHX",
"PHYS",
"PICB",
"PICK",
"PID",
"PIE",
"PII",
"PILL",
"PILS",
"PIM",
"PIN",
"PIO",
"PIP",
"PIR",
"PIY",
"PIZ",
"PJC",
"PJH",
"PJP",
"PJT",
"PKB",
"PKD",
"PKE",
"PKG",
"PKI",
"PKO",
"PKW",
"PKX",
"PKY",
"PL",
"PL",
"PLD",
"PLG",
"PLM",
"PLND",
"PLNT",
"PLOW",
"PLT",
"PLW",
"PLX",
"PM",
"PMC",
"PMF",
"PML",
"PMM",
"PMO",
"PMR",
"PMT",
"PMX",
"PN",
"PNC",
"PNC",
"PNC",
"PNC",
"PNF",
"PNI",
"PNM",
"PNR",
"PNTA",
"PNW",
"POL",
"POR",
"POST",
"POT",
"PPA",
"PPG",
"PPL",
"PPLT",
"PPP",
"PPR",
"PPS",
"PPS",
"PPT",
"PPX",
"PQ",
"PRA",
"PRB",
"PRE",
"PRE",
"PRE",
"PRE",
"PRE",
"PRE",
"PRF",
"PRGO",
"PRH",
"PRI",
"PRK",
"PRLB",
"PRME",
"PRN",
"PRNT",
"PRO",
"PRTY",
"PRU",
"PSA",
"PSB",
"PSF",
"PSG",
"PSI",
"PSJ",
"PSK",
"PSL",
"PSLV",
"PSO",
"PSP",
"PSQ",
"PSR",
"PST",
"PSTG",
"PSX",
"PSXP",
"PTEU",
"PTF",
"PTH",
"PTHN",
"PTLC",
"PTM",
"PTMC",
"PTN",
"PTNQ",
"PTR",
"PTY",
"PUI",
"PUK",
"PUK",
"PUTW",
"PUW",
"PVG",
"PVH",
"PVI",
"PVTD",
"PW",
"PW",
"PWB",
"PWC",
"PWE",
"PWR",
"PWV",
"PWZ",
"PX",
"PXD",
"PXE",
"PXF",
"PXH",
"PXI",
"PXJ",
"PXLG",
"PXLV",
"PXMG",
"PXMV",
"PXQ",
"PXR",
"PXSG",
"PXSV",
"PYN",
"PYS",
"PYT",
"PYZ",
"PZA",
"PZC",
"PZD",
"PZE",
"PZG",
"PZI",
"PZN",
"PZT",
"Q",
"QAI",
"QAUS",
"QCAN",
"QCP",
"QDEF",
"QDEU",
"QDF",
"QDYN",
"QED",
"QEFA",
"QEH",
"QEMM",
"QEP",
"QESP",
"QGBR",
"QGTA",
"QHC",
"QID",
"QJPN",
"QKOR",
"QLD",
"QLS",
"QLTA",
"QMEX",
"QMN",
"QMOM",
"QQQE",
"QSR",
"QTM",
"QTS",
"QTWN",
"QTWO",
"QUAD",
"QUAL",
"QUOT",
"QUS",
"QVAL",
"QVM",
"QWLD",
"R",
"RACE",
"RAD",
"RAI",
"RALS",
"RAS",
"RAS",
"RAS",
"RAS",
"RATE",
"RAVI",
"RAX",
"RBA",
"RBC",
"RBL",
"RBS",
"RBS",
"RBS",
"RBS",
"RBS",
"RCD",
"RCG",
"RCI",
"RCL",
"RCOM",
"RCS",
"RDC",
"RDIV",
"RDN",
"RDS",
"RDS",
"RDY",
"RE",
"REED",
"REET",
"REG",
"REG",
"REG",
"REGL",
"REI",
"REK",
"RELX",
"REM",
"REML",
"REMX",
"REN",
"RENN",
"RENX",
"RES",
"RESI",
"RETL",
"REV",
"REW",
"REX",
"REXR",
"REXR",
"REZ",
"RF",
"RF",
"RF",
"RFCI",
"RFDA",
"RFFC",
"RFG",
"RFI",
"RFP",
"RFT",
"RFTA",
"RFUN",
"RFV",
"RGA",
"RGC",
"RGI",
"RGR",
"RGRO",
"RGS",
"RGT",
"RH",
"RHI",
"RHP",
"RHS",
"RHT",
"RIC",
"RICE",
"RIF",
"RIG",
"RIGP",
"RIGS",
"RINF",
"RING",
"RIO",
"RISE",
"RIV",
"RJA",
"RJD",
"RJF",
"RJI",
"RJN",
"RJZ",
"RL",
"RLGT",
"RLGT",
"RLGY",
"RLH",
"RLI",
"RLJ",
"RLY",
"RM",
"RMAX",
"RMD",
"RMP",
"RMT",
"RNG",
"RNN",
"RNP",
"RNR",
"RNR",
"RNR",
"ROAM",
"RODI",
"RODM",
"ROG",
"ROGS",
"ROK",
"ROL",
"ROLA",
"ROM",
"ROOF",
"ROP",
"RORE",
"ROUS",
"ROX",
"ROYT",
"RPAI",
"RPAI",
"RPG",
"RPM",
"RPT",
"RPT",
"RPV",
"RQI",
"RRC",
"RRD",
"RRF",
"RRTS",
"RS",
"RSG",
"RSO",
"RSO",
"RSO",
"RSO",
"RSP",
"RSPP",
"RST",
"RSX",
"RSXJ",
"RT",
"RTEC",
"RTH",
"RTLA",
"RTM",
"RTN",
"RTR",
"RUBI",
"RUSL",
"RUSS",
"RVNU",
"RVP",
"RVT",
"RWC",
"RWJ",
"RWK",
"RWL",
"RWM",
"RWO",
"RWR",
"RWT",
"RWV",
"RWW",
"RWX",
"RXD",
"RXI",
"RXL",
"RXN",
"RY",
"RY",
"RY",
"RYAM",
"RYAM",
"RYE",
"RYF",
"RYH",
"RYI",
"RYJ",
"RYN",
"RYT",
"RYU",
"RZA",
"RZB",
"RZG",
"RZV",
"S",
"SA",
"SAA",
"SAGG",
"SAH",
"SAIC",
"SALT",
"SAM",
"SAN",
"SAN",
"SAN",
"SAN",
"SAN",
"SAND",
"SAP",
"SAQ",
"SAR",
"SB",
"SB",
"SB",
"SB",
"SBB",
"SBEU",
"SBGL",
"SBH",
"SBI",
"SBIO",
"SBM",
"SBNA",
"SBNB",
"SBR",
"SBS",
"SBUS",
"SBV",
"SBW",
"SBY",
"SC",
"SCAP",
"SCC",
"SCCO",
"SCD",
"SCE",
"SCG",
"SCHA",
"SCHB",
"SCHC",
"SCHD",
"SCHE",
"SCHF",
"SCHG",
"SCHH",
"SCHM",
"SCHO",
"SCHP",
"SCHR",
"SCHV",
"SCHW",
"SCHW",
"SCHW",
"SCHW",
"SCHX",
"SCHZ",
"SCI",
"SCID",
"SCIF",
"SCIJ",
"SCIN",
"SCIU",
"SCIX",
"SCJ",
"SCL",
"SCM",
"SCNB",
"SCO",
"SCPB",
"SCQ",
"SCS",
"SCTO",
"SCX",
"SD",
"SDD",
"SDEM",
"SDIV",
"SDLP",
"SDOG",
"SDOW",
"SDP",
"SDPI",
"SDR",
"SDRL",
"SDS",
"SDT",
"SDY",
"SDYL",
"SE",
"SEA",
"SEAS",
"SEB",
"SEE",
"SEF",
"SEM",
"SEMG",
"SENS",
"SEP",
"SERV",
"SF",
"SF",
"SFE",
"SFHY",
"SFIG",
"SFL",
"SFLA",
"SFR",
"SFS",
"SFUN",
"SGA",
"SGAR",
"SGB",
"SGDJ",
"SGDM",
"SGF",
"SGG",
"SGM",
"SGOL",
"SGU",
"SGY",
"SGZA",
"SH",
"SHAK",
"SHE",
"SHG",
"SHI",
"SHLX",
"SHM",
"SHNY",
"SHO",
"SHO",
"SHO",
"SHOP",
"SHV",
"SHW",
"SHY",
"SHYD",
"SHYG",
"SICK",
"SID",
"SIF",
"SIG",
"SIJ",
"SIL",
"SILJ",
"SIM",
"SIPE",
"SITE",
"SIVR",
"SIX",
"SIZ",
"SIZE",
"SJB",
"SJI",
"SJM",
"SJNK",
"SJR",
"SJT",
"SJW",
"SKF",
"SKM",
"SKT",
"SKX",
"SKY",
"SLB",
"SLCA",
"SLF",
"SLG",
"SLG",
"SLRA",
"SLTB",
"SLV",
"SLVP",
"SLW",
"SLX",
"SLY",
"SLYG",
"SLYV",
"SM",
"SMB",
"SMD",
"SMDD",
"SMDV",
"SMEZ",
"SMFG",
"SMG",
"SMH",
"SMHD",
"SMI",
"SMIN",
"SMK",
"SMLF",
"SMLL",
"SMLP",
"SMLV",
"SMM",
"SMMU",
"SMMV",
"SMN",
"SMP",
"SN",
"SNA",
"SNE",
"SNN",
"SNOW",
"SNP",
"SNR",
"SNV",
"SNV",
"SNX",
"SNY",
"SO",
"SOIL",
"SOJA",
"SOJB",
"SOL",
"SON",
"SOP",
"SOR",
"SOV",
"SOVB",
"SOXL",
"SOXS",
"SOYB",
"SPA",
"SPB",
"SPDN",
"SPE",
"SPE",
"SPFF",
"SPG",
"SPG",
"SPGI",
"SPH",
"SPHB",
"SPHD",
"SPHQ",
"SPLP",
"SPLV",
"SPLX",
"SPMO",
"SPN",
"SPP",
"SPPP",
"SPR",
"SPUN",
"SPUU",
"SPVU",
"SPXC",
"SPXE",
"SPXH",
"SPXL",
"SPXN",
"SPXS",
"SPXT",
"SPXU",
"SPXV",
"SPXX",
"SPY",
"SPYB",
"SPYD",
"SPYG",
"SPYV",
"SPYX",
"SQ",
"SQM",
"SQNS",
"SR",
"SRC",
"SRE",
"SRF",
"SRG",
"SRI",
"SRLN",
"SRLP",
"SRS",
"SRT",
"SRTY",
"SRV",
"SSD",
"SSG",
"SSI",
"SSL",
"SSN",
"SSNI",
"SSO",
"SSP",
"SST",
"SSTK",
"SSW",
"SSW",
"SSW",
"SSW",
"SSW",
"SSWN",
"SSY",
"ST",
"STAG",
"STAG",
"STAG",
"STAG",
"STAR",
"STAR",
"STAR",
"STAR",
"STAR",
"STAR",
"STAY",
"STC",
"STE",
"STI",
"STI",
"STI",
"STI",
"STI",
"STIP",
"STJ",
"STK",
"STL",
"STM",
"STN",
"STNG",
"STO",
"STON",
"STOR",
"STOT",
"STPZ",
"STRP",
"STS",
"STT",
"STT",
"STT",
"STT",
"STT",
"STV",
"STWD",
"STZ",
"STZ",
"SU",
"SUB",
"SUI",
"SUI",
"SUM",
"SUN",
"SUP",
"SUPV",
"SVT",
"SVU",
"SVXY",
"SWC",
"SWFT",
"SWH",
"SWJ",
"SWK",
"SWM",
"SWN",
"SWNC",
"SWX",
"SWZ",
"SXC",
"SXCP",
"SXE",
"SXI",
"SXL",
"SXT",
"SYE",
"SYF",
"SYG",
"SYK",
"SYLD",
"SYN",
"SYRG",
"SYT",
"SYV",
"SYX",
"SYY",
"SZC",
"SZK",
"SZO",
"T",
"TAC",
"TAGS",
"TAHO",
"TAN",
"TAO",
"TAP",
"TAP",
"TARO",
"TAT",
"TBF",
"TBI",
"TBT",
"TBX",
"TBZ",
"TCAP",
"TCB",
"TCB",
"TCB",
"TCB",
"TCCA",
"TCCB",
"TCHF",
"TCI",
"TCK",
"TCO",
"TCO",
"TCO",
"TCP",
"TCPI",
"TCRX",
"TCRZ",
"TCS",
"TD",
"TDA",
"TDC",
"TDE",
"TDF",
"TDG",
"TDI",
"TDJ",
"TDOC",
"TDS",
"TDTF",
"TDTT",
"TDW",
"TDY",
"TECL",
"TECS",
"TECZ",
"TEF",
"TEGP",
"TEI",
"TEL",
"TEN",
"TEO",
"TEP",
"TER",
"TEVA",
"TEX",
"TFI",
"TFLO",
"TFX",
"TG",
"TGB",
"TGC",
"TGD",
"TGH",
"TGI",
"TGNA",
"TGP",
"TGP",
"TGS",
"TGT",
"THC",
"THD",
"THG",
"THGA",
"THHY",
"THM",
"THO",
"THQ",
"THR",
"THRK",
"THS",
"THW",
"TI",
"TI",
"TIER",
"TIF",
"TIK",
"TILT",
"TIME",
"TIP",
"TIPX",
"TIPZ",
"TIS",
"TISI",
"TJX",
"TK",
"TKC",
"TKF",
"TKR",
"TLDH",
"TLEH",
"TLH",
"TLI",
"TLK",
"TLLP",
"TLN",
"TLO",
"TLP",
"TLRD",
"TLTD",
"TLTE",
"TLYS",
"TM",
"TMF",
"TMH",
"TMHC",
"TMK",
"TMK",
"TMK",
"TMO",
"TMP",
"TMQ",
"TMST",
"TMV",
"TNA",
"TNC",
"TNET",
"TNH",
"TNK",
"TNP",
"TNP",
"TNP",
"TNP",
"TOF",
"TOFR",
"TOK",
"TOL",
"TOLZ",
"TOO",
"TOO",
"TOO",
"TOT",
"TOTL",
"TOWR",
"TPB",
"TPC",
"TPH",
"TPHS",
"TPL",
"TPLM",
"TPRE",
"TPS",
"TPVG",
"TPVZ",
"TPX",
"TPYP",
"TPZ",
"TR",
"TRC",
"TRCO",
"TREC",
"TREX",
"TRGP",
"TRI",
"TRK",
"TRMR",
"TRN",
"TRNO",
"TRNO",
"TROX",
"TRP",
"TRQ",
"TRR",
"TRSK",
"TRT",
"TRTN",
"TRU",
"TRV",
"TRX",
"TRXC",
"TS",
"TSE",
"TSI",
"TSL",
"TSLF",
"TSLX",
"TSM",
"TSN",
"TSNU",
"TSO",
"TSQ",
"TSS",
"TSU",
"TTAC",
"TTC",
"TTF",
"TTFS",
"TTI",
"TTM",
"TTP",
"TTT",
"TU",
"TUP",
"TUR",
"TUZ",
"TV",
"TVC",
"TVE",
"TVPT",
"TWI",
"TWLO",
"TWM",
"TWN",
"TWO",
"TWOK",
"TWTR",
"TWX",
"TX",
"TXMD",
"TXT",
"TY",
"TY",
"TYBS",
"TYD",
"TYG",
"TYL",
"TYNS",
"TYO",
"TZA",
"UA",
"UA",
"UAG",
"UAL",
"UAM",
"UAMY",
"UAN",
"UBA",
"UBC",
"UBG",
"UBM",
"UBN",
"UBP",
"UBP",
"UBP",
"UBR",
"UBS",
"UBT",
"UCC",
"UCI",
"UCIB",
"UCO",
"UCP",
"UDN",
"UDOW",
"UDR",
"UE",
"UEC",
"UFAB",
"UFI",
"UFS",
"UGA",
"UGAZ",
"UGE",
"UGI",
"UGL",
"UGP",
"UHN",
"UHS",
"UHT",
"UIS",
"UJB",
"UL",
"ULE",
"ULST",
"UMC",
"UMDD",
"UMH",
"UMH",
"UMH",
"UMX",
"UN",
"UNF",
"UNG",
"UNH",
"UNL",
"UNM",
"UNP",
"UNT",
"UNVR",
"UOP",
"UPRO",
"UPS",
"UPV",
"UPW",
"UQM",
"URA",
"URE",
"URG",
"URI",
"URR",
"URTH",
"URTY",
"USA",
"USAC",
"USAG",
"USB",
"USCI",
"USD",
"USDP",
"USDU",
"USFD",
"USFR",
"USG",
"USL",
"USM",
"USMR",
"USMV",
"USNA",
"USO",
"USPH",
"USSD",
"UST",
"USV",
"USWD",
"UTF",
"UTG",
"UTI",
"UTL",
"UTLF",
"UTX",
"UUP",
"UUU",
"UUUU",
"UVE",
"UVV",
"UVXY",
"UWM",
"UWN",
"UWTI",
"UXI",
"UYG",
"UYM",
"UZA",
"UZB",
"UZC",
"V",
"VAC",
"VAL",
"VALE",
"VALE",
"VAMO",
"VAR",
"VAW",
"VB",
"VBF",
"VBK",
"VBR",
"VC",
"VCF",
"VCO",
"VCR",
"VCRA",
"VCV",
"VDC",
"VDE",
"VEA",
"VEC",
"VEDL",
"VEEV",
"VEGA",
"VEGI",
"VER",
"VER",
"VET",
"VEU",
"VFC",
"VFH",
"VFL",
"VG",
"VGI",
"VGK",
"VGM",
"VGR",
"VGT",
"VGZ",
"VHC",
"VHI",
"VHT",
"VIG",
"VII",
"VIOG",
"VIOO",
"VIOV",
"VIPS",
"VIS",
"VISI",
"VIV",
"VIXH",
"VIXM",
"VIXY",
"VJET",
"VKI",
"VKQ",
"VLO",
"VLP",
"VLRS",
"VLT",
"VLU",
"VLUE",
"VLY",
"VLY",
"VLY",
"VMAX",
"VMC",
"VMEM",
"VMI",
"VMIN",
"VMM",
"VMO",
"VMW",
"VNCE",
"VNM",
"VNO",
"VNO",
"VNO",
"VNO",
"VNO",
"VNQ",
"VNRX",
"VNTV",
"VO",
"VOC",
"VOE",
"VOO",
"VOOG",
"VOOV",
"VOT",
"VOX",
"VOYA",
"VPG",
"VPL",
"VPU",
"VPV",
"VQT",
"VR",
"VR",
"VRP",
"VRS",
"VRTV",
"VRX",
"VSH",
"VSI",
"VSLR",
"VSM",
"VSR",
"VSS",
"VSTO",
"VT",
"VTA",
"VTEB",
"VTI",
"VTN",
"VTR",
"VTRB",
"VTTI",
"VTV",
"VUG",
"VV",
"VVC",
"VVI",
"VVR",
"VVV",
"VWO",
"VXF",
"VXX",
"VXZ",
"VYM",
"VZ",
"VZA",
"W",
"WAAS",
"WAB",
"WAC",
"WAGE",
"WAIR",
"WAL",
"WALA",
"WAT",
"WBAI",
"WBC",
"WBIA",
"WBIB",
"WBIC",
"WBID",
"WBIE",
"WBIF",
"WBIG",
"WBIH",
"WBII",
"WBIL",
"WBIR",
"WBK",
"WBS",
"WBS",
"WCC",
"WCG",
"WCIC",
"WCN",
"WD",
"WDAY",
"WDIV",
"WDR",
"WDRW",
"WDTI",
"WEA",
"WEAT",
"WEC",
"WEET",
"WES",
"WEX",
"WF",
"WFC",
"WFE",
"WFHY",
"WFIG",
"WFT",
"WG",
"WGA",
"WGL",
"WGO",
"WGP",
"WHG",
"WHR",
"WIA",
"WIL",
"WIP",
"WIT",
"WIW",
"WK",
"WLH",
"WLK",
"WLKP",
"WLL",
"WM",
"WMB",
"WMC",
"WMCR",
"WMK",
"WMLP",
"WMS",
"WMT",
"WMW",
"WNC",
"WNR",
"WNRL",
"WNS",
"WOR",
"WPC",
"WPG",
"WPG",
"WPG",
"WPS",
"WPT",
"WPX",
"WPXP",
"WPZ",
"WR",
"WRB",
"WRB",
"WRB",
"WRB",
"WRE",
"WREI",
"WRI",
"WRK",
"WRN",
"WSKY",
"WSM",
"WSO",
"WSO",
"WSR",
"WST",
"WTI",
"WTM",
"WTR",
"WTRX",
"WTS",
"WTT",
"WTW",
"WU",
"WUBA",
"WWAV",
"WWE",
"WWW",
"WY",
"WYDE",
"WYN",
"WYY",
"X",
"XAR",
"XBI",
"XCEM",
"XCO",
"XEC",
"XEL",
"XES",
"XHB",
"XHE",
"XHR",
"XHS",
"XIN",
"XINA",
"XITK",
"XIVH",
"XKE",
"XL",
"XLB",
"XLE",
"XLF",
"XLFS",
"XLG",
"XLI",
"XLK",
"XLP",
"XLRE",
"XLU",
"XLV",
"XLY",
"XME",
"XMLV",
"XMPT",
"XNY",
"XOM",
"XON",
"XOP",
"XOXO",
"XPH",
"XPL",
"XPO",
"XPP",
"XRA",
"XRLV",
"XRM",
"XRS",
"XRT",
"XRX",
"XSD",
"XSLV",
"XSOE",
"XSW",
"XT",
"XTH",
"XTL",
"XTLY",
"XTN",
"XTNT",
"XVZ",
"XWEB",
"XXII",
"XXV",
"XYL",
"Y",
"YANG",
"YAO",
"YCL",
"YCS",
"YDKN",
"YELP",
"YGE",
"YGRO",
"YINN",
"YLD",
"YMLI",
"YMLP",
"YPF",
"YRD",
"YUM",
"YUM",
"YUMA",
"YUMA",
"YUMC",
"YUME",
"YXI",
"YYY",
"YZC",
"ZAYO",
"ZB",
"ZB",
"ZB",
"ZB",
"ZBH",
"ZBK",
"ZBZX",
"ZDGE",
"ZEN",
"ZF",
"ZFC",
"ZLRG",
"ZMLP",
"ZNH",
"ZOES",
"ZPIN",
"ZROZ",
"ZSL",
"ZSML",
"ZTEST",
"ZTR",
"ZTS",
"ZVV",
"ZX",
{% for portfolio in all_portfolios %}
    "{{portfolio.name}} [Portfolio]",
    {% if portfolio.stocks %} 
    {% for stock in portfolio.stocks %}    
    "{{stock.ticker}} [Stock][{{portfolio.name}}]",
    {% endfor %}
    {% endif %}
{% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: availableTags,
  select: function( event, ui ) { 
            var searchTerm = JSON.stringify(ui.item.value)
            n = searchTerm.indexOf("[")
            if (n >= 0) {
              searchTerm = searchTerm.slice(1,n)
            }
            window.location.href = "/user/individual_stock/" + searchTerm + "/"
        }      
    });
  } );


</script>
{% endblock %}


