{% extends "base.html" %}
{% block content %}  

   
<div class="sceneElement" data-viewport="0">
  <div class="col-lg-12 col-md-12 col-sm-12" style="background:rgba(0,0,0,0.6);padding-top:25px;height:26vh;position:relative;padding:0px">
      <div style="width:100%;text-align:center;margin-top:9vh">
        <h2 style="font-weight:100;font-family:'Helvetica Neue'">News & Sentiment</h2>
      </div>
      <div class="row" style="height:50px;background:rgba(0,0,0,0.2);position:absolute;bottom:0px;width:103%">
        <p class="microsoft marquee">
          <span style="font-size:20px;margin-right:15vw">SCTY ↓ 23.2</span>
          <span style="font-size:20px;margin-right:15vw">AAPL ↓ 23.2</span>
          <span style="font-size:20px;margin-right:15vw">GOOGL ↓ 23.2</span>
          <span style="font-size:20px;margin-right:15vw">ECL ↓ 23.2</span>
          <span style="font-size:20px;margin-right:15vw">SCTY ↓ 23.2</span>
          <span style="font-size:20px;margin-right:15vw">SCTY ↓ 23.2</span>
          <span style="font-size:20px;margin-right:15vw">SCTY ↓ 23.2</span>
        </p>
      </div>
  </div>
  <div class="row" style="padding-top:26vh;width:100%;margin-right:0px;margin-left:0px;height:90vh">

<div class="col-md-6">     
                <div>
                  <div class="header" style="text-align:center;margin-top:25px">
                    <h2 style="font-weight:100;font-family:'Helvetica Neue'"> Your News Feed</h2>
                    <hr style="margin:15px" />
                  </div>
                    <div class="block block-transparent">
                                              
                    <div class="content tasks">
                    <div class="scroll-pail" >

                        <div class="task-item priority-high">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>
                        <div class="task-item priority-high">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>                        
                        <div class="task-item priority-mid">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>
                        <div class="task-item priority-high">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>
                        <div class="task-item priority-high">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>                        
                        <div class="task-item priority-mid">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>
                                                <div class="task-item priority-high">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>
                        <div class="task-item priority-high">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>                        
                        <div class="task-item priority-mid">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>
                                                <div class="task-item priority-high">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>
                        <div class="task-item priority-high">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>                        
                        <div class="task-item priority-mid">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>
                        <div class="task-item priority-mid">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>
                        <div class="task-item priority-mid">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>
                        <div class="task-item priority-low">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>
                        <div class="task-item priority-low">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>
                        <div class="task-item priority-low">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>                        
                        <div class="task-item">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>  
                        <div class="task-item">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>                          
                        <div class="task-item">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>
                        <div class="task-item">
                            <div class="task-item-content">
                                <div class="task-item-head">Lorem ipsum dolor sit amet</div>
                                <div class="task-item-subhead">Sed dictum dolor / Duis blandit leo</div>
                                <div class="task-item-date"><i class="icon-calendar"></i> 15 oct 2013 &nbsp; <i class="icon-time"></i> 4 hour</div>                            
                            </div>
                        </div>                         
                    </div>
                  </div>

                </div>

                    
                </div>                                    
                

    </div>
    <div class="col-lg-6 col-md-6">
        <div class="header" style="text-align:center;margin-top:25px">
            <h2 style="font-weight:100;font-family:'Helvetica Neue'"> Sentiment Data</h2>
            <input type="text" style="margin-left:25%;width:50%;letter-spacing:2px;font-weight:100;font-family:'Helvetica Neue'" placeholder="Search for stocks to visualize sentiment ..."></input>
            <hr style="margin:15px" />
        </div>
                 <div class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">


                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-1-header-1" aria-controls="ui-accordion-1-panel-1" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Sentiment Score</h3>
                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-1-panel-1" aria-labelledby="ui-accordion-1-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                            <p>

                            </p>
                              </div>

                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-1-header-1" aria-controls="ui-accordion-1-panel-1" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>News Articles</h3>
                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-1-panel-1" aria-labelledby="ui-accordion-1-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                            <p>

                            </p>
                              </div>
                       
                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-1-header-1" aria-controls="ui-accordion-1-panel-1" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Sentiment Graph</h3>
                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-1-panel-1" aria-labelledby="ui-accordion-1-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                            <p>

                            </p>
                              </div>

                        <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-1-header-1" aria-controls="ui-accordion-1-panel-1" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>Sentiment Visualization</h3>
                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-1-panel-1" aria-labelledby="ui-accordion-1-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true">

                              </div>
                    </div>

    </div>
  </div>

<iframe src="/user/scatter/" frameBorder="0" style="width:100%;height:600px;"></iframe>
<script>
$(".marquee").toggleClass("microsoft");
</script>

</div>
    <!-- 
<div class="sceneElement" data-viewport="0" >
<div class="col-lg-12 col-lg-12 col-sm-12" style="padding-right:50px;padding-left:50px;padding-top:25px;height:90vh;min-height:800px">

<div class="col-md-6">
                <div class="block" style="background:rgba(0,0,0,0.2)">
                     <h2 style="font-size:24px;text-align:center;padding:25px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue'">Market Sentiment</h2> 
                </div>
                <div class="block block-transparent nm">
<input type="text" class="form-control" id="tags" name="tags" placeholder="Filter by portfolio . . ." style="font-size:12px;font-family:'Helvetica Neue';letter-spacing:2px;font-weight:100;color: white;font-family:'helvetica neue';font-weight: 100;line-height: 47px;margin-top: 15px;outline: medium none;margin-left:25px;margin-right:25px;width: 92%;margin-bottom:50px;letter-spacing:3px;height:50px">
                    <div class="scroll-nail email-list mCustomScrollbar _mCS_1" style="height: 60vh;min-height:500px">
                        <div class="email-list-item" style="background:rgba(0,255,0,0.1)">
                            <div class="item-line">
                                <div class="item-line-title" style="font-size:24px">
                                   <h2 style="font-size:24px;text-align:center;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue'"> 
                                     <button type="button" class="btn btn-default btn-clean center" style="font-weight:300" onClick="filter('{{portfolio.id}}','{{portfolio.name}}')">GOOGL </button> 
                                     <button type="button" class="btn btn-default btn-clean center" style="font-weight:300">Test Portfolio</button>
                                     <div class="side pull-right">         36 
                                     <span style="font-size:14px;color:rgba(0,255,0,1)">+24% </span>
                                  </h2>
                                </div>
                            </div>

                        </div>                       
                        <div class="email-list-item" style="background:rgba(255,0,0,0.1)">
                            <div class="item-line">
                                <div class="item-line-title" style="font-size:24px">
                                   <h2 style="font-size:24px;text-align:center;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue'"> 
                                     <button type="button" class="btn btn-default btn-clean center" style="font-weight:300" onClick="filter('{{portfolio.id}}','{{portfolio.name}}')">AAPL</button> 
                                     <button type="button" class="btn btn-default btn-clean center" style="font-weight:300">Test Portfolio</button>        
                                  </h2></div>
                                <div class="item-line-date">Today 11:00 PM</div>
                            </div>
                            <div class="item-line">
                                <div class="item-line-content">
                                  <h2 style="font-size:18px;text-align:center;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue'"> Sentiment Score : -12 <span style="font-size:12px;color:rgba(255,0,0,1)"> -24% </span>
                                  </h2>
                                </div>
                            </div>
                        </div>
<script>
var filter = function(id,name) {
    $("#chosenPortfolio")[0].innerText = name + "\'s Sentiment"
    $("#chosenMarket")[0].innerText = name
}
var nocus = function(id,name) {
  $(".email-list-item").each(function(index) {
    if ($(this).attr('id') !== "e"+id) {
      $(this).css('display','none')
    } else {
      $("#chosenPortfolio")[0].innerText = name + "\'s Sentiment"
    $("#chosenMarket")[0].innerText = name
      console.log('keep')
    }
  })
}
</script>
<script>
   $('#tags').on('keypress', function (e) {
         if(e.which === 13){
            var inputval = $("#tags")[0].value
            $(".email-list-item").each(function(index) {
              $(this).css('display','none')
            })
            $("button:contains('"+inputval+"')").each(function(i,x) {
              x.parentNode.parentNode.parentNode.parentNode.style += "display:initial"
            })
         }
   });

</script>
<!-- {% for portfolio in all_portfolios %}
    {% if portfolio.stocks %} 
    {% for stock in portfolio.stocks %}    
                        <div class="email-list-item" id="e{{portfolio.id}}">
                            <div class="item-line">
                                <div class="item-line-title" style="font-size:24px">
                                   <h2 style="font-size:24px;text-align:center;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue'"> 
                                      <button type="button" class="btn btn-default btn-clean center" style="font-weight:300" onClick="nocus('{{portfolio.id}}','{{stock.ticker}}')">{{stock.ticker}}  </button>    
                                     <button type="button" class="btn btn-default btn-clean center" style="font-weight:300" onClick="filter('{{portfolio.id}}','{{portfolio.name}}')">{{portfolio.name}}</button>        
                                  </h2></div>
                                <div class="item-line-date">Today 11:00 PM</div>
                            </div>
                            <div class="item-line">
                                <div class="item-line-content">
                                  <h2 style="font-size:18px;text-align:center;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue'"> Sentiment Score : 33 <span style="font-size:12px;color:rgba(0,255,0,1)"> +2% </span>
                                  </h2>
                                </div>
                            </div>
                        </div>                        
    {% endfor %}
    {% endif %}
{% endfor %}                      
                 
 <div class="nav">
    <a href="/user/support" data-target="-1" style=";margin-right:50px;float:right">           
      <h1><span class="icon-angle-right" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:98vw;font-size:24px"></span></h1></a>
    <a href="/user/portfolio_settings" data-target="1" style=";margin-left:50px;float:left">
       <h1><span class="icon-angle-left" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:1vw;font-size:24px"></span></h1>
    </a>
  </div>  

                    </div>
                </div>
</div>                                                                
<div class="col-md-6">
                <div class="block" style="background:rgba(0,0,0,0.1)">
                     <h2 style="font-size:18px;text-align:center;padding:25px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';line-height:24px" id="chosenPortfolio">Portfolio Sentiment</h2> 
                </div>
<div class="block" style="margin-top:2px;margin-left:3px;height:290px">
          <div class="header">
                <h2 style="font-size:12px;font-weight:300;-webkit-font-smoothing: antialiased;">Sentiment Score : <span class="label label-default" style="text-align:left;font-weight:500;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';background:rgba(0,255,0,0.6)">
                                33%</span> </h2> 
            </div>
            <div class="content bg-dot30" style="height:250px;background:rgba(0,0,0,0.6);overflow:hidden">
                  <br><span id="chosenMarket" style="top:-10px;left:85px;position:relative"> 
                    AAPL
                  </span>

                  <div class="ibox-content" id="myBar" style="height:150px;position:relative;top:-2vh;left:1vw">
                      <div class="row" style="overflow:hidden">
                      </div>
                  </div> 
                  <div class="head-panel nm" style="position:absolute;top:310px;left:25px">
                      <div class="btn-toolbar">
                          <div id="new_input">
                           <div class="btn-group btn-group-xs">

                          </div>
                        
                          </div>
                      </div>
                 </div>                   
             </div>   
</div>

<div class="block block-transparent" style="background:rgba(0,0,0,0.2);height:auto">
                    
                    <div class="scroll-pail" style="height:40vh;min-height:250px">
                        
                        <div class="list-item">
                            <div class="list-title">
                              <h2 style="font-size:18px;text-align:left;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';line-height:24px" id="chosenPortfolio">Next.js – A small framework for server-rendered universal JavaScript apps</h2>  </div>

                            <div class="list-text" style="font-size:12px;text-align:left;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';line-height:24px">Sentiment Score: 
                              <span class="label label-default" style="text-align:left;font-weight:500;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';background:rgba(0,255,0,0.6)">
                                33%</span></div>
                        </div>
                        <hr>
                          <div class="list-item">
                            <div class="list-title">
                              <h2 style="font-size:18px;text-align:left;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';line-height:24px" id="chosenPortfolio">ZCash Will Be a Truly Anonymous Blockchain-Based Currency</h2>  </div>

                            <div class="list-text" style="font-size:12px;text-align:left;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';line-height:24px">Sentiment Score: 
                              <span class="label label-default" style="text-align:left;font-weight:500;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';background:rgba(0,255,0,0.6)">
                                33%</span></div>
                        </div>
                        <hr>  
       <div class="list-item">
                            <div class="list-title">
                              <h2 style="font-size:18px;text-align:left;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';line-height:24px" id="chosenPortfolio">Cognitive Toolkit beta for deep learning advances </h2>  </div>

                            <div class="list-text" style="font-size:12px;text-align:left;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';line-height:24px">Sentiment Score: 
                              <span class="label label-default" style="text-align:left;font-weight:500;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';background:rgba(255,0,0,0.6)">
                                -18%</span></div>
                        </div>
                        <hr>  
 <div class="list-item">
                            <div class="list-title">
                              <h2 style="font-size:18px;text-align:left;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';line-height:24px" id="chosenPortfolio">Boom Wants to Bring Supersonic Civilian Travel Back </h2>  </div>

                            <div class="list-text" style="font-size:12px;text-align:left;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';line-height:24px">Sentiment Score: 
                              <span class="label label-default" style="text-align:left;font-weight:500;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';background:rgba(0,255,0,0.6)">
                                33%</span></div>
                        </div>
                        <hr>      
                        <div class="list-item">
                            <div class="list-title">
                              <h2 style="font-size:18px;text-align:left;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';line-height:24px" id="chosenPortfolio">  How Generalised Problems Kill Startups </h2>  </div>

                            <div class="list-text" style="font-size:12px;text-align:left;padding:5px;font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';line-height:24px">Sentiment Score: 
                              <span class="label label-default" style="text-align:left;font-weight:500;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';background:rgba(0,255,0,0.6)">
                                33%</span></div>
                        </div>
                        <hr>                                                                    
                        
                    </div>
                    
                </div>

</div> 
</div>                                                                
                                                           
</div>
                
</div>                       
                 

</div>
</div>
</div>
 -->
  <div id="new_input" style="display:none">
    &nbsp &nbsp
    Stock: <input type="text" name="stock" id="stock" value="AAPL" 
    style="width: 70px;">
    &nbsp &nbsp
    Start: <input type="text" name="start" id="start" value="2015-01-10"
    style="width: 80px;">
    &nbsp &nbsp
    End: <input type="text" name="end" id="end" value="2015-03-10" 
    style="width: 80px;">
    &nbsp &nbsp
    <input name="updateButton" 
    type="button" 
    value="Update" 
    onclick="updateData()" />
</div>

{% endblock %}

{% block scripts %}
<link href="/static/css2/d3chart.css" rel="stylesheet">
 <script src="/static/js/user/news_portal.js"></script>
<script>
 $( function() {
    var availableTags = [ 
 {% for portfolio in all_portfolios %}
    "{{portfolio.name}}",
{% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
</script>
{% endblock %}