{% extends "base.html" %}
    <script type='text/javascript' src='/static/js/plugins.js'></script>    
    <script type='text/javascript' src='/static/js/actions.js'></script>    
    <script type='text/javascript' src='/static/js/charts.js'></script>
    <script type='text/javascript' src='/static/js/settings.js'></script> 
{% block content %}
         <div class="col-md-8 col-sm-8" style="padding-left:50px;padding-right:50px">
            <div class="block block-drop-shadow" style="font-family:''Helvetica Neue Ultra Light', 'Helvetica', Arial, sans-serif'">
                <div class="head bg-dot30">
                <div class="ibox-content" style="display: block;background-color: rgba(0,0,0,0);color:white;border:0px">
                        <form id="myForm" class="form-horizontal" action="/user/portfolio_optimize" method="post">
                        {% csrf_token %}
                        <!-- Details -->
                        <div class="row">
                            <div class="col-lg-12">
                        <h3>Details</h3>
                            <div class="form-group">
                                <label class="col-sm-1 control-label" style="width:140px;">Name</label>
                                <a href="login.html" onclick="return popitup('/login')"
                                 >?</a>
                               <div class="col-sm-5">
                                    <input type="text" class="form-control" value="High Risk Portfolio">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label" style="width:140px;">Description</label>
                                 <a href="login.html" onclick="return popitup('/login')"
                                 >?</a>
                               <div class="col-sm-5">
                                <textarea cols="40" rows="5" class="form-control">This is my profile for handling certain investments.</textarea>
                                </div>
                            </div>
                             </div>
                        </div>
                        <div class="toolbar" style="height:auto;margin:auto;width:100">
                            
                            <h3>Expected Return</h3>
                            <div class="form-group">
                                <label class="col-sm-1 control-label" style="width:140px;">Return</label>
                                <div class="input-group m-b">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">%</span>
                                        <input id="expReturn" name="expReturn" type="number" value="5" placeholder="1" min="1" max="50" class="form-control" onchange="returnChecker()">
                                    </div>
                                </div>
                            </div>
                            
                            <h3>Expected Risk</h3>
                            <div class="form-group">
                                <label class="col-sm-1 control-label" style="width:140px;">Risk</label>
                                <div class="input-group m-b">
                                     <div class="input-group m-b">
                                        <span class="input-group-addon">%</span>
                                        <input id="expRisk" name="expRisk" type="number" value="10" placeholder="1" min="1" max="20" class="form-control" onchange="riskChecker()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Time Frame -->
                        <div class="toolbar" style="height:auto;margin:auto:width:100%">
                        
                        <h3>Time Frame</h3>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" style="width:140px;">Term (Months)</label>
                            <div class="input-group m-b">
                                <select class="form-control m-b" name="Months" id="Months">
                                    <option value="1">1</option>
                                    <option value="3">3</option>
                                    <option value="6">6</option>
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                    <option value="48">48</option>
                                    <option value="60">60</option>
                                </select>
                            </div>

                        </div>

                        <!-- Control Market -->
                        
                        <h3>Control Market</h3>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" style="width:140px;"></label>
                                <div class="input-group m-b">
                                <select class="form-control m-b" name="Market" id="Market">
                                    <option value="1">S&amp;P 500</option>
                                    <option value="2">NASDAQ</option>
                                    <option value="3">Dow Jones</option>
                                    <option value="4">US Markets</option>
                                </select>
                                </div>
                        </div>
                        </div>
                        <div class="toolbar" style="height:auto;margin:auto:width:100%">
                        <!-- Investment  -->
                        
                        <h3>Investment</h3>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" style="width:140px;"></label>
                                 <div class="input-group m-b">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" placeholder="1,000" value="1000" id="investing_amount" name="investing_amount" class="form-control">
                                </div>
                                </div>
                            </div>

                        <!-- Number of Stocks  -->
                        
                        <h3>Stocks</h3>
                        <div class="form-group">
                               <label class="col-sm-1 control-label" style="width:140px;">Number of stocks</label>
                                 <div class="input-group m-b">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon"></span>
                                        <input id="stocks_number" name="stocks_number" type="number" value="3" placeholder="3" min="3" max="10" class="form-control" onchange="stockChecker()">
                                    </div>
                                 </div>
                        </div>
                    </div>
                        <div class="toolbar" style="height:auto;margin:auto:width:100%">
                           <div class="form-group">
                                <label class="col-sm-1 control-label" style="width:140px;">
                                    <h5>Company Market Cap</h5>
                                </label>
                               <div class="col-sm-3" style="padding-top:15px">
                                    <input type="text" class="form-control" value="0">
                                </div>
                                <label class="col-sm-1 control-label" style="width:140px;">
                                    <h5>Company P\E Ratio</h5>
                                </label>
                               <div class="col-sm-3" style="padding-top:15px">
                                    <input type="text" class="form-control" value="0">
                                </div>                                
                            </div>
                            <br>
                           <div class="form-group">
                                <label class="col-sm-1 control-label" style="width:140px;">
                                    <h5>Dividend Yield (%)</h5>
                                </label>
                               <div class="col-sm-3" style="padding-top:15px">
                                    <input type="text" class="form-control" value="0">
                                </div>
                                <label class="col-sm-1 control-label" style="width:140px;">
                                    <h5>52 Week Price Change</h5>
                                </label>
                               <div class="col-sm-3" style="padding-top:15px">
                                    <input type="text" class="form-control" value="0">
                                </div>                                
                            </div>
                        </div>
                        <div class="toolbar" style="height:auto;margin:auto:width:100%">
                           <div class="form-group">
                                <label class="col-sm-1 control-label" style="width:140px;">
                                    <h5>Price Earnings Ratio</h5>
                                </label>
                               <div class="col-sm-3" style="padding-top:15px">
                                    <input type="text" class="form-control" value="0">
                                </div>
                            </div>
                        </div>
                        </div>
                            <div class="col-md-6" style="margin-top:15px">
                                <a href="/" class="btn btn-default btn-block btn-clean" type="submit">Cancel</a>
                                <!--<a href="#" class="btn btn-primary" type="submit" >-->
                            </div>

                            <div class="col-md-6" style="margin-top:15px">
<!--                                 <input class="btn btn-default btn-block btn-clean" type="submit" value="Optimize"/>
 -->                                <a href="#modal_default_1" onclick="loadDummyData()" data-toggle="modal" class="btn btn-default btn-block btn-clean">Optimize</a>
                            </div>
                    </form><!-- End of Form -->
                </div><!-- End of Content -->
            </div>
        </div>


</div>
</div>
</div>

<div class="modal" id="modal_default_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="margin-top:25%">
            <div class="modal-content">

                    <div class="statusbar" id="statusbar_2" style="display: block;margin:0px;padding:10px;height:50px;">
                        <div class="statusbar-icon"><img src="/static/img/loader.gif"></div>
                        <div class="statusbar-text">Loading...</div>
                    </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-clean" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
</div>
<script>
function loadDummyData() {
    setTimeout(function(){ document.forms["myForm"].submit(); }, 3000);
}
</script>


<script src="/static/js/nouislider.min.js"></script>

<script type="text/javascript">
    var rangeSlider = document.getElementById('basic_slider');

    noUiSlider.create(rangeSlider, {
        start: [30],
        range: {
            'min': [ 0 ],
            'max': [ 100 ]
        }
    });

    var rangeSliderValueElement = document.getElementById('basic_slider_value');
    var riskSliderRiskElement = document.getElementById('risk_slider_risk');

    rangeSlider.noUiSlider.on('update', function( values, handle ) {
        rangeSliderValueElement.innerHTML = values[handle] + "%";
        if(values[handle] < 30) {
            riskSliderRiskElement.innerHTML = "<p style='color:green;'>Low Risk</p>"
        } else if(values[handle] > 30 && values[handle] < 60) {
            riskSliderRiskElement.innerHTML = "<p style='color:orange;'>Medium Risk</p>"
        } else if (values[handle] > 60) {
            riskSliderRiskElement.innerHTML = "<p style='color:red;'>High Risk</p>"
        }
    });

    function stockChecker() {
        var stocksNumberElement = document.getElementById('stocks_number');
        if (stocksNumberElement.value > 10) { stocksNumberElement.value = 10} else if (stocksNumberElement.value < 3) { stocksNumberElement.value = 3}
    }

    function returnChecker() {
        var expReturnElement = document.getElementById('expReturn');
        if (expReturnElement.value > 50) { expReturnElement.value = 50} else if (expReturnElement.value < 1) { expReturnElement.value = 1}
    }

    function riskChecker() {
        var expRiskElement = document.getElementById('expRisk');
        if (expRiskElement.value > 20) { expRiskElement.value = 20} else if (expRiskElement.value < 1) { expRiskElement.value = 1}
    }

function popitup(url) {
    newwindow=window.open(url,'name','height=400,width=400');
    if (window.focus) {newwindow.focus()}
    return false;
}
</script>

{% block body %}

{% endblock %}

        </div>form


    </div>
</div>
{% endblock %}
