<!DOCTYPE html>
<html lang="en">
<head>        
    <title>FSAI</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="/static/js1/morris.js"></script>
    <script type="text/javascript" src="/static/js1/raphael.js"></script>
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    
    <link href="/static/css2/stylesheets.css" rel="stylesheet" type="text/css"/>   
    
    <script type='text/javascript' src='/static/js/plugins/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='/static/js/plugins/jquery/jquery-ui.min.js'></script>
    <script type='text/javascript' src='/static/js/plugins/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/static/js/plugins/jquery/globalize.js'></script>    
    <script type='text/javascript' src='/static/js/plugins/bootstrap/bootstrap.min.js'></script>
    
    <script type='text/javascript' src='/static/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js'></script>
    <script type='text/javascript' src='/static/js/plugins/uniform/jquery.uniform.min.js'></script>
    
    <script type='text/javascript' src='/static/js/plugins/knob/jquery.knob.js'></script>
    <script type='text/javascript' src='/static/js/plugins/sparkline/jquery.sparkline.min.js'></script>
    <script type='text/javascript' src='/static/js/plugins/flot/jquery.flot.js'></script>     
    <script type='text/javascript' src='/static/js/plugins/flot/jquery.flot.resize.js'></script>
    
    <script type='text/javascript' src='/static/js/plugins.js'></script>    
    <script type='text/javascript' src='/static/js/actions.js'></script>    
    <script type='text/javascript' src='/static/js/charts.js'></script>
    <script type='text/javascript' src='/static/js/settings.js'></script> 

</head>
<body class="bg-img-num1" data-settings="open">   
    <div class="container">        
        <div class="row">                   
            <div class="col-md-12">        
                 <nav class="navbar brb" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-reorder"></span>                            
                        </button>                                                
                        <a class="navbar-brand" href="/static/img"><img src="/static/img/logo.png"/></a>                                                                                     
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">                                     
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="/user/dashboard">
                                    <span class="icon-home"></span> dashboard
                                </a>
                            </li>                            
                        </ul>
                    </div>
                </nav>                

            </div>            
        </div>

         <div class="row">       
            <div class="col-md-2">
                <div class="block block-drop-shadow">
                    <div class="user bg-default bg-light-rtl">
                        <div class="info">                                                                                
                         <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">Hello {{user.username}} !</strong>
                         </span> </span> 
                        </div>
                    </div>
                    <div class="content list-group list-group-icons">
                        <a href="component_messages.html" class="list-group-item"><span class="icon-envelope"></span>Messages<i class="icon-angle-right pull-right"></i></a>
                        <a href="component_charts.html" class="list-group-item"><span class="icon-bar-chart"></span>Statistic<i class="icon-angle-right pull-right"></i></a>
                        <a href="/user/portfolio_settings" class="list-group-item"><span class="icon-cogs"></span>Settings<i class="icon-angle-right pull-right"></i></a>
                        <a href="/user/portfolio_settings" class="list-group-item"><span class="icon-globe"></span>News<i class="icon-angle-right pull-right"></i></a>
                        <a href="/logout" class="list-group-item"><span class="icon-off"></span>Logout<i class="icon-angle-right pull-right"></i></a>
                    </div>
                </div> 
            </div>
     <div class="col-md-10">
        <div class="block block-drop-shadow">
            <div class="head bg-dot30">  
                <h2>My Portfolios</h2>
            <div class="ibox-content" style="display: block;">
                    <form class="form-horizontal" action="/user/portfolio_optimize" method="post">
                    {% csrf_token %}
                    <!-- Details -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hr-line-dashed"></div>
                    <h3>Details
                        &nbsp;<span class="icon-question-sign"><p
                                style="display:none;">Details</p></span></h3>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" style="width:140px;">Name</label>
                           <div class="col-sm-5">
                                <input type="text" class="form-control" value="High Risk Portfolio">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label" style="width:140px;">Description</label>
                           <div class="col-sm-5">
                            <textarea cols="40" rows="5" class="form-control">This is my profile for handling certain investments.</textarea>
                            </div>
                        </div>
                         </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <h3>Expected
                        Return&nbsp;<span
                                class="icon-question-sign"><p
                                style="display:none;">Expected Return</p></span>
</h3>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="width:140px;">Return</label>
                        <div class="input-group m-b">
                            <div class="input-group m-b">
                                <span class="input-group-addon">%</span>
                                <input id="expReturn" name="expReturn" type="number" value="5" placeholder="1" min="1" max="50" class="form-control" onchange="returnChecker()">
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    <h3>Expected Risk&nbsp;<span
                            class="icon-question-sign"><p
                            style="display:none;">Expected Risk
                    </p></span>
                    </h3>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="width:140px;">Risk</label>
                        <div class="input-group m-b">
                             <div class="input-group m-b">
                                <span class="input-group-addon">%</span>
                                <input id="expRisk" name="expRisk" type="number" value="10" placeholder="1" min="1" max="20" class="form-control" onchange="riskChecker()">
                            </div>
                        </div>
                    </div>                    
                    <!-- Time Frame -->
                    <div class="hr-line-dashed"></div>
                    <h3>Time
                        Frame&nbsp;<span class="icon-question-sign"><p style="display:none;"
                        >Timeframe</p></span></h3>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="width:140px;">Term (Months)</label>
                        <div class="input-group m-b">
                            <select class="form-control m-b" name="Months" id="Months">
                                <option value="1">1</option>
                                <option value="3">3</option>
                                <option value="6">6</option>
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                                <option value="48">48</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                    </div>

                    <!-- Control Market -->
                    <div class="hr-line-dashed"></div>
                    <h3>Control Market&nbsp;<span
                            class="icon-question-sign"><p
                            style="display:none;">Timeframe</p></span>
                    </h3>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="width:140px;"></label>
                            <div class="input-group m-b">
                            <select class="form-control m-b" name="Market" id="Market">
                                <option value="1">S&amp;P 500</option>
                                <option value="2">NASDAQ</option>
                                <option value="3">Dow Jones</option>
                                <option value="4">US Markets</option>
                            </select>
                            </div>
                    </div>

                    <!-- Investment  -->
                    <div class="hr-line-dashed"></div>
                    <h3>Investment
                        &nbsp;<span class="icon-question-sign"><p
                                style="display:none;">Iinvestment</p></span></h3>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="width:140px;"></label>
                             <div class="input-group m-b">
                            <div class="input-group m-b">
                                <span class="input-group-addon">$</span>
                                <input type="number" placeholder="1,000" value="1000" id="investing_amount" name="investing_amount" class="form-control">
                            </div>  
                            </div>                      
                        </div>

                    <!-- Number of Stocks  -->
                    <div class="hr-line-dashed"></div>
                    <h3>Stocks&nbsp;<span class="icon-question-sign"><p
                            style="display:none;"
                    >Stocks</p></span></h3>
                    <div class="form-group">
                           <label class="col-sm-1 control-label" style="width:140px;">Number of stocks</label>
                             <div class="input-group m-b">
                                <div class="input-group m-b">
                                    <span class="input-group-addon"></span>
                                    <input id="stocks_number" name="stocks_number" type="number" value="3" placeholder="3" min="3" max="10" class="form-control" onchange="stockChecker()">
                                </div>
                             </div>
                    </div>

                        <div class="col-md-6">
                            <a href="/" class="btn btn-default btn-block btn-clean" type="submit">Cancel</a>
                            <!--<a href="#" class="btn btn-primary" type="submit" >-->
                        </div>
                        <div class="col-md-6">
                            <input class="btn btn-default btn-block btn-clean" type="submit" value="Optimize"/>
                        </div>              
                </form><!-- End of Form -->
            </div><!-- End of Content -->
        </div>
    </div>
</div>
</div>
</div>
</body>


{% block scripts %}
<script src="/static/js/nouislider.min.js"></script>

<script type="text/javascript">
    console.log("interpreting the javascript code");
    $(document).ready(function() {
        console.log("Inside ready function");
        // Tooltip only Text
        $('span.icon-question-sign').hover(function(){
                // Hover over code
                console.log("Hover icon-question-sign class method");
                var tooltip = $(this).children('p').text();
                //$(this).data('tipText', title).removeAttr('title');
                $('<p class="tooltip"></p>')
                .text(tooltip)
                .show()
                .appendTo('body')
                .fadeIn('slow');
        }).mousemove(function(e) {
                var mousex = e.pageX + 20; //Get X coordinates
                var mousey = e.pageY + 10; //Get Y coordinates
                $('.tooltip')
                .css({ top: mousey, left: mousex })
        });
    });

    var rangeSlider = document.getElementById('basic_slider');
    
    noUiSlider.create(rangeSlider, {
        start: [30],
        range: {
            'min': [ 0 ],
            'max': [ 100 ]
        }
    });
    console.log("after creating the nouslider");

    var rangeSliderValueElement = document.getElementById('basic_slider_value');
    var riskSliderRiskElement = document.getElementById('risk_slider_risk');

    rangeSlider.noUiSlider.on('update', function( values, handle ) {
        rangeSliderValueElement.innerHTML = values[handle] + "%";
        if(values[handle] < 30) {
            riskSliderRiskElement.innerHTML = "<p style='color:green;'>Low Risk</p>"
        } else if(values[handle] > 30 && values[handle] < 60) {
            riskSliderRiskElement.innerHTML = "<p style='color:orange;'>Medium Risk</p>"
        } else if (values[handle] > 60) {
            riskSliderRiskElement.innerHTML = "<p style='color:red;'>High Risk</p>"
        }
    });

    function stockChecker() {
        var stocksNumberElement = document.getElementById('stocks_number');
        if (stocksNumberElement.value > 10) { stocksNumberElement.value = 10} else if (stocksNumberElement.value < 3) { stocksNumberElement.value = 3}
    }

    function returnChecker() {
        var expReturnElement = document.getElementById('expReturn');
        if (expReturnElement.value > 50) { expReturnElement.value = 50} else if (expReturnElement.value < 1) { expReturnElement.value = 1}
    }

    function riskChecker() {
        var expRiskElement = document.getElementById('expRisk');
        if (expRiskElement.value > 20) { expRiskElement.value = 20} else if (expRiskElement.value < 1) { expRiskElement.value = 1}
    }
    // console.log("after interpreting all the methods");

</script>
{% endblock %}