{% extends "base.html" %}


{% block content %}
  <div class="nav">
    <a href="/user/news_portal" data-target="-1" style=";margin-right:50px;float:right">           
      <h1><span class="icon-angle-right" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:88vw;"></span></h1></a>
    <a href="/user/my_portfolios" data-target="1" style=";margin-left:50px;float:left">
       <h1><span class="icon-angle-left" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:12vw;"></span></h1>
    </a>
  </div>
<div class="sceneElement" data-viewport="0">
<div class="col-lg-12 col-md-12 col-sm-12" id="picker" style="margin-top:15vh;">
  <div class="row" style="text-align:center">
    <div class="col-lg-4 col-md-4 col-sm-4" id="guru"> 
      <h2 style="font-weight:100;font-family:'Helvetica Neue">Guru Advisor Portfolios</h2>
      <div style="font-size:84px"><span class="icon-group"></span></div>
      <span>Create your new portfolio based on <br>mentoring from Financial Advisors,<br> or . . .</span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" id="vise"> 
      <h2 style="font-weight:100;font-family:'Helvetica Neue">Vise Portfolio Wizard</h2>
      <div style="font-size:84px"><span class="icon-magic"></span></div>
      <span> Allow Vise to create and optimize<br> your portfolio based on your preferences <br> or . . .</span>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4" id="template"> <h2 style="font-weight:100;font-family:'Helvetica Neue">Portfolio Template</h2>
      <div style="font-size:84px"><span class="icon-archive"></span></div>
      <span> Simply select a ready made <br> portfolio from one of our templates !</span>
    </div>
  </div>
  <ol class="breadcrumb" style="margin-top:25px;text-align:center;opacity:1">  
    <li id="selectedOption"> We offer three different options for portfolio creations: Guru Advisor Portfolios, Vise Wizard Portfolios, and Portfolio Templates. <li>  
  </ol>
</div>
 <div class="col-md-12" style="padding:50px;display:none;" id="visePicked">
           <div class="block">
              <div class="content controls">  
                   <form id="wizard" class="form-horizontal" action="/user/portfolio_optimize" method="post">            
                        {% csrf_token %}
                        <!-- Details -->
                        <fieldset title="Step 1">
                            <legend>Details</legend>
                             <div class="form-row">
                                    <div class="col-md-3">Name</div>
                                    <a href="login.html" onclick="return popitup('/login')">?</a>
                                   <div class="col-sm-5">
                                        <input type="text" class="form-control" value="High Risk Portfolio">
                                   </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3">Description</div>
                                    <a href="login.html" onclick="return popitup('/login')">?</a>
                                   <div class="col-sm-5">
                                    <textarea cols="40" rows="5" class="form-control">This is my profile for handling certain investments.</textarea>
                                    </div>
                                </div>
                        </fieldset>
                        <fieldset title="Step 2">
                          <legend>Expected</legend>         
                            <div class="form-row" style="padding:10px">
                               <h6>Expected Return</h6>
                               <br>
                                <div style="width:400px;">
                                  <button type="button" class="btn btn-default btn-clean">Low</button>
                                  <button type="button"  class="btn btn-default btn-clean">Medium</button>
                                  <button type="button"  class="btn btn-default btn-clean">High</button>
                                </div>
                                <div class="input-group m-b" style="padding-top:10px;width:200px;">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">%</span>
                                        <input id="expReturn" name="expReturn" type="number" value="5" placeholder="1" min="1" max="50" class="form-control" onchange="returnChecker()">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" style="padding:10px">
                              <h6>Expected Risk</h6>
                              <br>
                                <div style="width:400px;">
                                  <button type="button"  id="lowrisk" class="btn btn-default btn-clean" onclick="lowrisk()">Low</button>
                                  <button type="button"  class="btn btn-default btn-clean">Medium</button>
                                  <button type="button"  class="btn btn-default btn-clean">High</button>
                                </div>
                                <div class="input-group m-b" style="padding-top:10px;width:200px;">
                                     <div class="input-group m-b">
                                        <span class="input-group-addon">%</span>
                                        <input id="expRisk" name="expRisk" type="number" value="10" placeholder="1" min="1" max="20" class="form-control" onchange="riskChecker()">
                                    </div>
                                </div>
                            </div>
                        </fieldset>      
            <fieldset title="Step 3">                            
                <legend>Time Frame</legend>
                           <div class="col-lg-12">                    
                                <div class="form-group" style="padding:10px">
                                <h6>Time Frame</h6>
                                   <div class="col-md-3" style="vertical-align:top;">Years</div>
                                  <div class="input-group m-b" style="width:80px;">
                                    <select class="form-control m-b" name="Years" id="Years">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                               </select>
                                </div>
                            </div>
                            <div class="form-group" style="padding:10px">
                                 <div class="col-md-3">Months</div>
                                 <div class="input-group m-b" style="width:80px;">
                                  <select class="form-control m-b" name="Months" id="Months">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                               </div>
                            </div>
                            <div class="form-group" style="padding:10px">
                                <h6>Control Market</h6>
                                    <div class="col-md-3"></div>
                                        <div class="input-group m-b" style="width:80px;">
                                        <select class="form-control m-b" name="Market" id="Market">
                                            <option value="1">S&amp;P 500</option>
                                            <option value="2">NASDAQ</option>
                                            <option value="3">Dow Jones</option>
                                            <option value="4">US Markets</option>
                                        </select>
                                        </div>
                                </div>
                            </div>
            </fieldset>
            <fieldset title="Step 4">                            
                <legend>Investment</legend>
                           <div class="col-lg-12">  
                            <h6>Investment</h6>
                            <div class="form-group">
                                <div class="col-md-3"></div>
                                     <div class="input-group m-b" style="width:165px">
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" placeholder="1,000" value="1000" id="investing_amount" name="investing_amount" class="form-control">
                                    </div>  
                                    </div>                      
                                </div>
                                <h6>Stocks</h6>
                                <div class="form-group">
                                  <div class="col-md-3">Number of stocks</div>
                                     <div class="input-group m-b" style="width:165px">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon"></span>
                                            <input id="stocks_number" name="stocks_number" type="number" value="3" placeholder="3" min="3" class="form-control" onchange="stockChecker()">
                                        </div>
                                     </div>
                            </div>
                         </div>
            </fieldset>
            <fieldset title="Step 5">                            
                <legend>Stock Filters</legend>
                           <div class="col-lg-12">
                               <div class="form-group">
                                   <div class="col-md-3">
                                        <h7>Company Market Cap</h7>
                                    </div>
                                   <div class="col-sm-3">
                                        <input type="text" class="form-control" value="0">
                                    </div>
                                    <div class="col-md-3">
                                        <h7>Company P\E Ratio</h7>
                                    </div>
                                   <div class="col-sm-3">
                                        <input type="text" class="form-control" value="0">
                                    </div>                                
                                </div>
                               <div class="form-group">
                                    <div class="col-md-3">
                                        <h7>Dividend Yield (%)</h7>
                                    </div>
                                   <div class="col-sm-3" style="padding-top:15px">
                                        <input type="text" class="form-control" value="0">
                                    </div>
                                   <div class="col-md-3">
                                        <h7>52 Week Price Change</h7>
                                    </div>
                                   <div class="col-sm-3" style="padding-top:15px">
                                        <input type="text" class="form-control" value="0">
                                    </div>                                
                                </div>
                                <br>
                               <div class="form-group">
                               <div class="col-md-3">
                                <h7>Stock Filters</h7></div>
                                  <div class="input-group m-b" style="padding:10px;">
                                      <select class="form-control m-b" name="StockFilters" id="StockFilters" onchange="showfield()" style="width:165px;padding-left:10px;">
                                            <option selected="selected">Select filter</option>
                                            <option value="Last price">Last price</option>
                                            <option value="EPS">EPS</option>
                                            <option value="Quote Change(%)">Quote Change(%)</option>
                                            <option value="52w high">52w high</option>
                                            <option value="52w low">52w low</option>
                                            <option value="52w price change(%)">52w price change(%)</option>
                                            <option value="Div Recent Quarter">Div Recent Quarter</option>
                                            <option value="Book value/share">Book value/share</option>
                                            <option value="Cash/Share">Cash/Share</option>
                                            <option value="Current Ratio">Current Ratio</option>
                                            <option value="Interest Coverage">Interest Coverage</option>
                                             <option value="Return on investment(TTM)(%)">Return on investment(TTM)(%)</option>
                                        </select>
                                  </div>
                                </div>  
                                <div class="form-group" id="stockinfo" style="display:none;">
                                 <div class="col-md-3">
                                     <h7 id="stockfillername"></h7>
                                 </div>
                                 <div class="col-sm-3" id="stockoptiontext">
                                        <input type="text" class="form-control"  style="width:160px;">
                                    </div> 
                                </div>
                            </div>
            </fieldset>
            <fieldset title="Step 6">                            
                <legend>Add Stocks</legend>
                           <div class="col-lg-12">
                            <div class="form-group">
                               <div class="col-md-3" style="width:150px;">
                               <h7>Stock Ticker</h7>
                               </div>
                               <div class="col-sm-3">
                                    <input type="text" class="form-control" value="AAPL" placeholder="AAPL">
                                </div> 
                                <div class="col-md-3" style="width:150px;">
                               <h7>Date Bought</h7>
                               </div>
                              <div class="col-sm-3">
                                <div class="input-group m-b">
                                <span class="input-group-addon">$</span>
                                  <input type="text" class="form-control" id="datepicker" value="09/12/2016" placeholder="09/12/2016">
                                </div>                              
                            </div>
                            </div>
                            <div class="form-group">
                              <div class="col-md-3" style="width:150px;">
                               <h7>Price Paid($)</h7>
                               </div>
                               <div class="col-sm-3">
                                    <input type="text" class="form-control" value="2000" placeholder="2000">
                                </div> 
                              <div class="col-md-3" style="width:150px;">
                                <h7>Shares Owned</h7>
                              </div>
                               <div class="col-sm-3">
                                <div class="input-group m-b">
                                  <div class="input-group m-b">
                                      <input type="number" placeholder="10" value="10" id="shares_owned" name="shares_owned" min="1" class="form-control">
                                  </div>  
                                </div> 
                                </div>
                            </div> 
                          </div>  
                      <div>       
                        <div class="col-md-3" style="margin-top:15px">
                            <a href="/" class="btn btn-default btn-block btn-clean" type="submit">Cancel</a>
                        </div>
                        <div class="col-md-3" style="margin-top:15px">
                          <a id="finish" href="#modal_default_1" onclick="loadDummyData()" data-toggle="modal" class="btn btn-default btn-block btn-clean">Optimize</a>
                        </div>   
                    </div>
            </fieldset>                               
            </form><!-- End of Form -->
        </div> <!-- End of Content -->
     </div>
   </div>
{% block scripts %}

  <script type="text/javascript" src="/static/js/user/portfolio_settings.js"></script> 

{% endblock %}

<div class="col-lg-2"></div>




<div class="modal" id="modal_default_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="margin-top:25%">
            <div class="modal-content">

                    <div class="statusbar" id="statusbar_2" style="display: block;margin:0px;padding:10px;height:50px;">
                        <div class="statusbar-icon"><img src="/static/img/loader.gif"></div>
                        <div class="statusbar-text">Loading...</div>
                    </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-clean" data-dismiss="modal">Cancel</button>              
                </div>
            </div>
        </div>
</div>

{% block body %}

{% endblock %}

        </div>


    </div>
</div>
{% endblock %}
