{% extends "base.html" %}
{% block content %}
 <script src="/static/js/user/inbox.js"></script>
 <div class="col-lg-2" style="padding:0px;height:80vh;color:black;overflow:scroll">
    <div class="block block-drop-shadow" style="height:100%;background-color:rgba(0,0,0,0.2)">
        <div class="header">
            <h2>Sent Mail</h2>
            <div class="input-group" style="margin-left:75px;margin-bottom:10px">                        
            <input type="text" class="form-control" placeholder="Search...">
            <div class="input-group-addon"><span class="icon-search"></span></div>
            </div>            
        </div>                    
        <div class="content list-group list-group-icons">
            <a href="#" class="list-group-item" style="margin:20px"><span class="icon-trash"></span></span>AdamT<i class="icon-angle-right pull-right"></i></a>
            <a href="#" class="list-group-item" style="margin:20px"><span class="icon-trash"></span></span>Ramana<i class="icon-angle-right pull-right"></i></a>
            <a href="#" class="list-group-item" style="margin:20px"><span class="icon-trash"></span></span>Chaitra<i class="icon-angle-right pull-right"></i></a>                        
            <a href="#" class="list-group-item" style="margin:20px"><span class="icon-trash"></span></span>Rohan<i class="icon-angle-right pull-right"></i></a>          
        </div>                
    </div>    

</div>
<div class="col-lg-6" style="height:80vh;margin-left:25px">
                <div class="block block-drop-shadow" style="height:99%">
                    <div class="header">
                        <h2>Messaging</h2>
                        <div class="input-group" style="margin-left:100px">                        
                        <input type="text" class="form-control" placeholder="Search...">
                        <div class="input-group-addon"><span class="icon-search"></span></div>
                        </div>
                    </div>
                    <div class="content messages npr npt" style="height:75vh;overflow:scroll"> 
                        <!-- <div class="scroll mCustomScrollbar _mCS_1" style="height: 100%;"> -->
                        <!-- <div class="mCustomScrollBox mCS-light" id="mCSB_1" style="position:relative; min-height:90%; overflow:hidden; max-width:100%;"> -->
                        <div class="mCSB_container" style="position: relative; top: -7px;height:90%">
                            <div class="messages-item">
                                <img src="/static/img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:33 30.08.2013</div>
                            </div>
                            <div class="messages-item inbox">
                                <img src="/static/img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:32 30.08.2013</div>
                            </div>                                                                                                            
                            <div class="messages-item">
                                <img src="/static/img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:20 30.08.2013</div>
                            </div>                        
                            <div class="messages-item inbox">
                                <img src="/static/img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:19 30.08.2013</div>
                            </div>
                            <div class="messages-item">
                                <img src="/static/img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum nequeuis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum nequeuis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum nequeuis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum nequeuis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum nequeuis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:33 30.08.2013</div>
                            </div>
                            <div class="messages-item inbox">
                                <img src="/static/img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:32 30.08.2013</div>
                            </div>                                                                                                            
                            <div class="messages-item">
                                <img src="/static/img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:20 30.08.2013</div>
                            </div>                        
                            <div class="messages-item inbox">
                                <img src="/static/img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:19 30.08.2013</div>
                            </div>
                                                        <div class="messages-item">
                                <img src="/static/img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:33 30.08.2013</div>
                            </div>
                            <div class="messages-item inbox">
                                <img src="/static/img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:32 30.08.2013</div>
                            </div>                                                                                                            
                            <div class="messages-item">
                                <img src="/static/img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:20 30.08.2013</div>
                            </div>                        
                            <div class="messages-item inbox">
                                <img src="/static/img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:19 30.08.2013</div>
                            </div>
                            
                                                                              <div class="messages-item">
                                <img src="/static/img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:33 30.08.2013</div>
                            </div>
                            <div class="messages-item inbox">
                                <img src="/static/img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:32 30.08.2013</div>
                            </div>                                                                                                            
                            <div class="messages-item">
                                <img src="/static/img/example/user/dmitry_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Duis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum nequeuis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum nequeuis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum nequeuis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum nequeuis eu libero pellentesque, dapibus ante eu, vehicula leo. Nulla gravida rutrum neque</div>
                                <div class="messages-item-date">14:20 30.08.2013</div>
                            </div>                        
                            <div class="messages-item inbox">
                                <img src="/static/img/example/user/olga_s.jpg" class="img-circle img-thumbnail">
                                <div class="messages-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum nisl velit</div>
                                <div class="messages-item-date">14:19 30.08.2013</div>
                            </div>
                            
                

                    </div>

                </div>


{% endblock %}
