{% extends "base.html" %}

{% block content %}

<div class="sceneElement" data-viewport="0">
  <div class="col-lg-12" style="padding-top:25px;padding-left:10vw;padding-right:10vw;position:absolute;min-height:1200px">
      <div>
        <div class="row">
           <center>
               <h2 style="font-size:36px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px">Support
               </h2>
           <center>
        </div>
        <div class="row">                
            <form role="search">
             <center>
                <div class="col-md-2"></div>
                            <div class="col-md-8" style="margin-top:50px;margin-bottom:50px">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="icon-search"></span></div>
                                    <input class="form-control" placeholder="Enter your question or keyword ?" id="Search" >
                                </div>
                            </div>       
                    <div class="col-md-2"></div>         

                  </div>
              </center>       

            </form> 
        </div> 
        <div>
        <center>

        <div class="form-group">
        <div style="padding-bottom:20px;">
        <h3 style="font-size:24px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px">Frequently Asked Questions</h3>
         <hr>
        </div>
        <div>
            <h3 style="color:#66d9ff;font-size:24px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px" onclick="showtextbox('textbox9')"><i class="icon-chevron-right"></i> &nbsp; How long does it take to transfer money?</h3>
        </div>
        <div>
            <div id="textbox9" cols="40" rows="5" style="display:none;font-size:12px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px" onclick="showtextbox('textbox1')">Electronic deposits from your bank to Vise typically invest the following business day for deposits made before 11PM EST. This includes requests made on Saturday and Sunday. The only exception is auto-deposits that fall on weekends. If your auto-deposit falls on the weekend, it will invest on Tuesday (assuming that Monday is not a market holiday).
            Electronic withdrawals from Vise to your bank generally take 4-5 business days due to the required sale and settlement of securities. For example, if you made a withdrawal on Monday morning, you can expect your funds the following Monday (assuming that there are no market or bank holidays in the interim). Note that your withdrawal time may also be impacted if you have made recent deposits within the previous 5 business days.
            </div>

        </div>
        </div>
    <div class="form-group">
        <div>
            <h3 style="color:#66d9ff;font-size:24px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px" onclick="showtextbox('textbox2')"><i class="icon-chevron-right"></i> &nbsp; What is my Account Number?</h3>
        </div>
        <div>
            <div id="textbox2" cols="40" rows="5" style="display:none;font-size:12px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px">You can find your account number(s) by logging in here:<br>
        https://wwws.visebeta.com/<p>

        Alternatively, you can log into your account, click your name at the top right hand side and go to the Settings page.
            </div>
        </div>
        </div>
        <div class="form-group">
        <div>
            <h3 style="color:#66d9ff;font-size:24px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px" onclick="showtextbox('textbox3')"><i class="icon-chevron-right"></i> &nbsp; How do I transfer my IRA to Vise?</h3>
        </div>
        <div>
            <div id="textbox3" cols="40" rows="5" style="display:none;font-size:12px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px">To transfer your existing IRA to Vise, we will use a direct transfer process to avoid any tax consequences. A direct transfer entails your current provider sending us a check of your funds directly, for your benefit. 

To get started, please click "Rollover" at the top right hand side of your Summary page. You'll answer a few questions and receive full instructions to complete your IRA transfer, based on your provider's requirements. You'll need to sign transfer paperwork that Vise provides you to initiate the transfer.

These instructions only apply if you'd like to roll your funds into a Vise IRA. If you'd like to transfer funds into an existing Vise 401(k) plan through your employer, please contact us at support@ailabs.co for separate instructions. 

Additionally, if you have a special retirement plan like an inherited IRA, then please contact us at support@ailabs.co and we can guide you the process.

            </div>
        </div>
        </div>
        <div class="form-group">
        <div>
            <h3 style="color:#66d9ff;font-size:24px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px" onclick="showtextbox('textbox4')"><i class="icon-chevron-right"></i> &nbsp; I don't live in the United States, can I still have an account?</h3>
        </div>
        <div>
            <div id="textbox4" cols="40" rows="5" style="display:none;font-size:12px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px">Vise currently only operates in the United States*, and for regulatory reasons cannot accept customers residing outside the country.

Customers must have a permanent U.S. address, a U.S. Social Security Number, and a checking account from a U.S. bank.<p>

*Vise supports residents in Hawaii, Alaska and Puerto Rico. We currently do not support residents in Guam or the Virgin Islands.
            </div>
        </div>
        </div>
        <div class="form-group">
        <div>
            <h3 style="color:#66d9ff;font-size:24px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px" onclick="showtextbox('textbox6')"><i class="icon-chevron-right"></i> &nbsp; Is there a minimum deposit or balance? </h3>
        </div>
        <div>
            <div id="textbox6" cols="40" rows="5" style="display:none;font-size:12px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px">There is no minimum investment at Vise, and no minimum balance. One reason we have no minimum balance is to ensure that every investor can get started building wealth with both long-term and short-term goals. Vise is a powerful way to put idle balances to work for you, including your safety net fund. Americans on average do not save nearly enough money, so we challenge you to deposit as much as you can comfortably afford because the more you invest the more that will grow.Note that the amount Vise charges does depend on your account balance and auto-deposit settings. For more detail, look at our pricing page. 
            </div>
        </div>
        </div>
        </center>
        <!--right side-->

        <center style="margin-top:200px;margin-bottom:200px">
        <div style="padding-bottom:20px;">
        <h3 style=";font-size:24px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px">Feature/Change Requests</h3>
         <hr>
        </div>
           <textarea style="font-size:15px;" rows="4" cols="50" placeholder="Contact us at changes@ailabs.co"></textarea>
        </center>
        </div>              
       </div>
    </div>
<div class="nav">
    <a href="/user/dashboard" data-target="-1" style=";margin-right:50px;float:right">           
      <h1><span class="icon-angle-right" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:98vw;font-size:24px"></span></h1></a>
    <a href="/user/news_portal" data-target="1" style=";margin-left:50px;float:left">
       <h1><span class="icon-angle-left" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:1vw;font-size:24px"></span></h1>
    </a>
  </div>
<!-- End -->
</div>
</body>
{% endblock %}

{% block scripts %}

            <script type="text/javascript">
            function showtextbox(id)
            {
            var tb = document.getElementById(id);
            if(tb.style.display!=="none")
                tb.style.display="none";
            else
                tb.style.display="block";
            }
            $(".page-navigation li a").click(function(e){  
            console.log("asdf")  
                if (e.currentTarget.id == 'myPortfolios') {
                    var ul = $(this).parent('li').children('ul');
                        if(ul.is(':visible')) {
                            setTimeout(function(){ 
                                ul.slideUp('fast');                
                            }, 100);
                        } else {
                            setTimeout(function(){ 
                                ul.slideDown('fast');                
                            }, 100);
                        }
                }
                if (e.currentTarget.id !== 'myPortfolios') {
                    $(".statusbar").show()
                    setTimeout(function(){ 
                        var url = e.currentTarget.id
                            console.log(url)
                            if (url) {
                            location.assign(url)
                        }
                    }, 1000);
                };
            })
            </script>
{% endblock %}
Contact GitHub API Training Shop Blog About
