{% extends "base.html" %}

{% block content %}

<div class="sceneElement" data-viewport="0">
    <div class="row" style="height:100%">
    <div class="col-lg-4" style="min-height:1200px;height:100%;background:black">
          <a href="javascript:void(0)" class="closebtn" onclick="i_closeNav()">&times;</a>
            <div style="width:100%;height:100%;text-align:center">
                <img src="/static/img/profile.svg" style="width:100px;border-radius:50px;margin-left:5px">
                <div style="margin-top:50px;height:100%">
                    <h2 style="font-family:Raleway;font-size:24px;font-weight:100">{{first_name}}<!-- <span class="icon-pencil" style="position:absolute;right:25px"></span> --></h2>
                    <hr style="margin-top:15px;margin-bottom:0px;width:50%">
                    First Name 
                    <h2 style="font-family:Raleway;font-size:24px;font-weight:100">{{last_name}}<!-- <span class="icon-pencil" style="position:absolute;right:25px"></span> --></h2>
                    <hr style="margin-top:15px;margin-bottom:0px;width:50%">
                    Last Name             
                    <h2 style="font-family:Raleway;font-size:18px;font-weight:100;margin-top:50px">{{last}}</h2>
                    <hr style="margin-top:5px;margin-bottom:0px;width:50%">
                    Last Login
                    <h2 style="font-family:Raleway;font-size:18px;font-weight:100;margin-top:50px">{{date_joined}}</h2>
                    <hr style="margin-top:5px;margin-bottom:0px;width:50%">
                    Date Joined
                    <h2 style="font-family:Raleway;font-size:24px;font-weight:100;margin-top:50px">{{email}}<!-- <span class="icon-pencil" style="position:absolute;right:25px"></span> --></h2>
                    <hr style="margin-top:15px;margin-bottom:0px;width:50%">
                    Email (Unconfirmed)<br>
                    <button type="button" class="btn btn-warning btn-clean" id="emailed_confirmed">Resend</button>
                
                    <h2 style="font-family:Raleway;font-size:24px;font-weight:100;margin-top:50px">{{phone}}</h2>
                    <hr style="margin-top:15px;margin-bottom:0px;width:50%">
                    <span id="phone_number">Phone Number</span><br>
                    <div id="phone_confirmed" style="display:none">
                        <button type="button" class="btn btn-warning btn-clean">
                            <input type="number" style="text-align:center" max="999999" id="phone_code">
                        </button>
                        <div class="btn-group">
                          <button type="button" class="btn btn-warning btn-clean" onClick="resend_phone()">Resend</button>
                          <button type="button" class="btn btn-warning btn-clean" onClick="confirm_phone()">Confirm</button>
                        </div>
                    </div>

                    <div class="row" style="margin-top:25px;margin-bottom:25px;padding-left:10px;padding-right:10px">
                        <div class="col-md-6">
                        <img src="/static/img/bg-1.jpg" style="width:150px;height:150px" onClick="background(this)">
                        </div>
                        <div class="col-md-6">
                            <img src="/static/img/bg-13.jpg" style="width:150px;height:150px" onClick="background(this)">
                        </div>
                    </div>
                    <div class="row" style=";padding-left:10px;padding-right:10px" onClick="background(this)">
                        <div class="col-md-6">
                            <img src="/static/img/bg-10.jpg" style="width:150px;height:150px" onClick="background(this)">
                        </div>
                        <div class="col-md-6">
                            <img src="/static/img/bg-11.jpg" style="width:150px;height:150px" onClick="background(this)">
                        </div>
                    </div>
                    <hr style="margin-top:15px;margin-bottom:0px;width:50%">
                    Background
                </div>
            </div>
    </div>
      <div class="col-md-8" style="height:100%">
               <h2 style="font-size:36px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px;margin-top:50px">Your Profile Settings
               </h2>
        <div class="row" style="margin-top:50px">
              <div class="block" style="width:90%;left:5%;margin-bottom:0px;">
                        <div class="header">
                            <div class="side pull-left">
                                Firm Information
                            </div>
                            <div class="side pull-right">                            
                                <ul class="buttons">
                                    <li><a href="#" class="block-toggle tip" title="" data-original-title="Toggle content"><span class="icon-chevron-down"></span></a></li>
                                    <li><a href="#" class="block-remove tip" title="" data-original-title="Remove block"><span class="icon-remove"></span></a></li>
                                </ul>
                            </div>                        
                        </div>
            </div> 
              <div class="block block-transparent" style="height:250px;width:90%;left:5%;margin-bottom:0px;background:rgba(0,0,0,0.2)">
                <table class="table table-hover" style="position:relative;top:-5px;width:90%;margin-top:50px;font-size:24px;font-family:Raleway">
                                  <thead>
                                        <tr>
                                            <th style="text-align:right;padding:0px;width:33%;padding-bottom:10px">Firm Name</th>
                                        <th style="text-align:right;padding:0px;width:33%;padding-bottom:10px">Firm Size</th>
                                        <th style="text-align:right;padding:0px;width:33%;padding-bottom:10px">Assets</th>
                                           </tr>
                                   </thead>
                                <tbody style="font-weight:300;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px;font-size:9px;text-align:center;color:white">
                                 <tr>
                                        <td style="text-align:right;padding:0px;white-space: nowrap;font-size:36px;padding-top:10px;font-family:Raleway">{{firmname}}</td>
                                        <td style="text-align:right;padding:0px;width:20px;font-size:36px;padding-top:10px;font-family:Raleway">{{firmsize}}</td>
                                        <td style="text-align:right;padding:0px;font-size:36px;padding-top:10px;font-family:Raleway">{{assets}}</td>
                                   </tr>


                                    
                                  </tbody>
                                </table>

              </div>
        </div>
        <div class="row" style="margin-top:100px">
              <div class="block" style="width:90%;left:5%;margin-bottom:0px;">
                        <div class="header">
                            <div class="side pull-left">
                                Archives
                            </div>
                            <div class="side pull-right">                            
                                <ul class="buttons">
                                    <li><a href="#" class="block-toggle tip" title="" data-original-title="Toggle content"><span class="icon-chevron-down"></span></a></li>
                                    <li><a href="#" class="block-remove tip" title="" data-original-title="Remove block"><span class="icon-remove"></span></a></li>
                                </ul>
                            </div>                        
                        </div>
            </div> 
              <div class="block block-transparent" style="height:200px;width:90%;left:5%;margin-bottom:0px;background:rgba(0,0,0,0.2)">
                <div class="row" style="height:100%;padding-left:25px;padding-right:25px">
                    <div class="col-md-6" style="height:100%;padding-top:50px;padding:50px">
                        <center>
                        <span style="font-size:24px;font-family:Raleway"> Messages Archive </span><p>
                            <span class="icon-comments" style="font-size:48px;position:relative;top:25px"></span>
                        </center>
                    </div>
                    <div class="col-md-6" style="height:100%;padding-top:50px;padding:50px">
                        <center>
                        <span style="font-size:24px;font-family:Raleway"> Portfolio Archive </span><p>
                            <span class="icon-folder-open-alt" style="font-size:48px;position:relative;top:25px"></span>
                        </center>
                    </div>                                        
    
                </div>
              </div>
        </div>        

    </div>
</div>
</div>
<div class="nav">
    <a href="/user/dashboard" data-target="-1" style=";margin-right:50px;float:right">           
      <h1><span class="icon-angle-right" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:98vw;font-size:24px"></span></h1></a>
    <a href="/user/news_portal" data-target="1" style=";margin-left:50px;float:left">
       <h1><span class="icon-angle-left" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:1vw;font-size:24px"></span></h1>
    </a>
  </div>
<!-- End -->

</body>
{% endblock %}

{% block scripts %}

            <script type="text/javascript">
            function showtextbox(id)
            {
            var tb = document.getElementById(id);
            if(tb.style.display!=="none")
                tb.style.display="none";
            else
                tb.style.display="block";
            }
            $(".page-navigation li a").click(function(e){  
            console.log("asdf")  
                if (e.currentTarget.id == 'myPortfolios') {
                    var ul = $(this).parent('li').children('ul');
                        if(ul.is(':visible')) {
                            setTimeout(function(){ 
                                ul.slideUp('fast');                
                            }, 100);
                        } else {
                            setTimeout(function(){ 
                                ul.slideDown('fast');                
                            }, 100);
                        }
                }
                if (e.currentTarget.id !== 'myPortfolios') {
                    $(".statusbar").show()
                    setTimeout(function(){ 
                        var url = e.currentTarget.id
                            console.log(url)
                            if (url) {
                            location.assign(url)
                        }
                    }, 1000);
                };
            })
            </script>
{% endblock %}


