{% extends "base.html" %}

{% block content %}
  <div class="nav">
    <a href="/user/dashboard/" data-target="-1" style=";margin-right:50px;float:right">           
      <h1><span class="icon-angle-right" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:88vw;"></span></h1></a>
    <a href="/user/news_portal" data-target="1" style=";margin-left:50px;float:left">
       <h1><span class="icon-angle-left" style="display: inline-block;line-height: 90vh;position: fixed;top:50px;left:12vw;"></span></h1>
    </a>
  </div>
<div class="sceneElement" data-viewport="0">
  <div class="col-lg-12">
      <div>
        <div class="row">
           <center>
               <h2 style="font-size:36px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px">Support
               </h2>
           <center>
        </div>
        <div class="row">                
            <form role="search">
             <center>
                <div class="col-md-2"></div>
                            <div class="col-md-8" style="margin-top:50px;margin-bottom:50px">
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="icon-search"></span></div>
                                    <input class="form-control" placeholder="Enter your question or keyword ?" id="Search" >
                                </div>
                            </div>       
                    <div class="col-md-2"></div>         

                  </div>
              </center>       

            </form> 
        </div> 
        <div>
        <center>
        <div class="form-group">
        <div style="padding-bottom:20px;">
        <h3 style="font-size:36px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px">Frequently Asked Questions</h3>
         <hr>
        </div>
        <div>
            <h3 style="color:#66d9ff;font-size:36px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px" onclick="showtextbox('textbox1')"><i class="icon-chevron-right"></i> &nbsp; How long does it take to transfer money?</h3>
        </div>
        <div>
            <div id="textbox1" cols="40" rows="5" style="display:none;font-size:12px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px" onclick="showtextbox('textbox1')">Electronic deposits from your bank to Betterment typically invest the following business day for deposits made before 11PM EST. This includes requests made on Saturday and Sunday. The only exception is auto-deposits that fall on weekends. If your auto-deposit falls on the weekend, it will invest on Tuesday (assuming that Monday is not a market holiday).
            Electronic withdrawals from Betterment to your bank generally take 4-5 business days due to the required sale and settlement of securities. For example, if you made a withdrawal on Monday morning, you can expect your funds the following Monday (assuming that there are no market or bank holidays in the interim). Note that your withdrawal time may also be impacted if you have made recent deposits within the previous 5 business days.
            </div>

        </div>
        </div>
        <div class="form-group">
        <div>
            <h3 style="color:#66d9ff;font-size:36px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px" onclick="showtextbox('textbox2')"><i class="icon-chevron-right"></i> &nbsp; What does Betterment cost?</h3>
        </div>
        <div>
            <div id="textbox2" cols="40" rows="5" style="display:none;font-size:12px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px">Betterment charges a management fee of 0.15% to 0.35%, depending on your balance and auto-deposit, and is prorated across the entire year and is charged at the end of each calendar quarter (every three months).
            For accounts under $10,000 we provide 2 pricing options. For those who have automated deposits turned on for at least $100/month, the rate is just 0.35%. If you choose not to automate your savings, the fee is still a low flat rate of just $3/month. This is either/or and never combined. After your account reaches $10,000 there are no longer deposit requirements and we focus on reducing your fee down to just 0.25% per year, and then further to 0.15% when your account is over $100,000.
            </div>
        </div>
        </div>
        <div class="form-group">
        <div>
            <h3 style="color:#66d9ff;font-size:36px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px" onclick="showtextbox('textbox3')"><i class="icon-chevron-right"></i> &nbsp; Is there a minimum deposit or balance? </h3>
        </div>
        <div>
            <div id="textbox3" cols="40" rows="5" style="display:none;font-size:12px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:2px">There is no minimum investment at Betterment, and no minimum balance. One reason we have no minimum balance is to ensure that every investor can get started building wealth with both long-term and short-term goals. Betterment is a powerful way to put idle balances to work for you, including your safety net fund. Americans on average do not save nearly enough money, so we challenge you to deposit as much as you can comfortably afford because the more you invest the more that will grow.Note that the amount Betterment charges does depend on your account balance and auto-deposit settings. For more detail, look at our pricing page. 
            </div>
        </div>
        </div>
        </center>
        <!--right side-->

        <center style="margin-top:200px;margin-bottom:200px">
        <div style="padding-bottom:20px;">
        <h3 style=";font-size:36px;font-weight:200;-webkit-font-smoothing: antialiased;font-family:'helvetica neue';letter-spacing:3px">Feature/Change Requests</h3>
         <hr>
        </div>
           <textarea style="font-size:15px;" rows="4" cols="50" placeholder="Contact us at changes@ailabs.co"></textarea>
        </center>
        </div>              
       </div>
    </div>
<!-- End -->
</div>
</body>
{% endblock %}

{% block scripts %}

            <script type="text/javascript">
            function showtextbox(id)
            {
            var tb = document.getElementById(id);
            if(tb.style.display!=="none")
                tb.style.display="none";
            else
                tb.style.display="block";
            }
            $(".page-navigation li a").click(function(e){  
            console.log("asdf")  
                if (e.currentTarget.id == 'myPortfolios') {
                    var ul = $(this).parent('li').children('ul');
                        if(ul.is(':visible')) {
                            setTimeout(function(){ 
                                ul.slideUp('fast');                
                            }, 100);
                        } else {
                            setTimeout(function(){ 
                                ul.slideDown('fast');                
                            }, 100);
                        }
                }
                if (e.currentTarget.id !== 'myPortfolios') {
                    $(".statusbar").show()
                    setTimeout(function(){ 
                        var url = e.currentTarget.id
                            console.log(url)
                            if (url) {
                            location.assign(url)
                        }
                    }, 1000);
                };
            })
            </script>
{% endblock %}
Contact GitHub API Training Shop Blog About
